.reveal p {
    text-align: left;
}
.reveal em {
    color: #1b91ff;
    font-style: normal;
}
.reveal a:not(.image) {
    text-decoration: underline;
}
.reveal ul {
    display: block;
    padding-left: 3rem;
}
.reveal li {
    margin-bottom: .25em;
}
.reveal hr {
    border-style: dashed;
    color: rgba(0,0,0, .2);
    margin: 1em auto;
}
.reveal pre {
    margin-top: 2em;
}
.reveal pre code {
    padding: 10px;
}
.reveal .footnote {
    position: relative;
}
.reveal .footnote:after {
    background: rgba(52, 73, 94, .9);
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0,0,0, .4);
    content: attr(data-content);
    font-size: .75rem;
    font-weight: bold;
    line-height: 1.75;
    margin: 1em 0 0 -.875em;
    display: block;
    position: absolute;
        top: 100%;
        left: 50%;
    text-align: center;
    width: 1.75em;
    height: 1.75em;
}
.reveal .subtitulo {
    color: yellow;
    font-family: 'Comic Sans MS';
    font-size: xx-large;
}

.reveal #hi-button {
    background: linear-gradient( hsl(0, 40%, 50%), hsl(0, 45%, 40%));
    border: 3px solid hsl(0,40%,55%);
    border-radius: .5em;
    color: hsl(0,40%,85%);
    cursor: pointer;
    font-size: 1.2em;
    margin-top: .5em;
    padding: .25em .5em;
    text-shadow: 1px 1px 1px rgba(0,0,0,.25);
}
.reveal #hi-button:hover {
    background: linear-gradient( hsl(0, 40%, 60%), hsl(0, 45%, 50%));
}
.reveal #hi-button:focus {
    outline: 0;
}
.reveal #hi-button:active {
    background: linear-gradient( hsl(0, 40%, 45%), hsl(0, 45%, 35%));
    box-shadow: inset -2px 2px 2px rgba(0,0,0, .3);
}
.reveal .hi {
    color: hsl(0,40%,50%);
    font-family: Georgia, serif;
    font-size: 1.8em;
    padding: .25em 0;
}
.reveal .hi:before,
.reveal .hi:after {
    content: '~';
}


/* DAY 02 */
.reveal .font-list {
    font-size: .65em;
}
.reveal .font-list li {
    border-bottom: 1px dashed rgba(255,255,255, .2);
    margin-bottom: .15em;
    padding-bottom: .15em;
}
.reveal .font-list strong {
    font-size: 1.2em;
}


/* DAY 03 */
.reveal .specificity {
    color: #333;
    font-family: "League Gothic", Impact, sans-serif;
    font-size: 8rem;
    line-height: 1.2;
    margin-top: 10rem;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
}
.reveal .specificity span {
    background: rgba(0,0,0, .2);
    box-shadow: inset 0 0 10px rgba(0,0,0, .5);
    display: inline-block;
    margin: 0 1rem;
    padding: 2rem 3rem;
    position: relative;
}
.reveal .specificity span:after {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    line-height: 1;
    position: absolute;
        top: -3rem;
        left: 0;
        right: 0;
    text-align: center;
}
.reveal .specificity__inline    { color: hsl(0, 60%, 45%);   }
.reveal .specificity__id        { color: hsl(45, 60%, 45%);  }
.reveal .specificity__class     { color: hsl(90, 60%, 45%);  }
.reveal .specificity__element   { color: hsl(185, 60%, 45%); }

.reveal .specificity .specificity__inline:after {
    content: 'Style attribute';
        top: -5rem;
}
.reveal .specificity .specificity__id:after {
    content: 'IDs';
}
.reveal .specificity .specificity__class:after {
    content: 'Class, \00000apseudo-class,\00000a attribute';
    font-size: 1.5rem;
        top: -5.5rem;
    white-space:pre;
}
.reveal .specificity .specificity__element:after {
    content: 'Elements';
}

.reveal .specificity__example    {
    box-shadow: none;
    margin: 1rem 0 3rem;
    font-size: 3rem;
}
.reveal .specificity--important {
    margin-top: 1rem;
}
.reveal .specificity--important span {
    font-size: 4rem;
    margin: 0 1rem;
    padding: 0 1.5rem;
    position: relative;
}
.reveal .specificity--important span:after {
    display: none;
}
.reveal .specificity .specificity__important-wrap {
    background: transparent;
    box-shadow: none;
    margin: 0;
    padding: 1rem;
}
.reveal .specificity .specificity__important-wrap:first-of-type {
    outline: 1px solid red;
}

.reveal .dl-example {
    float: right;
    font-size: 1.5rem;
    line-height: 1.3;
    list-style-position: inside;
    margin: 0;
    text-align: left;
    width: 40%;
}
.reveal .dl-example dt {
    font-weight: bold;
    margin-top: .25em;
}
.reveal .dl-example dd {
    text-indent: 1em;
}


/* DAY 04 */
.reveal .box-model__margin {
    box-sizing: border-box;
    border: 2px dashed #2c3e50;
    background: rgba(243, 156, 18, .6);
    display: inline-block;
    padding: 50px;
    width: 504px;
}
.reveal .box-model {
    background: #27ae60;
    border: 2px solid #2c3e50;
    display: block;
    padding: 50px;
    width: 300px;
}
.reveal .box-model span {
    color: #fff;
    display: block;
    background: #2980b9;
    font-size: 50px;
    line-height: 50px;
}
.reveal .borders-example code {
  background: #eaeaed;
  color: #666;
  font-size: 14px;
  line-height: 24px;
  display: inline-block;
  height: 70px;
  margin: 0 14px;
  padding-top: 20px;
  text-align: center;
  width: 90px;
}
.reveal .border-solid  { border: 2px solid #9799a7; }
.reveal .border-double { border: 6px double #9799a7; }
.reveal .border-dashed { border: 8px dashed #9799a7; }
.reveal .border-dotted { border: 4px dotted #9799a7; }


/* DAY 05 */

.reveal .float-wrap {
    border: 1px dotted #666;
    background: rgba(0,0,0, .1);
    margin: 0 auto 1em;
    overflow: auto;
    width: 250px;
}
.reveal .float-box {
    background: gold;
    border: 2px solid orange;
    margin: .25em;
    font-size: 1.5rem;
    font-weight: bold;
    width: 45px;
    height: 45px;
}
.reveal .float-left { float: left; }
.reveal .float-right { float: right; }

.reveal .float-example-02 .float-wrap,
.reveal .float-example-03 .float-wrap {
    overflow: visible;
    width: 450px;
}
.reveal .float-example-02 .float-wrap {
    padding: .5em;
}
.reveal .float-example-03 .float-wrap {
    background: transparent;
    border-color:rgba(0,0,0, .2);
    padding: .25em;
}
.reveal .float-example-03 p {
    font-size: 1.5rem;
}


.reveal .float-example-02 .float-box,
.reveal .float-example-03 .float-box {
    width: 50px;
    height: 50px;
}
.reveal .float-clear {
    clear: both;
    background: hsla(200, 60%, 50%, .3);
    font-size: 1.3rem;
    line-height: 1;
    padding: .5em;
    text-align: center;
}
.reveal .float-example-02 .float-cleared {
    overflow: auto;
}
.reveal .hidden-link {
    display: block;
    position: absolute;
        top: 0;
        left: 0;
    width: 1em;
    height: 1em;
}
.reveal .hidden-link:hover {
    background: rgba(0,0,0, .1);
}


/* DAY 06 */
.reveal .bg-image pre code {
    font-size: 1.5rem;
    padding: .75em 1em;
}
.reveal .image-wrap {
    background-color: rgba(0,0,0, .2);
    border: 2px solid rgba(0,0,0, .5);
    color: #000;
    font-size: 1.4rem;
    margin: 1.5rem auto;
    padding: 1em;
    width: 60%;
}
.reveal .is--dalek { background-image: url(../slides/day-06/dalek.png); }
.reveal .is--megaman { background-image: url(../slides/day-06/megaman.png); }
.reveal .is--tripi {
    background-image: url(http://31.media.tumblr.com/tumblr_m8r8u6QyZD1qzw1qyo1_500.gif);
    background-position: center;
    background-repeat: no-repeat;
    border: 20px solid rgba(0,0,0, .4);
    color: #fff;
    padding: 50px;
    width: 350px;
    height: 350px;
}


/* DAY 07 */
.reveal .gradient-wrap {
    border: 2px solid rgba(0,0,0, .5);
    font-size: 1.4rem;
    margin: 1.5rem auto;
    width: 60%;
    height: 300px;
}
.reveal .position {
    border: 2px solid rgba(0,0,0, .2);
    font-size: 1.5rem;
    margin: 0 auto;
    position: relative;
    width: 300px;
}
.reveal .position:after {
    background: #fff;
    position: absolute;
        top: 0px;
        left: -130px;
}
.reveal .container-1:after { content: '.container-1'; }
.reveal .container-2:after {
    content: '.container-2';
        top: 60px;
        left: -90px;
}
.reveal .position .box {
    color: #fff;
    font-size: 1.5rem;
    line-height: 100px;
    text-align: center;
    width: 100px;
    height: 100px
}
.reveal .position .box-1 {
    background: #27ae60;
}
.reveal .position .box-2 {
    background: #8e44ad;
}
.reveal .position .box-3 {
    background: #d35400;
}
.reveal .container-1 {
    padding: 40px;
    /*width: 340px;*/
}
.reveal .container-2 {
    border: 2px solid rgba(120,0,0, .2);
}


/* DAY 09 */
.reveal .mq p {
    color: red;
}

@media (max-width: 1000px) {
    .reveal .mq p {
        color: blue;
    }
}