<section>
    <h3>Módulo III <br /><span class="marker">Programación Frontend</span></h3>
    <h3><strong>Fundamentos CSS</strong></h3>
</section>

<section>
    <h2>CSS</h2>
    <ul>
        <li>Las siglas CSS corresponden a Cascade Style Sheet <em>Hojas de estilo en cascada</em></li>
        <li>El <span class="marker">HTML</span> aporta estructura a la página.</li>
        <li>El <span class="marker">CSS</span> es un conjunto de reglas de formato encargado de controlar la presentación del código HTML.</li>
    </ul>
</section>

<section>
    <h2>Componentes de una Web</h2>
    <p>Una página web puede estar formada por 5 componentes principales:</p>
    <img src="../img/css-componentesWeb.jpg" alt="">
</section>

<section>
    <h2>Componentes de una Web</h2>
    <p>Para crear una página web estática sólo necesitaremos HTML para la estructura y CSS para la presentación:</p>
    <img src="../img/css-componentesWeb2.jpg" alt="">
</section>

<section>
    <h2>Características del CSS</h2>
    <ul>
        <li>El CSS es un conjunto de reglas de formato más que un lenguaje de programación como el HTML o Javascript.</li>
        <li>Generalmente se encuentran en archivos externos y se vinculan al encabezado de la web < head >.</li>
        <li>El término <strong>“en cascada”</strong> hace referencia a cómo se aplican los estilos: Según el orden, un estilo prevalece sobre el otro</li>
    </ul>
</section>

<section>
    <h2>Estilos en cascada</h2>
    <ul>
        <li>Los estilos se aplican en función del orden en el que se encuentran en la página</li>
        <li>Prevalecen los estilos aplicados en función de su <span class="marker">especificidad</span> y el orden en el que se aplican.</li>
        <li>Aplicar un estilo significa <strong>seleccionar</strong> un elemento de la página y modificar sus atributos por defecto.</li>
    </ul>
</section>

<section>
    <h2>Ventajas de usar CSS</h2>
    <p>El carácter modular del CSS permite modificar el aspecto de una página por completo sin afectar al contenido.</p>
    <img src="../img/css-componentesWeb3.jpg" alt="">
</section>

<section>
    <h2>Ventajas de usar CSS</h2>
    <p>Mediante hojas de estilo específicas podemos optimizar contenidos para múltiples dispositivos.</p>
    <img src="../img/css-componentesWeb4.jpg" alt="">
</section>

<section>
    <section>
        <h3><strong>CSS por defecto</strong></h3>
        <h3><span class="marker">Estilos CSS User Agent</span></h3>
    </section>

    <section>
        <h3><strong>CSS del Navegador</strong></h3>
        <ul>
            <li>Un documento HTML siempre se representa con una hoja de estilos por defecto.</li>
            <li>Cada navegador web dispone de sus propios estilos.</li>
            <li>Para evitar inconsistencias aplicamos <span class="marker">Normalize</span></li>
            <li><a href="https://github.com/necolas/normalize.css/blob/master/normalize.css">¿Qué es Normalize?</a></li>
        </ul>
    </section>

    <section>
        <h3><strong>¿Por qué Normalize?</strong></h3>
        <ul>
            <li>Los elementos de la página se representan con el mismo valor.</li>
            <li>Sobreescribe los estilos por defecto del navegador web.</li>
            <li>Nuestra hoja de estilo sobreescribirá los valores de Normalize.</li>
        </ul>
    </section>

    <section>
        <h3><strong>Estilos predefinidos</strong></h3>
        <ul>
            <li>Todos los navegadores web permiten al usuario establecer unos estilos por defecto.</li>
            <li>Los estilos de usuario definen los valores por defecto.</li>
            <li>El usuario puede omitir por completo la hoja de estilos del documento.</li>
        </ul>
    </section>

    <section>
        <h3><strong>Estilos predefinidos</strong></h3>
        <img src="../img/css-chromePrefsDefault.png" alt=""><br />
        <span class="marker">chrome://settings/</span>
    </section>
</section>

<section>
    <section>
        <h3><strong>Sintaxis</strong></h3>
        <h3><span class="marker">Estructura del código CSS</span></h3>
    </section>

    <section>
        <h2>Selector</h2>
        <p>Mediante el Selector indicamos al código el elemento al que queremos aplicar formato.</p>
        <img src="../img/css-selectores01.jpg" alt="">
    </section>

    <section>
        <h2>Declaración</h2>
        <p>El código entre { } es la secuencia de estilos que aplicaremos al Selector.</p>
        <img src="../img/css-selectores02.jpg" alt="">
    </section>

    <section>
        <h2>Propiedad</h2>
        <p>Atributo del Selector que queremos modificar. Finaliza siempre en :</p>
        <img src="../img/css-selectores03.jpg" alt="">
    </section>

    <section>
        <h2>Valor</h2>
        <p>Modificando el Valor de una propiedad aplicamos un estilo al selector. <br />Finaliza siempre en ;</p>
        <img src="../img/css-selectores04.jpg" alt="">
    </section>

    <section>
        <h2>Formato</h2>
        <p>Los espacios en blanco y saltos de línea se utilizan para mejorar la legibilidad.</p>
        <img src="../img/css-selectores05.jpg" alt="">
    </section>

    <section>
        <h2>Comentarios de código</h2>
        <p>Los comentarios tienen el formato: <span class="marker">/* ...comentario... */</span></p>
        <img src="../img/css-selectores06.jpg" alt="">
    </section>
</section>

<section>
    <section>
        <h3><strong>Tipos de selectores</strong></h3>
        <h3><span class="marker">Etiqueta / Elemento</span></h3>
    </section>

    <section>
        <h2>Etiqueta / Elemento</h2>
        <p>Es el más genérico. <br />Aplicamos estilo a todos los elementos de la página.</p>
        <img src="../img/css-selectores07.jpg" alt="">
    </section>

    <section>
        <h2>Clase</h2>
        <ul>
            <li>Atributo HTML aplicable a cualquier elemento</li>
            <li>Pueden tener cualquier <a href="https://developer.mozilla.org/es/docs/Web/CSS/Escribir_CSS_eficiente" target="_blank">nombre</a></li>
            <li>Se pueden aplicar a múltiples elementos en una misma página</li>
            <li>Son sensibles a las mayúsculas</li>
        </ul>
        <img src="../img/css-selectores08.jpg" alt="">
    </section>

    <section>
        <h2>Identificador</h2>
        <ul>
            <li>Atributo HTML aplicable a cualquier elemento</li>
            <li>Pueden tener cualquier nombre</li>
            <li>Los ID han de ser únicos en una misma página</li>
            <li>Son sensibles a las mayúsculas</li>
            <li>Recuerda: Clases > estilos | IDs > <a href="http://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_doc_getelementbyid" target="_blank">Javascript</a></li>
        </ul>
        <img src="../img/css-selectores09.jpg" alt="">
    </section>
</section>

<section>
    <section>
        <h3><strong>Combinaciones de selectores</strong></h3>
        <h3>Aumentamos<span class="marker"> la especificidad</span></h3>
    </section>

    <section>
        <h2>Selector Elemento-Específico</h2>
        <p>La combinación Elemento-específico aplica una clase o un ID exclusivamente al elemento que le precede.</p>
        <img src="../img/css-selectores10.jpg" alt="">
    </section>

    <section>
        <h2>Selector Descendente</h2>
        <ul>
            <li>Especifican un elemento basándose en su jerarquía</li>
            <li>Ofrece altos niveles de especificidad pero es poco versátil</li>
            <li>Se colocan las etiquetas una a continuación de la otra separadas por un espacio</li>
        </ul>
        <img src="../img/css-selectores11.jpg" alt="">
    </section>

    <section>
        <h2>Agrupar selectores</h2>
        <p>Aplicamos los mismos estilos situándolos uno a continuación del otro<br /> separados por coma (,)</p>
        <img src="../img/css-selectores12.jpg" alt="">
    </section>
</section>

<section>
    <section>
        <h3><strong>Selector contextual</strong></h3>
    </section>

    <section>
        <h2>Selector universal</h2>
        <p>Aplica la declaración a todos los elementos de la página sin excepción</p>
        <img src="../img/css-selectores13.jpg" alt="">
    </section>

    <section>
        <h2>Selector atributo</h2>
        <p>El selector de atributo aplicará la declaración sólo cuando el elemento disponga de un atributo que coincida exactamente con el contenido entre paréntesis [ ]</p>
        <img src="../img/css-selectores14.jpg" alt="">
    </section>

    <section>
        <h2>Selector atributo + valor</h2>
        <p>El selector de atributo aplicará la declaración sólo cuando el elemento disponga de un atributo y un valor que coincida exactamente con el contenido entre paréntesis [ ]</p>
        <img src="../img/css-selectores15.jpg" alt="">
    </section>

    <section>
        <h2>Selector de hijos</h2>
        <p>Selecciona a un elemento que se encuentra anidado.</p>
        <img src="../img/css-selectores16.jpg" alt="">
    </section>

    <section>
        <h2>Selector de hermanos adyacentes</h2>
        <p>Selecciona al elemento indicado que se encuentre a su mismo nivel en la jerarquía y a continuación.</p>
        <img src="../img/css-selectores17.jpg" alt="">
    </section>

    <section>
        <h2>Selector de hermanos NO adyacentes</h2>
        <p>Selecciona al elemento indicado que se encuentre a su mismo nivel independientemente de la jerarquía.</p>
        <img src="../img/css-selectores18.jpg" alt="">
    </section>
</section>

<section>
    <section>
        <h2>Estilos de texto</h2>
    </section>
    <section>
        <ul class="font-list">
            <li>
                <strong>font-family</strong> - <i>&#060;family name, &hellip;&#062;</i> | <i>&#060;generic-family&#062;</i>
            </li>
            <li>
                <strong>font-size</strong> - <i>&#060;absolute-size&#062;</i> | <i>&#060;relative-size&#062;</i> | <i>&#060;length&#062;</i> | <i>&#060;percentage&#062;</i>
            </li>
            <li>
                <strong>font-style</strong> - normal | italic | oblique
            </li>
            <li>
                <strong>font-variant</strong> - normal | small-caps
            </li>
            <li>
                <strong>font-weight</strong> - normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900
            </li>
            <li>
                <strong>line-height</strong> - normal | <i>&#060;number&#062;</i> | <i>&#060;length&#062;</i> | <i>&#060;percentage&#062;</i>
            </li>
            <li>
                <strong>text-align</strong> - left | right | center | justify
            </li>
            <li>
                <strong>text-decoration</strong> - none | underline | overline | line-through
            </li>
            <li>
                <strong>text-indent</strong> - <i>&#60;length&#62;</i> | <i>&#60;percentage&#62;</i>
            </li>
            <li>
                <strong>text-shadow</strong> - none | <i>&#60;shadow&#62;</i>, <i>&#60;shadow&#62;</i>
            </li>
            <li>
                <strong>text-transform</strong> - none | capitalize | uppercase | lowercase
            </li>
            <li>
                <strong>letter-spacing</strong> - normal | <i>&#60;length&#62;</i>
            </li>
            <li>
                <strong>word-spacing</strong> - normal | <i>&#60;length&#62;</i>
            </li>
        </ul>
    </section>
</section>

<section>
    <h2>Links relacionados</h2>
    <ul>
        <li style="margin-bottom: .8em;">
            <strong>CSS Zen Garden</strong><br>
            <a href="http://www.csszengarden.com/" style="font-size: .8em;">http://www.csszengarden.com/</a>
        </li>
        <li style="margin-bottom: .8em;">
            <strong>Web Design is 95% Typography</strong> <i style="color: #999;"> &mdash; Oliver Reichenstein</i><br>
            <a href="http://ia.net/blog/the-web-is-all-about-typography-period" style="font-size: .8em;">http://ia.net/blog/the-web-is-all-about-typography-period</a>
        </li>
        <li style="margin-bottom: .8em;">
            <strong>Typ.io</strong><br>
            <a href="http://www.typ.io/" style="font-size: .8em;">http://www.typ.io/</a>
        </li>
        <li style="margin-bottom: .8em;">
            <strong>Google Fonts</strong><br>
            <a href="https://www.google.com/fonts" style="font-size: .8em;">https://www.google.com/fonts</a>
        </li>
        <li style="margin-bottom: .8em;">
            <strong>Combining Typefaces</strong> <i style="color: #999;"> &mdash; Tim Brown</i><br>
            <a href="http://www.fivesimplesteps.com/products/combining-typefaces" style="font-size: .8em;">http://www.fivesimplesteps.com/products/combining-typefaces</a>
        </li>
    </ul>
</section>