<section>
    <section>
        <h2>Estilos de texto</h2>
    </section>
    <section>
        <ul class="font-list">
            <li>
                <strong>font-family</strong> - <i>&#060;family name, &hellip;&#062;</i> | <i>&#060;generic-family&#062;</i>
            </li>
            <li>
                <strong>font-size</strong> - <i>&#060;absolute-size&#062;</i> | <i>&#060;relative-size&#062;</i> | <i>&#060;length&#062;</i> | <i>&#060;percentage&#062;</i>
            </li>
            <li>
                <strong>font-style</strong> - normal | italic | oblique
            </li>
            <li>
                <strong>font-variant</strong> - normal | small-caps
            </li>
            <li>
                <strong>font-weight</strong> - normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900
            </li>
            <li>
                <strong>line-height</strong> - normal | <i>&#060;number&#062;</i> | <i>&#060;length&#062;</i> | <i>&#060;percentage&#062;</i>
            </li>
            <li>
                <strong>text-align</strong> - left | right | center | justify
            </li>
            <li>
                <strong>text-decoration</strong> - none | underline | overline | line-through
            </li>
            <li>
                <strong>text-indent</strong> - <i>&#60;length&#62;</i> | <i>&#60;percentage&#62;</i>
            </li>
            <li>
                <strong>text-shadow</strong> - none | <i>&#60;shadow&#62;</i>, <i>&#60;shadow&#62;</i>
            </li>
            <li>
                <strong>text-transform</strong> - none | capitalize | uppercase | lowercase
            </li>
            <li>
                <strong>letter-spacing</strong> - normal | <i>&#60;length&#62;</i>
            </li>
            <li>
                <strong>word-spacing</strong> - normal | <i>&#60;length&#62;</i>
            </li>
        </ul>
    </section>
</section>