{% assign img_path = './img/slides/css-selectors01' %}

<section>
    <section>
        <h2><strong>Combinaciones de selectores</strong></h2>
        <h3>Aumentamos<span class="marker"> la especificidad</span></h3>
    </section>

    <section>
        <h3>Selector Elemento-Específico</h3>
        <p>La combinación Elemento-específico aplica una clase o un ID exclusivamente al elemento que le precede.</p>
        <img src="{{ img_path }}/css-selectores10.jpg" alt="">
    </section>

    <section>
        <h3>Selector Descendente</h3>
        <ul>
            <li>Especifican un elemento basándose en su jerarquía</li>
            <li>Ofrece altos niveles de especificidad pero es poco versátil</li>
            <li>Se colocan las etiquetas una a continuación de la otra separadas por un espacio</li>
        </ul>
        <img src="{{ img_path }}/css-selectores11.jpg" alt="">
    </section>

    <section>
        <h3>Agrupar selectores</h3>
        <p>Aplicamos los mismos estilos situándolos uno a continuación del otro separados por coma (,)</p>
        <img src="{{ img_path }}/css-selectores12.jpg" alt="">
    </section>
</section>
