{% assign img_path = './img/slides/css-selectors01' %}

<section>
    <section>
        <h2><strong>Selectores contextual</strong></h2>
    </section>

    <section>
        <h3>Selector universal</h3>
        <p>Aplica la declaración a todos los elementos de la página sin excepción</p>
        <img src="{{ img_path }}/css-selectores13.jpg" alt="">
    </section>

    <section>
        <h3>Selector atributo</h3>
        <p>El selector de atributo aplicará la declaración sólo cuando el elemento disponga de un atributo que coincida exactamente con el contenido entre paréntesis [ ]</p>
        <img src="{{ img_path }}/css-selectores14.jpg" alt="">
    </section>

    <section>
        <h3>Selector atributo + valor</h3>
        <p>El selector de atributo aplicará la declaración sólo cuando el elemento disponga de un atributo y un valor que coincida exactamente con el contenido entre paréntesis [ ]</p>
        <img src="{{ img_path }}/css-selectores15.jpg" alt="">
    </section>

    <section>
        <h3>Selector de hijos</h3>
        <p>Selecciona a un elemento que se encuentra anidado.</p>
        <img src="{{ img_path }}/css-selectores16.jpg" alt="">
    </section>

    <section>
        <h3>Selector de hermanos adyacentes</h3>
        <p>Selecciona al elemento indicado que se encuentre a su mismo nivel en la jerarquía y a continuación.</p>
        <img src="{{ img_path }}/css-selectores17.jpg" alt="">
    </section>

    <section>
        <h3>Selector de hermanos NO adyacentes</h3>
        <p>Selecciona al elemento indicado que se encuentre a su mismo nivel independientemente de la jerarquía.</p>
        <img src="{{ img_path }}/css-selectores18.jpg" alt="">
    </section>
</section>
