{% assign img_path = './img/slides/css-introduction' %}
<section>
    <section>
        <h1>CSS</h1>
        <ul>
            <li>Las siglas CSS corresponden a Cascade Style Sheet <em>Hojas de estilo en cascada</em></li>
            <li>El <span class="marker">HTML</span> aporta estructura a la página.</li>
            <li>El <span class="marker">CSS</span> es un conjunto de reglas de formato encargado de controlar la presentación del código HTML.</li>
        </ul>
    </section>

    <section>
        <h2>Componentes de una Web</h2>
        <p>Una página web puede estar formada por 5 componentes principales:</p>
        <img src="{{ img_path }}/css-componentesWeb.jpg" alt="">
    </section>

    <section>
        <h2>Componentes de una Web</h2>
        <p>Para crear una página web estática sólo necesitaremos HTML para la estructura y CSS para la presentación:</p>
        <img src="{{ img_path }}/css-componentesWeb2.jpg" alt="">
    </section>

    <section>
        <h2>Características del CSS</h2>
        <ul>
            <li>El CSS es un conjunto de reglas de formato más que un lenguaje de programación como el HTML o Javascript.</li>
            <li>Generalmente se encuentran en archivos externos y se vinculan al encabezado de la web < head >.</li>
            <li>El término <strong>“en cascada”</strong> hace referencia a cómo se aplican los estilos: Según el orden, un estilo prevalece sobre el otro</li>
        </ul>
    </section>

    <section>
        <h2>Estilos en cascada</h2>
        <ul>
            <li>Los estilos se aplican en función del orden en el que se encuentran en la página</li>
            <li>Prevalecen los estilos aplicados en función de su <span class="marker">especificidad</span> y el orden en el que se aplican.</li>
            <li>Aplicar un estilo significa <strong>seleccionar</strong> un elemento de la página y modificar sus atributos por defecto.</li>
        </ul>
    </section>

    <section>
        <h2>Ventajas de usar CSS</h2>
        <p>El carácter modular del CSS permite modificar el aspecto de una página por completo sin afectar al contenido.</p>
        <img src="{{ img_path }}/css-componentesWeb3.jpg" alt="">
    </section>

    <section>
        <h2>Ventajas de usar CSS</h2>
        <p>Mediante hojas de estilo específicas podemos optimizar contenidos para múltiples dispositivos.</p>
        <img src="{{ img_path }}/css-componentesWeb4.jpg" alt="">
    </section>
</section>
