{% assign img_path = './img/slides/css-user-agent' %}
<section>
    <section>
        <h2><strong>CSS por defecto</strong></h2>
        <h3><span class="marker">Estilos CSS User Agent</span></h3>
    </section>

    <section>
        <h3><strong>CSS del Navegador</strong></h3>
        <ul>
            <li>Un documento HTML siempre se representa con una hoja de estilos por defecto.</li>
            <li>Cada navegador web dispone de sus propios estilos.</li>
            <li>Para evitar inconsistencias aplicamos <span class="marker">Normalize</span></li>
            <li><a href="https://github.com/necolas/normalize.css/blob/master/normalize.css">¿Qué es Normalize?</a></li>
        </ul>
    </section>

    <section>
        <h3><strong>¿Por qué Normalize?</strong></h3>
        <ul>
            <li>Los elementos de la página se representan con el mismo valor.</li>
            <li>Sobreescribe los estilos por defecto del navegador web.</li>
            <li>Nuestra hoja de estilo sobreescribirá los valores de Normalize.</li>
        </ul>
    </section>

    <section>
        <h3><strong>Estilos predefinidos</strong></h3>
        <ul>
            <li>Todos los navegadores web permiten al usuario establecer unos estilos por defecto.</li>
            <li>Los estilos de usuario definen los valores por defecto.</li>
            <li>El usuario puede omitir por completo la hoja de estilos del documento.</li>
        </ul>
    </section>

    <section>
        <h3><strong>Estilos predefinidos</strong></h3>
        <img src="{{ img_path }}/css-chromePrefsDefault.png" alt=""><br />
        <span class="marker">chrome://settings/</span>
    </section>
</section>
