{% assign img_path = './img/slides/css-syntax' %}
<section>
    <section>
        <h3><strong>Sintaxis</strong></h3>
        <h3><span class="marker">Estructura del código CSS</span></h3>
    </section>

    <section>
        <h2>Selector</h2>
        <p>Mediante el Selector indicamos al código el elemento al que queremos aplicar formato.</p>
        <img src="{{ img_path }}/css-selectores01.jpg" alt="">
    </section>

    <section>
        <h2>Declaración</h2>
        <p>El código entre { } es la secuencia de estilos que aplicaremos al Selector.</p>
        <img src="{{ img_path }}/css-selectores02.jpg" alt="">
    </section>

    <section>
        <h2>Propiedad</h2>
        <p>Atributo del Selector que queremos modificar. Finaliza siempre en :</p>
        <img src="{{ img_path }}/css-selectores03.jpg" alt="">
    </section>

    <section>
        <h2>Valor</h2>
        <p>Modificando el Valor de una propiedad aplicamos un estilo al selector. <br />Finaliza siempre en ;</p>
        <img src="{{ img_path }}/css-selectores04.jpg" alt="">
    </section>

    <section>
        <h2>Formato</h2>
        <p>Los espacios en blanco y saltos de línea se utilizan para mejorar la legibilidad.</p>
        <img src="{{ img_path }}/css-selectores05.jpg" alt="">
    </section>

    <section>
        <h2>Comentarios de código</h2>
        <p>Los comentarios tienen el formato: <span class="marker">/* ...comentario... */</span></p>
        <img src="{{ img_path }}/css-selectores06.jpg" alt="">
    </section>
</section>