{% assign img_path = './img/slides/css-selectors01' %}
<section>
  <section>
    <h2><strong>Tipos de selectores</strong></h2>
    <h3><span class="marker">Etiqueta / Elemento</span></h3>
  </section>

  <section>
    <h3>Etiqueta / Elemento</h3>
    <p>Es el más genérico.</p>
    <p>Aplicamos estilo a todos los elementos de la página.</p>
    <img src="{{ img_path }}/css-selectores07.jpg" alt="">
  </section>

  <section>
    <h3>Clase</h3>
    <ul>
      <li>Atributo HTML aplicable a cualquier elemento</li>
      <li>Pueden tener cualquier <a href="https://developer.mozilla.org/es/docs/Web/CSS/Escribir_CSS_eficiente" target="_blank">nombre</a></li>
      <li>Se pueden aplicar a múltiples elementos en una misma página</li>
      <li>Son sensibles a las mayúsculas</li>
    </ul>
    <img src="{{ img_path }}/css-selectores08.jpg" alt="">
  </section>

  <section>
    <h3>Identificador</h3>
    <ul>
      <li>Atributo HTML aplicable a cualquier elemento</li>
      <li>Pueden tener cualquier nombre</li>
      <li>Los ID han de ser únicos en una misma página</li>
      <li>Son sensibles a las mayúsculas</li>
      <li>Recuerda: Clases > estilos | IDs > <a href="http://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_doc_getelementbyid" target="_blank">Javascript</a></li>
    </ul>
    <img src="{{ img_path }}/css-selectores09.jpg" alt="">
  </section>
</section>
