<section class="text-left">
    <section>
        <h2>¿Por qué es importante la performance en la web?</h2>
    </section>

    <section>
        <p style="margin-bottom: 2rem; text-align: center;">El usuario va navegando tan tranquilamente cuando...</p>
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-Gz02QZSNPY" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>

    <section>
        <blockquote style="font-size: 2.5rem">
            <p>&ldquo;It’s time for us to treat performance as an essential design feature, not just as a technical best practice.&rdquo;</p>
            <footer>Brad Frost - <a href="http://bradfrost.com/blog/post/performance-as-design/">Performance As Design</a></footer>
        </blockquote>
    </section>

    <section>
        <p>El performance de la web no sólo afecta a la experiencia del usuario, sino <a href="http://googlewebmastercentral.blogspot.com.es/2010/04/using-site-speed-in-web-search-ranking.html">también al SEO</a>, y por supuesto <strong>al negocio</strong>.</p>
    </section>

    <section style="font-size: 2rem;">
        <h3>Algunas estadísticas</h3>
        <div class="fragment">
            <p><strong>Amazon</strong></p>
            <p>Aumenta sus ganancias en un <em>1%</em> cada <em>100ms</em> de mejora en la velocidad de descarga.</p>
        </div>
        <div class="fragment">
            <hr>
            <p><strong>Yahoo</strong></p>
            <p><em>9%</em> de aumento en el tráfico por cada <em>400ms</em> de mejora.</p>
        </div>

        <div class="fragment">
            <hr>
            <p><strong>Etsy</strong></p>
            <p>Cada <em>160k</em> extra de peso en una página aumenta <em>12%</em> la taza de rebote.</p>
        </div>
    </section>
</section>