{% assign img_path = './img/slides/wpo' %}
<section class="text-left">
    <section>
        <h2 style="text-align: center;">¿Qué podemos hacer para mejorar el performance?</h2>
        <p style="text-align: center;">
            <img src="{{ img_path }}/improve.gif" alt="" width="700" style="border: none; box-shadow: none">
        </p>
    </section>

    <section>
        <blockquote style="font-size: 2.5rem">
            <p>&ldquo;80-90% of the time spent by users waiting for pages to load is spent on the frontend, all the work that needs to be done after the HTML document has arrived.&rdquo;</p>
            <footer>Steve Souders - <a href="http://stevesouders.com/hpws/"> High Performance Web Sites</a></footer>
        </blockquote>
    </section>

    <section>
        <h3>Performance 101</h3>
        <ul>
            <li>Reducir el peso de los recursos</li>
            <li>Reducir las llamadas (requests) al servidor</li>
            <li style="opacity: 0.5">Optimizar el cache</li>
        </ul>
    </section>
</section>