<section>
    <section>
        <h2>Elementos de texto</h2>
    </section>

    <section>
        <table>
            <thead>
                <th>Etiqueta</th>
                <th>Elemento que representa</th>
            </thead>
            <tbody>
                <tr>
                    <td><code>&#60;h1-h6&#062;</code></td>
                    <td>Titulares. Tienen 6 niveles diferentes.</td>
                </tr>
                <tr>
                    <td><code>&#60;p&#062;</code></td>
                    <td>Párrfos de texto.</td>
                </tr>
                <tr>
                    <td><code>&#60;ul&#062;</code></td>
                    <td>Listas dónde el orden de sus elementos no es importante.</td>
                </tr>
                <tr>
                    <td><code>&#60;ol&#062;</code></td>
                    <td>Listas dónde sus elementos tienen un órden determinado.</td>
                </tr>
                <tr>
                    <td><code>&#60;li&#062;</code></td>
                    <td>Elemento de una lista. Siempre tienen que estar dentro de un &#60;ul&#062; o &#60;ol&#062;</td>
                </tr>
                <tr>
                    <td><code>&#60;blockquote&#062;</code></td>
                    <td>Un bloque de texto que contiene un testimonio de otra fuente.</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section>
        <table>
            <thead>
                <th>Etiqueta</th>
                <th>Elemento que representa</th>
            </thead>
            <tbody>
                <tr>
                    <td><code>&#60;a&#062;</code></td>
                    <td>Un <a href="#">link</a>. La url a la que apunta se especifica con el atributo <code>href</code>.</td>
                </tr>
                <tr>
                    <td><code>&#60;strong&#062;</code></td>
                    <td>Un texto <strong>destacado</strong>. Por defecto se renderiza en negrita.</td>
                </tr>
                <tr>
                    <td><code>&#60;em&#062;</code></td>
                    <td>Un texto <em>enfatizado</em>. Por defecto se renderiza en itálica.</td>
                </tr>
                <tr>
                    <td><code>&#60;u&#062;</code></td>
                    <td>Un texto <u>subrayado</u>.</td>
                </tr>
                <tr>
                    <td><code>&#60;mark&#062;</code></td>
                    <td>Un texto <mark>resaltado</mark>.</td>
                </tr>
                <tr>
                    <td><code>&#60;code&#062;</code></td>
                    <td>Representa trozos de <code>código</code>.</td>
                </tr>
            </tbody>
        </table>
    </section>
</section>
