{% assign img_path = './img/slides/html-structural-elements' %}

<section>
    <section>
        <h2>Elementos estructurales</h2>
    </section>

    <section>
        <table style="font-size: 1.8rem;">
            <thead>
                <th>Etiqueta</th>
                <th>Elemento que representa</th>
            </thead>
            <tbody>
                <tr>
                    <td><code>&#60;div&#062; y &#60;span&#062;</code></td>
                    <td>Elementos sin contenido semántico. El primero es inline, mientras que el segundo es block.</td>
                </tr>
                <tr>
                    <td><code>&#60;header&#062;</code></td>
                    <td>Cabecera de un documento o de una sección del documento. Suele contener un elemento <code>&#60;h1...h6&#62;</code></td>
                </tr>
                <tr>
                    <td><code>&#60;footer&#062;</code></td>
                    <td>Pie de un documento o de una sección del documento.</td>
                </tr>
                <tr>
                    <td><code>&#60;nav&#062;</code></td>
                    <td>Navegación de un documento o página. Contiene enlaces a otros documentos o a secciones del mismo documento.</td>
                </tr>
                <tr>
                    <td><code>&#60;article&#062;</code></td>
                    <td>Sección de un documento cuyo contenido tenga sentido por si mismo independientemente de su contexto.</td>
                </tr>
                <tr>
                    <td><code>&#60;section&#062;</code></td>
                    <td>Un grupo de contenido de temática relacionada.</td>
                </tr>
                <tr>
                    <td><code>&#60;aside&#062;</code></td>
                    <td>Sección de una página con contenido relacionado o complementario al contenido principal.</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section>
        <p>Una estructura muy básica de una página podría ser algo así:</p>
        <img src="{{ img_path }}/structure-html5.png" alt="" style="border: 0; height: 500px; ">
    </section>
</section>
