<section class="text-left">
    <section>
        <h2>Estructura de una pagina web</h2>
        <div>
            <pre><code data-trim contenteditable>&#60;!DOCTYPE html&#62;
&#60;html&#62;
    &#60;head&#62;
        &#60;meta charset ="utf-8"&#62;
        &#60;title&#62;Titulo de la página&#60;/title&#62;
    &#60;/head&#62;

    &#60;body&#62;
        &#60;h1&#62;Titular del contenido&#60;/h1&#62;
        &#60;p&#62;Contenido de la página&#60;/p&#62;
    &#60;/body&#62;
&#60;/html&#62;</code></pre>
        </div>
    </section>

    <section>
        <h3>Head</h3>
        <p> El elemento <code><span class="marker">&#60;head&#62;</span></code> contiene información descriptiva del mismo documento. <br />
            Su contenido <span class="marker">no</span> se mostrará en la ventana del navegador.</p>
        <p>Algunos contenidos del <code><span class="marker">&#60;head&#62;</span></code> pueden ser:</p>
        <ul>
            <li>El título de la pagina &#60;title&#62;.</li>
            <li>La codificación de caracteres.</li>
            <li>Links a los estilos CSS.</li>
            <li>Links a archivos javascript.</li>
            <li>Etiqueta &#60;meta viewport&#62; para controlar la visualización en dispositivos móviles.</li>
            <li>Información SEO.</li>
        </ul>
    </section>

    <section>
        <pre style="margin: 0; width: 95%"><code data-trim contenteditable style="height: 50vh">&#60;head&#62;
    &#60;meta charset="utf-8"&#62;

    &#60;title&#62;Bau, Centro Universitario de Diseño de Barcelona&#60;/title&#62;

    &#60;meta name="description" content="En Bau te formarás como profesional del
    diseño web"&#62;

    &#60;meta name="keywords" content="bau, bau diseño, bau escuela, escuela bau,
    bau universidad, Centro Universitario de Diseño de Barcelona, bau master"&#62;

    &#60;meta name="viewport" content="width=device-width, initial-scale=1"&#62;

    &#60;link rel="stylesheet" href="css/styles.css"&#62;
    &#60;script src="js/modernizr.js"&#62;&#60;/script&#62;
    &#60;link rel="shortcut icon" href="favicon.ico" type="image/x-icon"&#62;
&#60;/head&#62;</code></pre>
    </section>

    <section>
        <h3>Body</h3>
        <p>El elemento <code><span class="marker">&#60;body&#62;</span></code> contiene todo aquello que se mostrará la ventana del navegador.</p>
    </section>
</section>