{% assign img_path = './img/slides/wpo' %}
<section class="text-left">
    <section>
        <h2 style="text-align: center;">Reducir el peso de los recursos</h2>
        <p style="text-align: center;">
            <img src="{{ img_path }}/size.gif" alt="" width="500" style="border: none; box-shadow: none">
        </p>
    </section>

    <section>
        <h3>Compresión Gzip</h3>
        <p>Los archivos de texto (.html, .css, .js, etc) pueden enviarse comprimidos desde el servidor para reducir su peso durante el viaje hasta el cliente. Esta reducción suele ser muy significativa.</p>
        <p>Lo normal seria que nuestro servicio de host tenga activada la <em>compresión gzip</em> pero nunca está de más comprobarlo, y en caso de que no sea así, ponernos en contacto con ellos para que la activen.</p>
        <hr>
        <p><a href="http://gzipwtf.com/">gzipWTF</a></p>
        <p><a href="http://checkgzipcompression.com/">Check GZIP compression</a></p>
    </section>

    <section>
        <h3>Minificar archivos Css y Js</h3>
        <p style="font-size: 2rem;">Solemos escribir nuestro Css y nuestro Javascript optimizado para su lectura, es decir, con una indentación y espaciado claro, comentarios, etc. Los ordenadores no necesitan esto para interpretarlos y es por eso que a la hora de subir un fichero al servidor podemos reducir bastante su peso si nos deshacemos de todo lo que no sea imprescindible.</p>
    </section>

    <section>
        <h3>Minificar archivos Css y Js</h3>
        <p style="font-size: 2rem;">Para ello existen varias herramientas. Por convención se suele diferenciar a los ficheros comprimidos con la extensión .min (Ej: styles.min.css)</p>
        <p style="font-size: 2rem;"><a href="http://csscompressor.com/">CSS Compressor</a></p>
        <hr style="margin: 0.75rem 0;">
        <p>Tambien podemos compilar el css comprimido directamente desde Sass.</p>
        <pre><code>
sass style.scss:style.css --style compressed
        </code></pre>
    </section>

    <section>
        <h3>Comprimir imágenes</h3>
        <p>Es recomendable comprimir lo máximo posible las imágenes antes de subirlas al servidor.</p>
        <p>Desde Photoshop tendremos más control sobre la compresión final desde la ventana de Guardar para web (cmd + alt + shift + S) o podemos usar una herramienta externa como <a href="https://imageoptim.com/">ImageOptim</a> o <a href="http://pngmini.com/">ImageAlpha</a></p>
    </section>
</section>