{% assign img_path = './img/slides/sass' %}

<section data-background="#66CEFF">

    <h3 style="color: #444; text-shadow: none; font-weight: bold">Ejercicio</h3>
    <p style="color: #444; text-shadow: none;">Vuelve a refactorizar tu proyecto incluyendo <strong>extend</strong> y <strong>mixins</strong></p>
    <p style="color: #444; text-shadow: none;">Recuerda actualizar tu repositorio Git.</p>

    <img src="{{ img_path }}/loading-cat.gif" alt="" width="500" style="border: none; box-shadow: none">
    <small style="margin-top:-60px">meowww</small>
</section>