{% assign img_path = './img/slides/sass' %}
<section>
    <section>
        <h3>Operaciones aritméticas</h3>
        <p>SASS permite realizar operaciones aritméticas que utilizaremos para computar valores de declaraciones directamente como en el siguiente ejemplo:</p>
        <pre><code data-noescape contenteditable>
article[role="main"] {
  float: left;
  <span class="marker">width: 600px / 960px * 100%</span>;
}

aside[role="complimentary"] {
  float: right;
  <span class="marker">width: 300px / 960px * 100%</span>;
}
        </code></pre>
    </section>

    <section>
        <h3>Resultado</h3>
        <p>SASS permite realizar operaciones aritméticas que utilizaremos para computar valores de declaraciones directamente como en el siguiente ejemplo:</p>
        <pre><code data-noescape contenteditable>
article[role="main"] {
  float: left;
  <span class="marker">width: 62.5%</span>;
}

aside[role="complimentary"] {
  float: right;
  <span class="marker">width: 31.25%</span>;
}
        </code></pre>
        <small>Operaciones: + - * / %</small>
    </section>
</section>