html, body {
	/* ¿Para que declaras esta propiedad? */
	height: 100%;
}
body {
	/* Cuando usamos 0 como valor no hace falta la unidad */
	margin: 0px;

	font-family: 'Open Sans Condensed', sans-serif;
}

header {
	width: 100%;

	/*
     *  Antes que fijar un valor es mejor dejar que sea el contenido el que determine
     *  el alto de los elementos.
     */
	height: 115px;

	background: #004f70;
	position: fixed;
	margin:0px;

	/* Es mejor evitar valores tan altos de z-index ya que luego es dificil sobreescribirlos */
	z-index: 999;
}

.centro{
	width:1280px;
	margin:0px auto;
}

a {
	text-decoration:none;

}

.logo img {
	float: left;
	margin-top: 40px;
}



nav {
	float:right;
	margin-top: 13px;

	/* El font-weight está declarado dos veces */
	font-weight: 500;

	font-size: 23px;
	font-weight: 700;
}

nav ul {
	margin-left:6px;
}

nav li {
	float:left;
}

nav li a {
	 color: #90c5db;
	 font-size:1em;
	 padding:27px 20px 10px 20px;
	 display: block;
	 text-align:center;

	 /* Declarar el position aqui no está cumpliendo ninguna función */
	 position:relative;
}

nav li a:hover {
	color: white;
}

nav li:active a {
	color:white;
}

ol,ul {
	list-style:none;
}

.posthead {
	padding-top: 100px;
	background-image: url("../img/back1.jpg");
	background-repeat: no-repeat;
	width: 100%;

	/*
     *  En estos casos es mejor utilizar min-height. De esta manera si el contenido crece no se
     *  saldrá de la caja.
     */
	height: 634px;

	background-origin: content-box;
	background-size: cover;
	background-position: center;
}

.titulo, .boton {
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}

.titulo {
	width: 640px;
	height: 168px;
	background: rgba(255, 255, 255, 0.5);
	font-weight: 700;
	font-size: 28px;
	padding: 20px 20px 0px 40px;
	margin-top: 150px;
	float: left;
}

.titulo h2 {
	line-height: 0em;
}

.titulo p {
	font-size: 25px;
}

.boton a {
	font-size: 30px;
	color: white;
	text-shadow:none;
	background: #009bdb;
	/* Cuidado con repetir propiedades */
	float: left;

	margin-top: 30px;
	padding: 12px 45px;
	letter-spacing: 0.05em;
	float: left;
	clear: left;
}

.Formulari {
	/*
	 *	Siempre es mejor especificar una coordenada X y una Y cuando utilizamos position
	 * 	de lo contrario nos puede dar problemas en algunos navegadores.
	 *
	 *  De todas maneras en este caso hubira sido mejor utilizar float para posicionar los
	 *  los elementos.
	 */
	position: absolute;
	width: 430px;
	height: 450px;
	background-color: rgba(0, 0, 0, 0.3);
	float: left;
	margin-left: 832px;
	margin-top: 120px;
	border: solid 12px #0088c1;
}

.Formulari h4 {
	text-align: center;
	color: white;
	font-size: 25px;
	line-height: 0em;
}

input {
	width: 282px;
	height: 55px;
	margin-left: 40px;
	margin-top: 15px;
	font-size: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #696969;
	border-radius: 10px;
	border: solid 1px black;
	background-repeat: no-repeat;
	background-position: 15px 15px;
}

.nombre input, .email input, .password input {
	padding-left: 60px;
}

.nombre input {
	background-image: url("../img/nombre-formulario.png");
}

.email input {
	background-image: url("../img/email-formulario.png");
	background-position: 15px 18px;
}

.password input {
	background-image: url("../img/pass-formulario.png");
	background-position: 18px 15px;
}

.acepto input {
	width: 24px;
	height: 24px;
	margin: 20px 15px 0px 60px;
}

.acepto, .acepto a {
	color: white;
	font-size: 19px;
	letter-spacing: 0.06em;
	font-weight: lighter;
}

.acepto a:hover {
	text-decoration: underline;
}

.enviar {
	width: 240px;
	height: 60px;
	background-color: #0088c1;
	text-align: center;
	border-radius: 10px;
	margin: 0px auto;
	margin-top: 20px;
}

.enviar a {
	color: white;
	font-size: 28px;
	line-height: 2.2em;
}

.clear {
	clear:both;
}

.ideas, .promociones {
	height: 231px;
	background: #009bdb;
	float: left;
	color: white;
	font-size: 25px;
	margin-top: 50px;
	background-position: 30px 30px;
	background-repeat: no-repeat;
}

.ideas {
	width: 399px;
	background-image: url("../img/ideas.gif");
	background-size: 54px 60px;
}

.promociones {
	width: 842px;
	margin-left: 39px;
	background-image: url("../img/promocion.gif");
	background-size: 58px 60px;
	background-color: #0088c1;
}

.ideas h3, .promociones h3 {
	font-weight: 300;
	font-size: 38px;
	line-height: 1.5em;
	text-align: center;
}


.ideas p, .promociones p {
	/* ¿Por que has flotado los parrafos? */
	float: left;
	clear: left;

	text-align: center;
	margin-top: 0px;
	font-weight: 700;
	letter-spacing: 0.03em;
	font-size: 27px;
}

.ideas p {
	margin-left: 40px;
	width: 325px;
}

.promociones p {
	margin-left: 100px;
	width: 600px;
}

.disponible {
	float: left;
	width: 520px;
	color: #004e72;
	margin-top: 130px;
	line-height: 3.2em;
}

.disponible h1 {
	line-height: 1.2em;
	font-size: 50px;
}

.disponible p {
	font-size: 40px;
	font-weight: 300;
}

.mobile img {
	width: 660px;
	height: 463px;
	float: right;
	margin-right: 25px;
	margin-top: 140px;
}

.disponible img{
	float: left;
}
.android img {
	margin-left: 32px;

}



.sugerencia {
	margin-top: 120px;
	background-image: url("../img/sugerencia.jpg");
	width: 100%;

	/*
     *  Una vez más, mejor utilizar min-height.
     */
	height: 430px;

	background-size: cover;
	background-position: center;
	float: left;
}

.sugerencia p {
	color: white;
	width: 577px;
	line-height: 1.8em;
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	margin: 0px auto;
	margin-top: 170px;
	letter-spacing: 0.03em;
}

.testimonio {
	margin-top: 50px;
	float: left;
	width: 440px;
	color: #004e72;

}

.testimonio h1 {
	font-size: 48px;

}

.testimonio p {
	font-size: 36px;
	font-weight: 300;
	font-style: italic;

}

.bw {
	float: right;
}

footer p {
	clear:both;
	text-align: center;
	color: white;
	font-size: 25px;
	padding-top: 150px;
	height: 150px;
	width: 100%;
	background:#004f70;
	margin-top: -5px;

}


