
// Slides day-09.html
    .symple-before {
        text-transform: lowercase !important;

        &:before {
            content: "(⊙_◎)";
            color: yellow;
            font-size: 0.7em;
            padding-right: 20px;
        }
    }

    .catwatching {
        padding-left: 20px;
    
        &:before {
            content: "";
            background-image: url(../img/slides/css-pseudoclasses/cat-watching.gif);
            float: left;
            margin: 0 30px 0 50px;
            height: 250px;
            width: 400px;
        } 
    }

    pre.whitecat-pre {
        margin-left: 0;
        width: 60%;
    }

    .whitecat {
        padding-left: 20px;
        position: relative;
        width: 63%;
    
        &:after {
            content: "";
            background-image: url(../img/slides/css-pseudoclasses/whitecat.gif);
            position: absolute;
              top: -222px;
              right: -250px;
            height: 400px;
            width: 240px;
        } 
    }

    .firstletter::first-letter {
        background-color: rgba(255, 255, 255, 0.2);
        color: #D5C70F;
        display: inline-block;
        float: left;
        font-weight: bolder;
        font-size: 3em;
        margin: 0 15px 0 50px;
        padding: 35px 30px 45px;
        text-shadow: 2px 2px 2px #000;
    }


    .firstline::first-line {
        color: #D5C70F;
        font-weight: bold;
        font-size: 1.2em;
        line-height: 1.2;
        text-shadow: 2px 2px 2px #000;
    }

    p.selection::selection {
        color: #D5C70F;
        background: transparent;
        text-shadow: 2px 2px 2px #000;
    }