// GLOBAL STYLES
// ------------------------------------------------------
.reveal {
    font-family: "Open sans", sans-serif;
}


// HEADERS
// ------------------------------------------------------
.reveal {
    h1, h2, h3, h4, h5, h6 {
        font-family: "Open sans", Impact, sans-serif;
        line-height: 1.2em;
        text-shadow: 2px 2px 2px #000;
    }
}


// OTHER
// ------------------------------------------------------
// .reveal p {
//     text-align: left;
// }
.reveal em {
    color: #1b91ff;
    font-style: normal;
}
.reveal a:not(.image) {
    text-decoration: underline;
}
.reveal ul {
    display: block;
    padding-left: 3rem;
}
.reveal li {
    margin-bottom: .25em;
}
.reveal hr {
    border-style: dashed;
    color: rgba(0,0,0, .2);
    margin: 1em auto;
}
.reveal pre {
    margin-top: 2em;
}
.reveal pre code {
    padding: 10px;
}
.reveal small {
    display: block;
}
.reveal .marker {
    color: #D5C70F;
}
.reveal .text-left p {
    text-align: left;
}

// LINKS
// ------------------------------------------------------
.reveal a:not(.image) {
    color: #13daec;
    text-decoration: none;
    transition: color .15s ease;

    &:hover {
        border: none;
        color: #71e9f4;
        text-shadow: none;
    }
}


// IMAGES
// ------------------------------------------------------
.reveal section img {
  display: inline-block;
  text-align: center;
}
