// CSS
// ----------------------------------------------------------------------------

// Box Model
// --------------------------------------------------------
#box-model {
  .BoxModelGraphic {
    &-margin {
      border: 2px dashed $c-blue;
      background: $c-cyan;
      display: inline-block;
      padding: 50px;
      width: 404px;
      text-align: center;
    }

    &-padding {
      background: $c-yellow;
      border: 5px solid $c-red;
      display: inline-block;
      padding: 50px;
      width: 300px;
    }

    &-content {
      color: #fff;
      display: block;
      background: $c-purple;
      font-size: 40px;
      line-height: 50px;
    }

    &-legend {
      span {
        font-weight: bold;
        margin: 0 1em;
      }
    }
  }
}
// .reveal .box-model__margin {
//     box-sizing: border-box;
//     border: 2px dashed #2c3e50;
//     background: rgba(243, 156, 18, .6);
//     display: inline-block;
//     padding: 50px;
//     width: 514px;
// }
// .reveal

// .reveal .box-model__inline {
//     line-height: 40px;
// }
// .reveal .box-model__inline strong {
//     padding: 0;
// }
// .reveal .borders-example code {
//   background: #eaeaed;
//   color: #666;
//   font-size: 14px;
//   line-height: 24px;
//   display: inline-block;
//   height: 70px;
//   margin: 0 14px;
//   padding-top: 20px;
//   text-align: center;
//   width: 90px;
// }
// .reveal .border-solid  { border: 2px solid #9799a7; }
// .reveal .border-double { border: 6px double #9799a7; }
// .reveal .border-dashed { border: 8px dashed #9799a7; }
// .reveal .border-dotted { border: 4px dotted #9799a7; }