// GLOBAL STYLES
// ------------------------------------------------------

.topheader {
    background: #222;
    padding: .5rem;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.topheader img {
    float: left;
    height: 3rem;
}
.topheader h2 {
    color: white;
    font-family: "Open sans", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0 200px;
    padding: .75rem 0;
    text-align: center;
}
.reveal.center {
    padding-top: 4rem;
}