$c-grayLighter: #ddd;
$c-grayLight: #ccc;
$c-gray: #999;
$c-grayDark: #666;
$c-grayDarker: #333;

$c-red: #ee535a;
$c-orange: #dc764b;
$c-yellow: #f7ad4a;
$c-green: #99b456;
$c-cyan: #20cbe3;
$c-blue: #3184ce;
$c-purple: #9362ad;
