$c-grayLighter: #ddd;
$c-grayLight: #ccc;
$c-gray: #999;
$c-grayDark: #666;
$c-grayDarker: #333;

$c-red: #e11d24;
$c-orange: #e14f24;
$c-yellow: #fabe52;
$c-green: #99b456;
$c-cyan: #88b9e4;
$c-blue: #7ea9c3;
$c-blueDark: #5698c1;
$c-purple: #b394c7;
