<section>
    <h3>Empecemos con la parte aburrida 😱😭😪</h3>
</section>
<section>
  <h3>Javascript</h3>
  <ul>
    <li>Fue creado en 1995 por Brendan Eich, que trabajaba para NetScape</li>
    <li>ECMAScript es el estándar de Javascript especificado por ECMA (European Computer Manufactorers Association)</li>
    <li>La versión actual es la 5, aunque la mayoría de cosas de la versión 6 están implementadas en los navegadores modernos.</li>
</section>
<section>
  <h3>OK, pero ¿que es Javascript?</h3>
</section>
<section>
  <blockquote>
    Javascript es un lenguaje débilmente tipado, dinámico, interpretado, basado en prototipos, orientado a objetos, funcional e imperativo. Creado originalmente para usarse en el lado del cliente (navegador), aunque también desde el lado del servidor, y en los últimos años, como motor para aplicaciones de escritorio.
  </blockquote>
</section>
<section>
  <img src="https://media.giphy.com/media/wYie7bA61dykU/giphy.gif">
</section>
<section>
  <img src="http://media.giphy.com/media/cqcTjuggnRqIE/giphy.gif">
</section>
<section>
  <h3>😁</h3>
</section>

