<section class="text-left">
    <section>
        <h2>Position</h2>
    </section>

    <section>
        <p>Además de los <i>floats</i>, los márgenes y otras propiedades de layout, CSS proporciona la posibilidad de posicionar elementos de manera precisa mediante coordenadas.</p>
        <p>Posicionaremos un elemento a partir de de su esquina superior izquierda, de manera muy similar a como lo hacíamos con las imágenes de fondo, utilizando las propiedades <em><code>top</code></em>, <em><code>right</code></em>, <em><code>bottom</code></em> y <em><code>left</code></em> (TRBL).</p>
        <p>La dificultad consiste en determinar cual será el punto de orígen (0,0) de esas cordenadas y allí es donde entra la propiedad <em><code>position</code></em>.</p>
    </section>

    <section>
        <h3>Position static</h3>
        <p>La propiedad position admite cuatro valores: <em><code>static</code></em>, <em><code>relative</code></em>, <em><code>absolute</code></em> y <em><code>fixed</code></em>.</p>
        <p><em><code>static</code></em> es el valor por defecto y simplemente ignora cualquier valor de las propiedades TRBL, haciendo que el elemento se comporte de acuerdo a su flow natural o al indicado por la propiedad <code>display</code>.</p>
    </section>

    <section>
        <h3>Position static</h3>
        <pre><code data-trim contenteditable style="font-size: 1.2rem; line-height: 1.2;">
.box-1,
.box-2,
.box-3 {
    position: static;
}
        </code></pre>
        <div class="position">
            <div class="box box-1">.box-1</div>
            <div class="box box-2">.box-2</div>
            <div class="box box-3">.box-3</div>
        </div>
    </section>

    <section>
        <h3>Position relative</h3>
        <p><code>postion:<em>relative</em></code> nos permitirá desplazar el elemento de su sitio utilizando como punto 0,0 su esquina superior izquierda natural.</p>
        <p>El resto de los elementos de la página <strong>no se verán afectados</strong> y se comportarán como si el elemento desplazado permaneciera en su sitio.</p>
    </section>

    <section>
        <h3>Position relative</h3>
        <pre><code data-trim contenteditable style="font-size: 1.2rem; line-height: 1.2;">
.box-2 {
    position: relative;
        top: 20px;
        left: 40px;
}
        </code></pre>
        <div class="position">
            <div class="box box-1">.box-1</div>
            <div class="box box-2" style="position: relative; top: 20px; left: 40px;">.box-2</div>
            <div class="box box-3">.box-3</div>
        </div>
    </section>

    <section>
        <h3>Position relative</h3>
        <p>También podremos usar valores negativos</p>
        <pre><code data-trim contenteditable style="font-size: 1.2rem; line-height: 1.2;">
.box-2 {
    position: relative;
        top: -20px; /* = bottom: 20px */
        left: -40px; /* = right: 40px */
}
        </code></pre>
        <div class="position">
            <div class="box box-1">.box-1</div>
            <div class="box box-2" style="position: relative; top: -20px; left: -40px;">.box-2</div>
            <div class="box box-3">.box-3</div>
        </div>
    </section>

    <section>
        <h3>Position absolute</h3>
        <p><code>position:<em>absolute</em></code> posicionará al elemento tomando como coordenadas 0,0 a la esquina superior izquierda del elemento contenedor, pero siempre y cuando este elemento tenga <strong>una propiedad <code>position</code> diferente a <code>static</code></strong></p>
        <p>Si el elemento padre tuviera una posición <code>static</code>, buscará como referencia el siguiente elemento contenedor y asi sucesivamente hasta llegar al <code>body</code>.</p>
        <p>Además <code>absolute</code> <strong>quitará al elemento de su flow natural</strong> por lo que el resto de los elementos actuarán como si no existiese.</p>
    </section>

    <section>
        <h3>Position absolute</h3>
        <pre><code data-trim contenteditable style="font-size: 1.2rem; line-height: 1.2;">
.box-2 {
    position: absolute;
        bottom: 0;
        right: 0;
}
        </code></pre>
        <div class="position">
            <div class="box box-1">.box-1</div>
            <div class="box box-2" style="position: absolute; bottom: 0; right: 0;">.box-2</div>
            <div class="box box-3">.box-3</div>
        </div>
    </section>

    <section>
        <h3>Position absolute</h3>
        <pre><code data-trim contenteditable style="font-size: 1.2rem; line-height: 1.2;">
.container-1 { position: relative; }
.container-2 { position: static; }
.box-2 {
    position: absolute;
        bottom: 0;
        right: 0;
}
        </code></pre>
        <div class="position container-1">
            <div class="position container-2" style="position: static;">
                <div class="box box-1">.box-1</div>
                <div class="box box-2" style="position: absolute; bottom: 0; right: 0;">.box-2</div>
                <div class="box box-3">.box-3</div>
            </div>
        </div>
    </section>

    <section>
        <h3>Position absolute</h3>
        <p>A pesar de la versatilidad que nos proporciona <code>position:absolute</code>, es mejor dejar su uso relegado a pequeños elementos más que a herramienta de layout, ya que si la utilizaramos en todos los elementos el contenido podría ser inaccesible.</p>
    </section>

    <section>
        <h3>Position absolute</h3>
        <pre><code data-trim contenteditable style="font-size: 1.2rem; line-height: 1.2;">
.box-1 { position: absolute; bottom: 0; left: 0; }
.box-2 { position: absolute; bottom: 0; right: 0; }
.box-3 { position: absolute; top: 0; right: 0; }
        </code></pre>
        <div class="position" style="margin-top: 150px;">
            <div class="box box-1" style="position: absolute; bottom: 0; left: 0;">.box-1</div>
            <div class="box box-2" style="position: absolute; bottom: 0; right: 0;">.box-2</div>
            <div class="box box-3" style="position: absolute; top: 0; right: 0;">.box-3</div>
        </div>
    </section>

    <section>
        <h3>Position absolute</h3>
        <pre><code data-trim contenteditable style="font-size: 1.2rem; line-height: 1.2;">
.container-1 { overflow: hidden; }
.box-1 { position: absolute; bottom: 0; left: 0; }
.box-2 { position: absolute; bottom: 0; right: 0; }
.box-3 { position: absolute; top: 0; right: 0; }
        </code></pre>
        <div class="position" style="margin-top: 150px; overflow:hidden;">
            <div class="box box-1" style="position: absolute; bottom: 0; left: 0;">.box-1</div>
            <div class="box box-2" style="position: absolute; bottom: 0; right: 0;">.box-2</div>
            <div class="box box-3" style="position: absolute; top: 0; right: 0;">.box-3</div>
        </div>
    </section>

    <section>
        <h3>Position fixed</h3>
        <p><em><code>position:fixed</code></em> funcionará de manera similar a <code>position:absolute</code> pero utilizará como referencia para sus coordenadas la ventana del navegador, manteniendo la posición independientemente del scroll de la página.</p>
        <hr>
        <p style="text-align: center;"><a href="day-07/fixed.html">Ver ejemplo &raquo;</a></p>
    </section>
</section>