{% assign img_path = './img/slides/sublime-tip-selection' %}

<section class="text-left">
    <section>
        <h2>Sublime Text Tip</h2>
    </section>

    <section>
        <h3>Multi select</h3>
        <table style="font-size: 1.8rem;">
            <tr>
                <td><code>Cmd + Click</code></td>
                <td>Crea un nuevo cursor.</td>
            </tr>
            <tr>
                <td><code>Cmd + D</code></td>
                <td>Selecciona la siguiente aparición del texto seleccionado.</td>
            </tr>
            <tr>
                <td><code>Cmd + Ctrl + G</code></td>
                <td>Selecciona todas las aparicines en el documento del texto seleccionado.</td>
            </tr>
        </table>
        <hr />
        <img src="{{ img_path }}/multi-line-selection.gif" alt="">
    </section>

    <section>
        <p>Luego de ejecutado el código, reiniciaremos Sublime Text y ya podremos acceder al Package Control.</p>
        <p>Para instalar un nuevo plugin, lo haremos a través de la Paleta de Comandos, donde escribiremos "Install Package" y luego el nombre del plugin a instalar.
        <p>Accederemos a la paleta con:</p>
        <p style="text-align: center;"><em><code>Cmd + Shift + P</code></em></p>
    </section>
</section>
