form {
  font-family: sans-serif;

  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;

  /* To see the limits of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

fieldset {
  /* Reset fieldset styles */
  border: 0;
  border-bottom: 1px solid #CCC;
  margin-bottom: 1.5rem;
  padding: 0 0 1.5rem;
}

legend {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

div + div {
  margin-top: 1em;
}

p,
label {
  /* To make sure that all label have the same size and are properly align */
  display: block;
  margin-bottom: .5rem;
  text-transform: uppercase;
  font-size: .75rem;
}

input, textarea {
  /* To make sure that all text field have the same font settings
     By default, textarea are set with a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text field */
  width: 100%;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;

  padding: .5rem .25rem;
  line-height: 1rem;
  border-radius: 3px;
}

input:focus, textarea:focus {
  /* To give a little highligh on active elements */
  border-color: #000;
}

.check {
  display: inline-block;
  min-width: 30%;
}

.check input {
  display: inline-block;
  width: auto;
}

textarea {
  /* To properly align multiline text field with their label */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;

  /* To allow users to resize any textarea vertically
     It works only on Chrome, Firefox and Safari */
  resize: vertical;
}

.button {
  text-align: right;
}

button {
  font-size: 1rem;
  padding: .25rem 1rem;
  border-radius: 3px;
  background-color: #ddd;
  border: 2px solid #aaa;
}
