{% assign img_path = './img/slides/git' %}

<section>
  <section data-background="#66B9F2">
    <img src="{{ img_path }}/git-fork.png" alt="">
    <h3>Pull Request</h3>
    <img src="{{ img_path }}/github-octocat.png" width="100" alt="">
    <p>Github.com</p>
  </section>

  <section data-background="#66B9F2">
    <h3>Objetivo</h3>
    <p>Aportar una mejora al software existente</p>
    <p>Contribuir en un proyecto <span class="marker">Open Source</span></p>
  </section>

  <section data-background="#66B9F2">
    <h3>PR como colaborador</h3>
    <p>Sólo disponible si tenemos permisos de escritura</p>
    <ul>
      <li>Clonamos el repo</li>
      <li>Creamos rama <span class="marker">feature</span></li>
      <li>Añadimos cambios a esa rama</li>
      <li>La publicamos a <span class="marker">origin</span></li>
      <li>Solicitamos la <span class="marker">Pull Request</span></li>
    </ul>
  </section>

  <section data-background="#66B9F2">
    <h3>PR como contribuidor</h3>
    <p><strong>No</strong> tenemos permisos de escritura</p>
    <ul>
      <li>Hacemos un <span class="marker">fork</span> del proyecto</li>
      <li>Creamos una rama con nuestra propuesta</li>
      <li>Solicitamos una <span class="marker">Pull Request</span>...</li>
      <li>El owner del proyecto puede <span style="color: #5F5">aceptarla</span> o <span style="color: #F55">denegarla</span></li>
    </ul>
    <img style="display:block; margin: 30px auto 0" class="fragment" src="{{ img_path }}/github-pullrequest.jpg" width="200" alt="">
  </section>

  <section data-background="#66B9F2">
    <img src="{{ img_path }}/git-fork.png" alt="">
    <h3>Ejemplo práctico de PR</h3>
    </section>

</section>