{% assign img_path = './img/slides/terminal' %}

<section>
  <section class="unix">
    <h2>Terminal Unix</h2>
    <img src="{{ img_path }}/iTerm.png" alt="">
  </section>

  <section>
    <p>Mediante la <span class="marker">Terminal Unix</span> podemos acceder a programas de control de versiones de código, editores de texto, comparar archivos, etc...</p>
    <p>A continuación vamos a ver un conjunto de instrucciones básicas.</p>
  </section>

  <section>
    <h3>Tipos de Terminal Unix para Mac</h3>
    <p>MacOSX incorpora su propia consola llamada Terminal. Si lo preferimos, podemos instalar otras consolas que permiten más funcionalidades.</p>
    <ul class="font-list" style="font-size: 2.2rem;">
      <li>
        <p style="margin-bottom:0;"><code>Terminal</code> <span style="font-size: 1.6rem;">/Aplicaciones/Utilidades/Terminal.app</span></p>
      </li>

      <li>
        <p style="margin-bottom:0;"><code>iTerm2</code> <span style="font-size: 1.6rem;"><a href="http://iterm2.com/" target="_blank">http://iterm2.com/</a></span></p>
      </li>

      <li>
        <p style="margin-bottom:0;"><code>Cathode</code> <span style="font-size: 1.6rem;"><a href="http://www.secretgeometry.com/apps/cathode" target="_blank">http://www.secretgeometry.com/apps/cathode</a></span></p>
      </li>
    </ul>
  </section>

  <section>
    <h3>Tipos de Terminal Unix para Windows</h3>
    <p>La consola que trae Windows por defecto no está basada en UNIX sino que se trata de un intérprete de MS-DOS. El archivo ejecutable se llama cmd.exe. De modo que para poder ejecutar comandos UNIX deberemos de instalar algunas de las siguientes terminales:</p>
    <ul class="font-list" style="font-size: 2.2rem;">
      <li>
        <p style="margin-bottom:0;"><code>Git BASH</code> <span style="font-size: 1.6rem;"><a href="http://git-scm.com/download/win" target="_blank">http://git-scm.com/download/win</a></span></p>
      </li>

      <li>
        <p style="margin-bottom:0;"><code>Cygwin</code> <span style="font-size: 1.6rem;"><a href="http://cygwin.com/install.html" target="_blank">http://cygwin.com</a></span></p>
      </li>

      <li>
        <p style="margin-bottom:0;"><code>Babun</code> <span style="font-size: 1.6rem;"><a href="http://babun.github.io/" target="_blank">http://babun.github.io/</a></span></p>
      </li>
    </ul>
  </section>

  <section class="term">
    <h3>Navegar Directorios</h3>
    <ul class="font-list" style="font-size: 2.2rem;">
      <li>
        <p style="margin-bottom: 0;"><code>cd</code></p>
        <p style="font-size: 1.5rem;">
          Entramos dentro de un directorio mediante:<br />
          <code class="marker">$ cd [nombre de directorio]</code>
        </p>

        <p style="font-size: 1.5rem;">
          Salimos de un directorio mediante:<br />
          <code class="marker">$ cd .. </code>
        </p>
      </li>

      <li>
        <p style="margin-bottom:0;"><code>pwd</code></p>
        <p style="font-size: 1.5rem;">
          Print working directory. Muestra el directorio en el que nos encontramos:<br />
          <code class="marker">$ pwd</code>
        </p>

        <p style="font-size: 1.5rem;"><code class="marker">/users/david.garcia/www/bau</code></p>
      </li>
    </ul>
  </section>

  <section class="term">
    <h3>Crear carpetas y ficheros</h3>

    <ul class="font-list" style="font-size: 2.2rem;">
      <li>
        <p style="margin-bottom:0;"><code>mkdir</code></p>
        <p style="font-size: 1.5rem;">
          Creamos un directorio:<br />
          <code class="marker">$ mkdir [nombre de directorio a crear]</code>
        </p>
      </li>

      <li>
        <p style="margin-bottom:0;"><code>touch</code></p>
        <p style="font-size: 1.5rem;">Crea un archivo nuevo vacío o actualiza la fecha de modificación de uno existente:<br />
          <code class="marker">$ touch [opciones][nombre de archivo/os]</code><br />
        </p>
      </li>
    </ul>
  </section>

  <section class="term">
    <h3>Visualizar archivos</h3>
    <ul class="font-list" style="font-size: 2.2rem;">
      <li>
        <p style="margin-bottom:0;"><code>ls</code></p>
        <p style="font-size: 1.5rem;">
          Lista todos los archivos y carpetas contenidos en un directorio:<br />
          <code class="marker">$ ls</code>
        </p>
        <p style="font-size: 1.5rem;">
          Muestra la información completa de cada archivo y directorio:<br />
          <code class="marker">$ ls -l</code>
        </p>
      </li>

      <li>
        <p style="margin-bottom:0;"><code>more</code></p>
        <p style="font-size: 1.5rem;">
          Mostramos el contenido de un archivo. Podemos usar [spacebar] para continuar o <code>q</code> para salir:<br />
          <code class="marker">$ more [nombre del archivo]</code>
        </p>

        <p style="font-size: 1.5rem;">
          Salimos de un directorio mediante:<br />
          <code class="marker">$ cd .. </code>
        </p>
      </li>
    </ul>
  </section>

  <section class="term">
    <h3>Editores archivos</h3>
    <ul>
      <li>
        <p style="margin-bottom:0;"><code>nano</code></p>
        <p style="font-size: 1.5rem;">
          Editor de archivos de texto en terminal:<br />
          <code class="marker">$ nano [nombre de archivo existente]</code>
        </p>
      </li>

      <li>
        <p style="margin-bottom:0;"><code>Vim</code></p>
        <p style="font-size: 1.5rem;">
          Otro Editor de archivos de texto en terminal:<br />
          <code class="marker">$ vi [nombre de archivo existente]</code>
        </p>
      </li>
    </ul>
  </section>

  <section class="term">
    <h3>Modificar archivos</h3>
    <ul class="font-list" style="font-size: 2.2rem;">
      <li>
        <p style="margin-bottom:0;"><code>cp</code></p>
        <p style="font-size: 1.5rem;">
          Copia un archivo:<br />
          <code class="marker">$ cp [nombre de archivo original] [nombre de archivo copiado]</code>
        </p>
      </li>

      <li>
        <p style="margin-bottom:0;"><code>mv</code></p>
        <p style="font-size: 1.5rem;">
          Movemos un archivo o directorio<br />
          <code class="marker">$ mv [nombre del archivo][ruta a carpeta/nombre de archivo]</code>
        </p>
        <p style="font-size: 1.5rem;">
          Mediante <code>mv</code> también podemos renombrar un archivo:<br />
          <code class="marker">$ mv Gulpfile.js Gulpfile--BACKUP.js </code>
        </p>
      </li>

    </ul>
  </section>

  <section class="term">
    <h3>Modificar archivos</h3>

    <ul>
      <li>
        <p style="margin-bottom:0;"><code>diff</code></p>
        <p style="font-size: 1.5rem;">
          Comparamos 2 archivos y nos muestra sólo en qué se diferencian:<br />
          <code class="marker">$ diff [archivo original][archivo a comparar]</code>
        </p>
      </li>
    </ul>
  </section>
</section>
