<section>
    <section>
        <h3>Formateado CSS</h3>
        <ul>
            <li>Por defecto una tabla ocupa sólo el espacio mínimo de los elementos que contiene</li>
            <li>Tiene su propio tipo de <span class="marker">display:table</span></li>
            <li>Las celdas permiten <span class="marker">alineación vertical</span></li>
            <li>Esta característica permitió utilizar tablas como layout cuendo la especificación CSS no estaba ampliamente extendida entre los diferentes navegadores.</li>
        </ul>
    </section>

    <section>
    	<h3>Display: <span class="marker">table</span></h3>
    	<ul>
    		<li>Podemos asignar esta propiedad a un elemento de bloque para que se comporte como una tabla.</li>
    		<li>El comportamiento de una tabla es similar a un elemento de bloque pero solo ocupa el ancho que necesita.</li>
    	</ul>
        <p><a href="files/tables/display-table.html" target="_blank">ejemplo display:table</a></p>
    </section>

    <section>
    	<h3>Vertical align</h3>
		<p>Fijando una altura a una celda podemos utilizar la propiedad<br />
        <span class="marker">vertical-align</span> para alinear verticalmente el contenido</p>

        <p><a href="files/tables/vertical-align.html" target="_blank">ejemplo vertical align</a></p>
    </section>
</section>