<section>
	<section>
		<h3>Tables en layouts</h3>
	</section>

	<section>
		<p>A pesar de que las tablas son consistentes e intuitivas no se recomienda utilizarlas como elementos de layout ya que trata a cualquier tipo de contenido como <span class="marker">tabular data</span></p>
		<br />
		<p>Si necesitamos alguna característica exclusiva de tablas podemos crear la siguiente estructura que aporta el comportamiento de la tabla más la semántica del HTML:</p>

		<pre><code data-trim>
<article style="display: table;">
  	<div style="display: table-row;">
	    	<div style="display: table-cell;"></div>
	    	<div style="display: table-cell;"></div>
	    	<div style="display: table-cell;"></div>
  	</div>
</article>

        </code></pre>
        <p><a href="http://codepen.io/Wakkos/full/KyAEa" target="_blank">ejemplo</a> que muestra una de las ventajas de usar display:table</p>
	</section>

	<section>
		<h3>Tablas en email marketing</h3>
		<p>El único lugar en el que todavía se utilizan las tablas para crear layout es en e-mail marketing. El hecho de que los clientes de correo no hayan evolucionado al mismo ritmo que los navegadores web ha provocado que el único formato consistente entre los diferentes clientes de correo sea el formato tabla.</p>
	</section>


</section>