{% assign img_path = './img/slides/css-flexbox' %}
<section>
    <section>
        <h2>Ejercicio</h2>
    </section>

    <section>
        <p>
            Reproducir este menu 3 veces:
        </p>
        <ul style="display: block;">
            <li>Con <code>float</code></li>
            <li>Con <code>inline-block</code></li>
            <li>Con flexbox</li>
        </ul>
        <hr>
        <div class="ta-c">
            <p>
                <img src="{{ img_path }}/ex1_1.png" alt="" style="width: 400px;">
            </p>
            <p>
                <img src="{{ img_path }}/ex1_2.png" alt="" style="width: 600px;">
            </p>
            <p>
                <img src="{{ img_path }}/ex1_3.png" alt="" style="width: 800px;">
            </p>
        </div>
    </section>
</section>