<section id="clearfix">
    <section>
        <h2>clearfix</h2>
    </section>

    <section>
        <p class="mb-l">Cuando los elementos block de la página no utilizan <code>float</code> para crear layouts se visualizan así:</p>
        <hr class="mb-l">
        <pre><code data-trim contenteditable>div { float: none; }</code></pre>
        <div class="FloatGraphic-wrap">
            <div class="FloatGraphic-box">1</div>
            <div class="FloatGraphic-box">2</div>
            <div class="FloatGraphic-box">3</div>
        </div>
    </section>

    <section>
        <p class="mb-l">Un problema que suele presentarse cuando utilizamos float para crear layouts es que al remover todos los elementos en un contenedor del flow natural el contenedor se queda vacío y <strong>su altura pasa a ser 0</strong>.</p>
        <hr class="mb-l">        
        <pre><code data-trim contenteditable>div { float: left; }</code></pre>
            <div class="FloatGraphic-wrap FloatGraphic-wrap--collapse">
                <div class="FloatGraphic-box FloatGraphic-box--left">1</div>
                <div class="FloatGraphic-box FloatGraphic-box--left">2</div>
                <div class="FloatGraphic-box FloatGraphic-box--left">3</div>
            </div>
    </section>

    <section>
        <p>Este problema puede pasar desapercibido si el contenedor no tiene <code>background</code> ni <code>border</code>, pero puede afectar a los elementos que estén ubicados a continuación.</p>
    </section>

    <section data-transition="fade">
        <div class="FloatGraphic-wrap mb-m">
            <div class="FloatGraphic-box">1</div>
            <div class="FloatGraphic-box">2</div>
            <div class="FloatGraphic-box">3</div>
        </div>
        <div class="FloatGraphic-wrap fz-xs">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis repudiandae odio, expedita itaque earum pariatur tempore, placeat eaque minus illum inventore quas tenetur praesentium laudantium unde modi atque tempora voluptates.</p>
        </div>
    </section>
    
    <section data-transition="fade">
        <div class="FloatGraphic-wrap FloatGraphic-wrap--collapse mb-m">
            <div class="FloatGraphic-box FloatGraphic-box--left">1</div>
            <div class="FloatGraphic-box FloatGraphic-box--left">2</div>
            <div class="FloatGraphic-box FloatGraphic-box--left">3</div>
        </div>
        <div class="FloatGraphic-wrap fz-xs">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis repudiandae odio, expedita itaque earum pariatur tempore, placeat eaque minus illum inventore quas tenetur praesentium laudantium unde modi atque tempora voluptates.</p>
        </div>
    </section>

    <section>
        <p>Hay varios técnicas para solucionar este problema. Este conjunto de técnicas se suelen conocer con el nombre de <span class="u-marked">clearfix</span>, y aunque todas se agrupen bajo el mismo nombre sulen diferir mucho unas de otras.</p>
        <p>Hay que tener en cuenta que la propiedad <code>float</code> nunca fue diseñada para ser usada como una herramienta de layout por lo que tanto el echo de utilizarla para componer páginas,  como las distintas técnicas para solucionar los problemas asociados, no dejan de ser hacks y cada uno acarrea un serie de ventajas e inconvenientes que hay que considerar a la hora de utilizarlos.</p>
    </section>

    <section>
        <h3>Clear: both;</h3>
        <p class="mb-l">Una técnica sencilla para solucionar el problema es colocar dentro del contenedor, a continuación de los elementos flotados, un elemento con la propiedad <code class="u-marked">clear: both</code></p>
        <hr class="mb-l">
        <div class="FloatGraphic-wrap">
            <div class="FloatGraphic-box FloatGraphic-box--left">1</div>
            <div class="FloatGraphic-box FloatGraphic-box--left">2</div>
            <div class="FloatGraphic-box FloatGraphic-box--left mb-xs">3</div>
            <div class="ClearExample-clear fz-xs u-highlighted mb-xs"><code> clear: both</code>;</div>
        </div>
    </section>

    <section>
        <h3>Overflow: auto;</h3>
        <p class="mb-xs">Otra posible solución, es recurrir a la propiedad <code class="u-marked">overflow</code>.</p>
        <p class="mb-l">Cualquier valor diferente a <code>visible</code> nos corregirá el problema </p>
        <hr class="mb-l">
        <pre><code data-trim contenteditable>div { overflow: auto; }</code></pre>
        <div class="FloatGraphic-wrap">
            <div class="FloatGraphic-box FloatGraphic-box--left">1</div>
            <div class="FloatGraphic-box FloatGraphic-box--left">2</div>
            <div class="FloatGraphic-box FloatGraphic-box--left">3</div>
        </div>
    </section>

    <section>
        <h3>Clase .Clearfix</h3>
        <p>Hay otras técnicas más avanzadas y estables de clearfix que combinan varias propiedades. Es una buena idea contar en el css con una class <code class="u-marked">.clearfix</code> de ayuda para poder utilizar cuando tengamos que lidiar con el problema.</p>
        <pre><code data-trim contenteditable>.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}</code></pre>
        <small><a href="http://nicolasgallagher.com/micro-clearfix-hack/" target="_blank">Micro Clearfix</a> de Nicolas Gallaguer</small>
    </section>

    <section>
        <h3>Contenedor con clase .clearfix</h3>
        <div class="FloatGraphic-wrap">
            <div class="FloatGraphic-box FloatGraphic-box--left">1</div>
            <div class="FloatGraphic-box FloatGraphic-box--left">2</div>
            <div class="FloatGraphic-box FloatGraphic-box--left">3</div>
        </div>
        <pre><code data-trim contenteditable class="hljs html">
&#60;div class="clearfix"&#62;
    &#60;div class="float-box"&#62;1&#60;/div&#62;
    &#60;div class="float-box"&#62;2&#60;/div&#62;
    &#60;div class="float-box"&#62;3&#60;/div&#62;
&#60;/div&#62;
        </code></pre>
    </section>
</section>