{% assign img_path = './img/slides/css-background' %}

<section id="bg-origin">
    <section data-background="{{ img_path }}/background-origin.gif" data-background-repeat="no-repeat">
        <h3 class="u-overBg">background-origin</h3>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-origin: border-box; }
        </code></pre>
        <div class="fz-xxs image-wrap is--tripi" style="background-image: url({{ img_path }}/megaman.png); background-repeat: no-repeat; background-position: left top; background-origin: border-box; color: #000;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
        </div>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-origin: padding-box; }
        </code></pre>
        <div class="fz-xxs image-wrap is--tripi"  style="background-image: url({{ img_path }}/megaman.png); background-repeat: no-repeat; background-position: left top; background-origin: padding-box; color: #000;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
        </div>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-origin: content-box; }
        </code></pre>
        <div class="fz-xxs image-wrap is--tripi" style="background-image: url({{ img_path }}/megaman.png); background-repeat: no-repeat; background-position: left top; background-origin: content-box; color: #000;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
        </div>
    </section>
</section>
