<section class="text-left">
    <section>
        <h2>Width y height</h2>
    </section>

    <section>
        <p style="text-align: left; font-size: 2rem;"><em><code>width</code></em> y <em><code>height</code></em> son las propiedades que determinan el <em>ancho</em> y <em>alto</em>, respectivamente, del area de contenido de un elemento html.</p>
    </section>

    <section>
        <p style="text-align: left; font-size: 2rem;"><strong>Por defecto su valor es <code>auto</code></strong>, es decir que se asignaran automaticamente dependiendo de si el elemento es inline o block.</p>
        <ul style="text-align: left; font-size: 2rem;">
            <li>Si es <code>inline</code>, el <code>width</code> será tan largo como el contenido.</li>
            <li>Si es <code>block</code>, ocupará el 100% de su contenedor.</li>
        </ul>

        <div style="border: 2px dotted hsla(0,0%,60%,.6); margin: 4rem auto 0; width: 80%;">
            <h4 style="background: hsla(200, 70%, 60%, .3); text-align:left; text-transform: none;">Lorem ipsum dolor sit</h4>
            <p style="background: hsla(200, 70%, 60%, .3); font-size: .7em;">Lorem ipsum dolor sit amet, <strong style="background: hsla(100, 70%, 60%, .3);" >consectetur adipisicing</strong> elit. Alias, esse ut voluptates cumque dolore vitae similique harum, ratione est voluptas reiciendis perspiciatis accusantium sed, <a href="#" style="background: hsla(100, 70%, 60%, .3); color: blue; text-decoration: underline;" >libero iure expedita</a> minima labore magnam.</p>
        </div>
    </section>

    <section>
        <p style="text-align: left; font-size: 2rem;">El <code>height</code> por su parte, dependerá del alto del contenido, por lo que, si se trata de texto <strong>estará ligado al <code>line-height</code></strong> del mismo.</p>

        <div style="margin: 4rem auto 0; width: 80%;">
            <p style="background: hsla(200, 70%, 60%, .3); font-size: .7em; margin: 0; line-height: 30px;">Lorem ipsum dolor sit amet,consectetur adipisicing elit.</p>
        </div>

        <div style="margin: 4rem auto 0; width: 80%;">
            <p style="background: hsla(200, 70%, 60%, .3); font-size: .7em; margin: 0; line-height: 30px;">Lorem ipsum dolor sit amet,consectetur adipisicing elit. Alias, esse ut voluptates cumque dolore vitae similique harum, ratione est voluptas reiciendis perspiciatis accusantium sed, libero iure expedita minima labore magnam.</p>
        </div>
    </section>
                </section>