<section class="text-left">
    <section>
        <h2>Combinando degradados</h2>
    </section>

    <section>
        <p>Podemos utilizar múltiples degradados de la misma manera que utilizábamos múltiples imágenes, separándolos con una coma dentro de la propiedad <code>background-image</code>.</p>
        <p>Para que los degradados de debajo se vean tendremos que utilizar colores con transparencia.</p>
    </section>

    <section>
        <pre><code data-trim contenteditable>
div {
    background-image:
        radial-gradient(
            circle closest-side, HotPink, rgba(65, 105, 225, .2)
        ),
        linear-gradient(
            orange,olive
        );
}
        </code></pre>
        <div class="gradient-wrap" style="background-image: radial-gradient(circle closest-side, HotPink, rgba(65, 105, 225, .2)), linear-gradient(orange, olive)"></div>
    </section>

    <section>
        <pre><code data-trim contenteditable style="font-size: 1.2rem; line-height: 1.2;">
div {
    background-image:
        radial-gradient(
            circle,
            gold, gold 35px,
            rgba(0,0,0,0) 35px, rgba(0,0,0,0)
        ),
        linear-gradient(
            to top,
            LightSkyBlue 33%,
            white 33%, white 66%,
            LightSkyBlue 66%
        );
}
        </code></pre>
        <div class="gradient-wrap" style="background-image: radial-gradient(circle, gold, gold 35px, rgba(0,0,0,0) 35px, rgba(0,0,0,0)), linear-gradient(to top, LightSkyBlue 33%, white 33%, white 66%, LightSkyBlue 66%)"></div>
    </section>

    <section>
        <p>Las posibilidades son muchísimas y seguirán aumentando cuando los <i>blend-modes</i> propuestos por Adobe tengan soporte completo en todos los navegadores.</p>
        <ul>
            <li><a href="http://lea.verou.me/css3patterns/">CSS3 Patterns Gallery</a></li>
            <li><a href="http://bennettfeely.com/gradients/">New CSS gradient possibilities with the background-blend-mode property</a></li>
        </ul>
    </section>
</section>