{% assign img_path = './img/slides/css-background' %}

<section>
    <section data-background="{{ img_path }}/background-image.gif" data-background-repeat="no-repeat">
        <h3 class="u-overBg  ">background-image</h3>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-image: url(img/dalek.png); }
        </code></pre>
        <div class="image-wrap is--dalek">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsum.</p>
            <p>cum praesentium temporibus debitis odit ipsam est, libero eaque hic magnam! Adipisci, repudiandae, quisquam!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, maxime sunt deserunt illum architecto! Consequatur ut debitis nesciunt adipisci, ad maxime eligendi itaque fugiat ea repellat odit voluptatum corporis blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quod, id dolore ad asperiores!</p>
        </div>
    </section>
</section>
