<section id="box-model" class="fz-s">
    <section>
        <h2>Box model</h2>
    </section>

    <section>
        <p>Todos los elementos en una página web son cajas rectangulares.</p>
        <p>Las características de estas cajas podemos describirlas a través del <em>box-model</em>.</p>
    </section>

    <section>
        <p>Hay varias propiedades CSS que controlan las dimensiones de cada elemento:</p>
        <ul>
            <li><em><code>width</code></em> y <em><code>height</code></em>, que definen las dimensiones del elemento (aunque, como se aplican exactamente, dependerá de la propiedad <code>display</code>)</li>
            <li><em><code>padding</code></em>, que determina el espacio entre el contenido y el borde exterior.</li>
            <li>El mismo <em><code>border</code></em> de la caja.</li>
            <li><em><code>margin</code></em>, el espacio que separa el elemento del resto de elementos.</li>
        </ul>
    </section>

    <section>
        <div class="BoxModelGraphic-margin">
            <div class="BoxModelGraphic-padding">
                <span class="BoxModelGraphic-content" contenteditable>contenido</span>
            </div>
        </div>
        <p class="BoxModelGraphic-legend ta-c fz-xxs"><span class="c-purple">Area de contenido</span> | <span class="c-yellow">Padding</span> | <span class="c-red">Border</span> | <span class="c-cyan">Margin</span></p>
        <hr>
<pre><code data-trim contenteditable>
.box {
    width: 300px;
    height: 50px;
    border: 5px solid #d8cd00;
    margin: 50px;
    padding: 50px;
}
</code></pre>
    </section>

    <section>
        <p>Por defecto <strong>el navegador añade los paddings y los bordes a las dimensiones del elemento</strong></p>
        
        <div class="BoxModelGraphic-padding">
            <span  class="BoxModelGraphic-content" contenteditable>contenido</span>
        </div>
        <p class="BoxModelGraphic-legend ta-c fz-xxs"><span class="c-purple">300px</span> + <span class="c-yellow">50px * 2</span> + <span class="c-red">5px * 2</span> = <span class="fz-xs">410px</span></p>
        <hr>
<pre><code data-trim contenteditable>
.box {
    width: 300px;
    height: 50px;
    border: 5px solid #d8cd00;
    margin: 50px;
    padding: 50px;
}
</code></pre>
    </section>

    <section>
        <h3>Box-sizing</h3>
        <p><code>box-sizing</code> tiene 3 valores posibles:</p>
        <ul>
            <li><em><code>content-box</code></em>: el que se aplica por defecto y calcula el <code>width</code> y <code>height</code> teniendo en cuenta únicamente el contenido.</li>
            <li><em><code>padding-box</code></em>: Incluye el <code>padding</code> dentro de las dimensiones del elemento.</li>
            <li><em><code>border-box</code></em>: Incluye <code>padding</code> y <code>border</code> dentro de las dimensiones.</li>
        </ul>
    </section>
    
    <section>
        <p>Es una buena idea, sobre todo si trabajamos con una layout flexible (en porcentajes) declarar <em><code>box-sizing: border-box</code></em> para todos los elementos usando el selector universal (<code>*</code>).</p>
<pre><code data-trim contenteditable>*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
</code></pre>
        <p class="fz-xs ta-c"><a href="https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/">“Inheriting box-sizing Probably Slightly Better Best-Practice”</a> - Chris Coyier</p>
    </section>
</section>