<section class="text-left">
    <section>
        <h2>clearfix</h2>
    </section>

    <section class="float-example-02">
        <p style="font-size: 1.8rem;">Cuando los elementos block de la página no utilizan <code>float</code> para crear layouts se visualizan así:</p>
        <hr>
        <pre><code data-trim contenteditable>div { float: none; }</code></pre>
        <div class="float-wrap">
            <div class="float-box">1</div>
            <div class="float-box">2</div>
            <div class="float-box">3</div>
        </div>
    </section>

    <section>
        <p>Pero si usamos <code>float</code> en todos los elementos de un mismo contenedor <br>su altura <span class="marker">se colapsa.</span></p>
        <p>Para evitar que suceda usamos la técnica <span class="marker">Clearfix</span></p>
        <pre><code data-trim contenteditable>div { float: left; }</code></pre>
            <div class="float-wrap">
                <div class="float-box float-left">1</div>
                <div class="float-box float-left">2</div>
                <div class="float-box float-left">3</div>
            </div>
        <small>Contenedor con Clearfix</small>
    </section>

    <section>
        <p>En este ejemplo el primer contenedor tiene todos sus elementos con <span class="marker">float</span> y no se ha utilizado clearfix de modo que su altura pasa a ser 0.</p>
        <hr>
        <div class="float-example-03">
            <div class="float-wrap">
                <div class="float-box float-left">1</div>
                <div class="float-box float-left">2</div>
                <div class="float-box float-left">3</div>
            </div>
            <div class="float-wrap">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis repudiandae odio, expedita itaque earum pariatur tempore, placeat eaque minus illum inventore quas tenetur praesentium laudantium unde modi atque tempora voluptates.</p>
            </div>
        </div>
    </section>

    <section class="float-example-02">
        <h3>Clear: both;</h3>
        <p>Una técnica sencilla para solucionar el problema es colocar dentro del contenedor, a continuación de los elementos flotados, un elemento con la propiedad <br><code class="marker">clear: both</code></p>
        <hr>
        <div class="float-wrap">
            <div class="float-box float-left">1</div>
            <div class="float-box float-left">2</div>
            <div class="float-box float-left">3</div>
            <div class="float-clear">clear: both;</div>
        </div>
    </section>

    <section class="float-example-02">
        <h3>Overflow: auto;</h3>
        <p>Otra posible solución, es recurrir a la propiedad <code>overflow</code>. <br>Cualquier valor diferente a <code>visible</code> nos corregirá el problema </p>
        <hr>
        <pre><code data-trim contenteditable>div { overflow: auto; }</code></pre>
        <div class="float-wrap float-cleared">
            <div class="float-box float-left">1</div>
            <div class="float-box float-left">2</div>
            <div class="float-box float-left">3</div>
        </div>
    </section>

    <section>
        <h3>Clase .Clearfix</h3>
        <p>Una buena práctica es aplicar la clase <span class="marker">.clearfix</span> al contenedor con elementos flotados:</p>
        <pre><code data-trim contenteditable>.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}</code></pre>
        <small><a href="http://nicolasgallagher.com/micro-clearfix-hack/" target="_blank">Micro Clearfix</a> de Nicolas Gallaguer</small>
    </section>

    <section class="float-example-02">
        <h3>Contenedor con clase .clearfix</h3>
        <div class="float-wrap float-cleared">
            <div class="float-box float-left">1</div>
            <div class="float-box float-left">2</div>
            <div class="float-box float-left">3</div>
        </div>
        <pre><code data-trim contenteditable>&#60;div class="clearfix"&#62;
    &#60;div class="float-box"&#62;1&#60;/div&#62;
    &#60;div class="float-box"&#62;2&#60;/div&#62;
    &#60;div class="float-box"&#62;3&#60;/div&#62;
    &#60;/div&#62;</code></pre>
    </section>
</section>