<section class="text-left">
    <section>
        <h2>Box model</h2>
    </section>

    <section>
        <p style="text-align: left; font-size: 2rem;">Todos los elementos en una página web son cajas rectangulares.</p>
        <p style="text-align: left; font-size: 2rem;">Las características de estas cajas podemos describirlas a través del <em>box-model</em>.</p>
    </section>

    <section>
        <p style="text-align: left; font-size: 2rem;">Hay varias propiedades CSS que controlan las dimensiones de cada elemento:</p>
        <ul style="text-align: left; font-size: 2rem;">
            <li><em><code>width</code></em> y <em><code>height</code></em>, que definen las dimensiones del elemento (aunque, como se aplican exactamente, dependerá de la propiedad <code>display</code>)</li>
            <li><em><code>padding</code></em>, que determina el espacio entre el contenido y el borde exterior.</li>
            <li>El mismo <em><code>border</code></em> de la caja.</li>
            <li><em><code>margin</code></em>, el espacio que separa el elemento del resto de elementos.</li>
        </ul>
    </section>

    <section style="text-align: center;">
        <div class="box-model__margin">
            <div class="box-model">
                <span style="height: 50px" contenteditable>contenido</span>
            </div>
        </div>
        <p style="font-size: 1.2rem; font-weight: bold; margin-top: 1rem; text-align: center;"><span style=" margin: 0 1em; color: #37cbd7;">Area de contenido</span> | <span style=" margin: 0 1em; color: #27ae60;">Padding</span> | <span style=" margin: 0 1em; color: #d8cd00;">Border</span> | <span style=" margin: 0 1em; color: rgb(213, 126, 0);">Margin</span></p>
        <hr>
        <pre><code data-trim contenteditable>.box {
    width: 300px;
    height: 50px;
    border: 5px solid #d8cd00;
    margin: 50px;
    padding: 50px;
}</code></pre>
    </section>

    <section>
        <p style="text-align: left; font-size: 2rem">Por defecto <strong>el navegador añade los paddings y los bordes a las dimensiones del elemento</strong></p>
        <div class="box-model" style="display: inline-block; margin: 1rem 0;">
            <span style="height: 50px" contenteditable>contenido</span>
        </div>
        <p style="font-size: 1.2rem; font-weight: bold; margin-top: 1rem; text-align: center;"><span style=" margin: 0 1em; color: #37cbd7;">300px</span> + <span style=" margin: 0 1em; color: #27ae60;">50px * 2</span> + <span style=" margin: 0 1em; color: #d8cd00;">5px * 2</span> = <span style=" margin: 0 1em; font-size: 1.5rem;">410px</span></p>
        <hr>
        <pre><code data-trim contenteditable>.box {
    width: 300px;
    height: 50px;
    border: 5px solid #d8cd00;
    margin: 50px;
    padding: 50px;
}</code></pre>
    </section>

    <section>
        <h3>Box-sizing</h3>
        <p style="text-align: left; font-size: 2rem"><code>box-sizing</code> tiene 3 valores posibles:</p>
        <ul style="text-align: left; font-size: 2rem">
            <li><em><code>content-box</code></em>: el que se aplica por defecto y calcula el <code>width</code> y <code>height</code> teniendo en cuenta únicamente el contenido.</li>
            <li><em><code>padding-box</code></em>: Incluye el <code>padding</code> dentro de las dimensiones del elemento.</li>
            <li><em><code>border-box</code></em>: Incluye <code>padding</code> y <code>border</code> dentro de las dimensiones.</li>
        </ul>
    </section>
    
    <section>
        <p style="text-align: left; font-size: 2rem">Es una buena idea, sobre todo si trabajamos con una layout flexible (en porcentajes) declarar <em><code>box-sizing: border-box</code></em> para todos los elementos usando el selector universal (<code>*</code>).</p>
        <pre><code data-trim contenteditable>*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}</code></pre>
    </section>
</section>