{% assign img_path = './img/slides/css-background' %}

<section>
  <section>
    <h2>Imágenes de fondo</h2>
  </section>

  <section>
    <p>CSS nos permite hacer mucho más con el background de un elemento que simplemente asignarle un color plano.</p>
    <p>Gracias a la propiedad <em><code>background-image</code></em> podremos asignar imágenes de fondo, pero eso es solo el comienzo.</p>
  </section>

  <section>
    <ul class="font-list mb-m">
      <li>
        <strong>background-color</strong> - <i>&#060;color value&#062;</i>
      </li>
      <li>
        <strong>background-image</strong> - <i>&#060;url (location of image)&#062;</i> | none
      </li>
      <li>
        <strong>background-repeat</strong> - repeat | repeat-x | repeat-y | no-repeat
      </li>
      <li>
        <strong>background-position</strong> - <i>&#060;length measurement&#062;</i> | <i>&#060;percentage&#062;</i> | left | center | right | top | bottom
      </li>
      <li>
        <strong>background-attachment</strong> - scroll | fixed | <span class="u-marked">local</span>
      </li>
      <li>
        <strong><span class="u-marked">background-clip</span></strong> - border-box | padding-box | content-box
      </li>
      <li>
        <strong><span class="u-marked">background-origin</span></strong> - border-box | padding-box | content-box
      </li>
      <li>
        <strong><span class="u-marked">background-size</span></strong> - <i>&#060;length&#062;</i> | <i>&#060;percentage&#062;</i> | auto | cover | contain
      </li>
    </ul>
    <p class="u-marked fz-xxs"><i>* Nuevos en CSS3</i></p>
  </section>
</section>
