<section id="borders">
    <section>
        <h2>Borders</h2>
    </section>

    <section class="fz-xs">
        <p><code>border</code> es la propiedad usada para controlar el borde que delimita un elemento y requiere tres valores: <code>width</code>, <code>style</code> y <code>color</code> separados por un espacio.</p>
<pre style="float:left; width: 70%;"><code data-trim contenteditable>
.box {
    border: 1px solid red;
}
</code></pre>
        <div style="border: 1px solid red; float:right; margin: 20px 10% 0 0; width: 80px; height: 80px;"></div>
        <p style="clear: both;">Si queremos afectar estos valores de manera individual utilizaremos las propiedades: <em><code>border-width</code></em>, <em><code>border-style</code></em> y <em><code>border-color</code></em>, que pueden a su vez contener 4 valores, uno por lado, al igual que el padding o el margin.</p>
<pre style="float:left; width: 70%;"><code data-trim contenteditable>
.box {
    border-width: 1px 8px 6px 4px;
    border-style: solid;
    border-color: red blue;
}
</code></pre>
        <div style="border-width: 1px 8px 6px 4px; border-style: solid; border-color: red blue; float:right; margin: 40px 10% 0 0; width: 80px; height: 80px;"></div>
    </section>

    <section>
        <p>Tambien podemos combinar las propiedades anteriores con los diferentes valores <code>top</code>, <code>right</code>, <code>bottom</code>, <code>left</code> para cambios muy precisos.</p>
<pre><code data-trim contenteditable>
.box {
    border-right-style: solid;
    border-top-width: 4px;
    border-bottom-color: red;
}
</code></pre>
    </section>

    <section>
        <p>Los posibles estilos de borde que nos ofrece CSS para la propiedad <em><code>border-style</code></em> son:</p>
        <p class="fz-xs">
            <code>none</code> | <code>hidden</code> | <code>dotted</code> | <code>dashed</code> | <code>solid</code> | <code>double</code> | <code>groove</code> | <code>ridge</code> | <code>inset</code> | <code>outset</code>
        </p>
        <hr>
        <div class="BordersExample">
            <code class="BordersExample--solid">2px <br> solid</code>
            <code class="BordersExample--double">6px <br> double</code>
            <code class="BordersExample--dashed">8px <br> dashed</code>
            <code class="BordersExample--dotted">4px <br> dotted</code>
        </div>
    </section>

    <section class="fz-s">
        <h3>border-radius</h3>
        <p>La propiedad <em><code>border-radius</code></em> nos permite redondear las esquinas de nuestras cajas.</p>
        <p>En su forma más simple funciona similar al propiedad a otras propiedades, aceptando 4 valores separados por espacio que indicarán el <strong>radio de la circunferencia</strong> que aplicaremos a las esquinas, empezando el primer valor en la esquina superior izquierda y desplazandose en sentido horario.</p>
        <pre><code contenteditable>.box { border-radius: 10px 40px 40px 10px; }</code></pre>
        <div class="bg-grayLighter bdc-red" style="border: 6px solid; border-radius: 10px 40px 40px 10px; margin: 1em auto 0; width: 100px; height: 100px;">
        </div>
    </section>
</section>