{% assign img_path = './img/slides/css-flexbox' %}
<section>
    <section>
        <h2>Ejercicio</h2>
    </section>

    <section class="ta-c">
        <p>
            Reproducir este menu 3 veces: con floats, con inline-block y con flexbox
        </p>
        <p>
            <img src="{{ img_path }}/ex1_1.png" alt="" style="width: 400px;">
        </p>
        <p>
            <img src="{{ img_path }}/ex1_2.png" alt="" style="width: 600px;">
        </p>
        <p>
            <img src="{{ img_path }}/ex1_3.png" alt="" style="width: 800px;">
        </p>
    </section>
</section>