<section>
    <section>
        <h2>Calculando medidas</h2>
    </section>

    <section>
        <p><strong>Available space</strong> = (container size - suma de flex-basis de los items)</p>
        <p><strong>Grow unit</strong> = (Available space / suma de flex-grow de los items)</p>
        <p><strong>Flex item size</strong> = (Flex basis + (Grow Unit * flex-grow))</p>
        <p><a href="https://chriswrightdesign.com/experiments/flexbox-adventures/">Flexbox adventures</a></p>
    </section>
</section>