{% assign img_path = './img/slides/css-background' %}

<section id="bg-clip">
  <section data-background="{{ img_path }}/background-clip.gif" data-background-repeat="no-repeat">
    <h3 class="u-overBg">background-clip</h3>
  </section>

  <section class="bg-image">
    <pre><code data-trim contenteditable>
      div { background-clip: border-box; }
    </code></pre>
    <div class="fz-xxs image-wrap is--tripi" style="background-clip: border-box;">
      <p class="c-cyan">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
    </div>
  </section>

  <section class="bg-image">
    <pre><code data-trim contenteditable>
      div { background-clip: padding-box; }
    </code></pre>
    <div class="fz-xxs image-wrap is--tripi" style="background-clip: padding-box;">
      <p class="c-cyan">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
    </div>
  </section>

  <section class="bg-image">
    <pre><code data-trim contenteditable>
      div { background-clip: content-box; }
    </code></pre>
    <div class="fz-xxs image-wrap is--tripi" style="background-clip: content-box;">
      <p class="c-cyan">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
    </div>
  </section>
</section>
