<section class="text-left">
    <section>
        <h2>Degradado linear</h2>
    </section>

    <section>
        <p>CSS nos facilita varias opciones para poder crear todo tipo de degradados utilizando la propiedad <em><code>background-image</code></em> </p>
        <p>Un ejemplo de la sintáxis para crear un degrado linear simple sería:</p>
        <p><code>background-image: linear-gradient(180deg, HotPink, SkyBlue)</code></p>
    </section>

    <section>
        <pre><code data-trim contenteditable>
div {
    background-image: linear-gradient(45deg, HotPink, SkyBlue)
}
        </code></pre>
        <div class="gradient-wrap" style="background-image: linear-gradient(45deg, HotPink, SkyBlue)">
        </div>
    </section>

    <section>
        <p>Ademas de la unidad <code>deg</code> para controlar la rotación de nuestro degradado, CSS nos permite utilizar otras <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/angle">unidades de medida</a> además de palabras clave.</p>
        <pre><code data-trim contenteditable>
div {
    background-image: linear-gradient(to bottom right, HotPink, SkyBlue)
}
        </code></pre>
        <div class="gradient-wrap" style="background-image: linear-gradient(to bottom right, HotPink, SkyBlue)"></div>
    </section>

    <section>
        <p>También podemos variar el punto en que los colores comienzan a fundirse especificando un <i>color stop</i> con un valor (normalmente un porcentaje) detrás del color que queramos afectar.</p>
        <pre><code data-trim contenteditable>
div {
    background-image: linear-gradient(to top, HotPink 80%, SkyBlue);
}
        </code></pre>
        <div class="gradient-wrap" style="background-image: linear-gradient(to top, HotPink 70%, SkyBlue)"></div>
    </section>

    <section>
        <div class="fragment">
        <p>Si hacemos coincidir los cambios de color podemos simular transiciones entre dos colores planos.</p>

        <pre><code data-trim contenteditable>
div {
    background-image: linear-gradient(to top, HotPink 50%, SkyBlue 50%);
}
        </code></pre></div>
        <div class="gradient-wrap" style="background-image: linear-gradient(to top, HotPink 50%, SkyBlue 50%)"></div>
    </section>

    <section>
        <p>Por supuesto podemos hacer degradados con múltiples colores simplemente agregando más al final de la lista.</p>
        <pre><code data-trim contenteditable>
div {
    background-image: linear-gradient(to top, HotPink, SkyBlue, lime);
}
        </code></pre>
        <div class="gradient-wrap" style="background-image: linear-gradient(to top, HotPink, SkyBlue, lime)"></div>
    </section>


    <section>
        <div>
        <p>Para conseguir el efecto de bordes planos con más de dos colores es necesario repetir los colores intermedios, o sea, que delimitan con más de un color.</p>

        <pre><code data-trim contenteditable>
div {
    background-image: linear-gradient(to top, LightSkyBlue 30%, white 30%,
    white 70%, LightSkyBlue 70%);
}
        </code></pre></div>
        <div class="gradient-wrap" style="background-image: linear-gradient(to top, LightSkyBlue 33%, white 33%, white 66%, LightSkyBlue 66%)"></div>
    </section>

</section>