{% assign img_path = './img/slides/css-background' %}

<section id="bg-position">
    <section data-background="{{ img_path }}/background-position.gif" data-background-repeat="no-repeat" data-background-position="center 5%" data-background-size="230px">
        <h3>background-position</h3>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-position: 15% 200px; }
        </code></pre>
        <div class="fz-xxs image-wrap is--megaman"  style="background-repeat: no-repeat; background-position: 5% 200px;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsum.</p>
            <p>cum praesentium temporibus debitis odit ipsam est, libero eaque hic magnam! Adipisci, repudiandae, quisquam!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, maxime sunt deserunt illum architecto! Consequatur ut debitis nesciunt adipisci, ad maxime eligendi itaque fugiat ea repellat odit voluptatum corporis blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quod, id dolore ad asperiores!</p>
        </div>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-position: center; }
        </code></pre>
        <div class="fz-xxs image-wrap is--megaman"  style="background-repeat: no-repeat; background-position: center;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsum.</p>
            <p>cum praesentium temporibus debitis odit ipsam est, libero eaque hic magnam! Adipisci, repudiandae, quisquam!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, maxime sunt deserunt illum architecto! Consequatur ut debitis nesciunt adipisci, ad maxime eligendi itaque fugiat ea repellat odit voluptatum corporis blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quod, id dolore ad asperiores!</p>
        </div>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-position: left top; }
        </code></pre>
        <div class="fz-xxs image-wrap is--megaman"  style="background-repeat: no-repeat; background-position: left top;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsum.</p>
            <p>cum praesentium temporibus debitis odit ipsam est, libero eaque hic magnam! Adipisci, repudiandae, quisquam!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, maxime sunt deserunt illum architecto! Consequatur ut debitis nesciunt adipisci, ad maxime eligendi itaque fugiat ea repellat odit voluptatum corporis blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quod, id dolore ad asperiores!</p>
        </div>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-position: right bottom; }
        </code></pre>
        <div class="fz-xxs image-wrap is--megaman"  style="background-repeat: no-repeat; background-position: right bottom;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsum.</p>
            <p>cum praesentium temporibus debitis odit ipsam est, libero eaque hic magnam! Adipisci, repudiandae, quisquam!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, maxime sunt deserunt illum architecto! Consequatur ut debitis nesciunt adipisci, ad maxime eligendi itaque fugiat ea repellat odit voluptatum corporis blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quod, id dolore ad asperiores!</p>
        </div>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-position: right 100px bottom 20px; }
        </code></pre>
        <div class="fz-xxs image-wrap is--megaman"  style="background-repeat: no-repeat; background-position: right 100px bottom 20px;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsum.</p>
            <p>cum praesentium temporibus debitis odit ipsam est, libero eaque hic magnam! Adipisci, repudiandae, quisquam!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, maxime sunt deserunt illum architecto! Consequatur ut debitis nesciunt adipisci, ad maxime eligendi itaque fugiat ea repellat odit voluptatum corporis blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quod, id dolore ad asperiores!</p>
        </div>
    </section>
</section>
