<section>
    <section>
        <h2>Responsive web design</h2>
    </section>

    <section>
        <p>Reponsive web design es una metodología a la hora de afrontar el diseño y desarrollo de una web que procura solventar el problema que genera la inmensa variedad de dispositivos del mercado actual.</p>
        <p>Su objetivo es conseguir que nuestro contenido se represente bien <strong>independientemente de las características del cliente que lo reproduzca</strong>.</p>
    </section>

    <section>
        <p>Cómo alcanzar este objetivo puede variar mucho dependiendo el diseño particular de nuestra web pero hay algunos puntos y técnicas que nos serán imprescindibles.</p>
    </section>
</section>