{% assign img_path = './img/slides/sass' %}

<section class="unix">

    <section>
        <img src="{{ img_path }}/sass.png" alt="" width="250">
        <h4>Programación en SASS<br /> (Primera parte)</h4>
    </section>

    <section>
        <h3>Declarando Variables</h3>
        <p class="marker">Una variable es un registro donde guardamos un dato que necesitaremos aplicar en diferentes partes de nuestro código.</p>
        <p>Para poder utilizar una variable primero hemos de crearla y asignarle un valor. <br />A este proceso se le denomina <span class="marker">declaración de variables</span></p>
        <pre><code data-trim contenteditable style="line-height: 1.5em; font-size: 1.2em;">
Sintaxis

// Color Variables
$primaryColor: rgba(255,0,0,.5);
$secondaryColor: rgba(255,100,100,.5);

        </code></pre>
        <p>Podemos almacenar, colores, valores en píxeles o en %, tipografías, etc...</p>
    </section>

    <section>
        <h3>Utilizando Variables</h3>
        <p>Una vez declarada, podemos reutilizar las variables en tantos lugares de nuestro código como necesitemos.</p>
        <pre><code data-trim contenteditable style="line-height: 1.5em; font-size: 1.2em;">
// Aplying color
h1 {
    color: $primaryColor;
}

h2 {
    color: $secondaryColor;
}

        </code></pre>
    </section>

    <section>
        <h3>CSS resultante</h3>
        <p>Al aplicar las variables <code style="font-size: .9em;">$prymaryColor</code> y <code style="font-size: .9em;">$secondaryColor</code> a los h1 y h2 respectivamente SASS nos genera el siguiente CSS:</p>
        <pre><code data-trim contenteditable style="line-height: 1.5em; font-size: 1.2em;">
// Preprocessed CSS result
h1 {
    color: rgba(255,0,0,.5);
}

h2 {
    color: rgba(255,100,100,.5);
}

        </code></pre>
    </section>

    <section>
        <h3>Anidación</h3>
        <p>SASS permite anidar un selector CSS dentro de otro para obtener una mayor versatilidad:</p>
        <pre><code data-trim contenteditable style="line-height: 1.5em; font-size: 1.2em;">
.slider-container {
    float:left;
    max-width: $inner-width;
    
    img {
            border: none;
            display: block;
            margin: $gutter;
        }
}
        </code></pre>
    </section>

    <section>
        <h3>Resultado de Anidación</h3>
        <p>En la anidación anterior el CSS resultante será:</p>
        <pre><code data-trim contenteditable style="line-height: 1.5em; font-size: 1.2em;">
.slider-container  {
    float:left;
    max-width: 768px;
} 
    
.slider-container img {
    border: none;
    display: block;
    margin: 20px;
}
        </code></pre>
    </section>

    <section>
        <h3>Diversificar archivos SASS</h3>
        <p>Para agilizar el proceso de edición y depuración de errores evitaremos trabajar con un único archivo CSS. En lugar de eso crearemos diferentes archivos SASS que separarán en módulos nuestro código.</p>
        <p class="marker">Finalmente, todos los archivos SASS los combinaremos en un sólo CSS para evitar realizar múltiples llamadas HTTP que ralentizen la carga de nuestro site.</p>
    </section>

    <section>
        <h3>Importando archivos SASS</h3>
        <p>Para crear esa estructura modularizada utilizaremos <span class="marker">@import</span> en nuestro archivo style.scss. <span class="marker">El resultado será un style.css con <strong>todo el código importado.</strong></span></p>
        <pre><code data-trim contenteditable style="line-height: 1.5em; font-size: 1.2em;">
// Contenido de style.scss

@import "base/header";
@import "base/layout";
@import "base/footer";
@import "tipography/headings";
@import "components/buttons";
@import "components/boxes";
        </code></pre>
    </section>

    <section>
        <h3>Nombres de archivos</h3>
        <p>Para indicar en SASS que un archivo concreto es un módulo le añadimos un "_" delante del nombre. De esta forma no crearemos un archivo CSS más sino que formará parte del @import</p>

        <pre><code data-trim contenteditable style="line-height: 1.5em; font-size: 1.2em;">
// Nombres de los módulos SASS

base/_header.scss
base/_layout.scss
base/_footer.scss
tipography/_headings.scss
components/_buttons.scss
components/_boxes.scss

// Archivo SASS
style.scss
        </code></pre>
    </section>

    <section>
        <p>La estructura de archivos quedaría así:</p>
        <img src="{{ img_path }}/estructura-sass.png" alt="" style="margin: -20px 0 0 0;">
    </section>

    <section>
        <p>La importancia de modularizar con @import</p>
        <p>Un proyecto web se compone de múltiples elementos. Creando un archivo SASS para cada uno facilitamos el mantenimiento y el debug de errores.</p>
        <p class="marker"><strong>Una propuesta de estructura sería:</strong></p>
        <ul>
            <li><span class="marker">styles.scss</span>=> Relizamos todos los imports</li>
            <li><span class="marker">settings.scss</span>=> Declaramos las variables de entorno</li>
            <li><span class="marker">/helpers</span>=> Carpeta donde incluimos: normalize, clearfix, etc...</li>
            <li><span class="marker">/grid</span>=> Carpeta donde incluimos el framework o grid</li>
            <li><span class="marker">/layout</span>=> Carpeta de archivos que dan estructura al site</li>
            <li><span class="marker">/components</span>=> Carpeta de elementos reutilizables</li>
            <li><span class="marker">/theme</span>=> Carpeta en la que definimos la presentación</li>
        </ul>
    </section>


</section>