{% assign img_path = './img/slides/sass' %}

<section>
    <section>
        <img src="{{ img_path }}/sass.png" alt="" style="background:none; box-shadow:none; border: none; width: 250px; ">
        <h3 style="text-transform: capitalize;">
            <span class="marker">S</span>yntactically <span class="marker">A</span>wesome <span class="marker">S</span>tyle<span class="marker">S</span>heets</h3>
    </section>

    <section>
        <h3>¿Por qué he de utilizar SASS?</h3>
        <p>SASS nos permite añadir funcionalidades que no existen en CSS y que amplian enormemente sus posibilidades.</p>
    </section>

    <section>
        <h3>Algunas de las mejoras de SASS son:</h3>
        <ul>
            <li>Variables</li>
            <li>Anidación de clases y selectores</li>
            <li>Imports</li>
            <li>Extensiones de clases</li>
            <li>Funciones - (Mixins)</li>
            <li>Operaciones aritméticas</li>
        </ul>
    </section>

    <section>
        <h3>Pero lo más importante: Si usas SASS...</h3>
        <img src="{{ img_path }}/cool-cat.gif" alt="" style="background:none; box-shadow:none; border: none; width: 550px; ">
        <p>...eres más cool :)</p>
    </section>

</section>