<section class="text-left">
    <section>
        <h2>Overflow</h2>
    </section>

    <section>
        <p>Cuando forzamos las dimensiones del elemento con <em><code>width</code></em> y <em><code>height</code></em> pueden darse dos casos:</p>
        <ul>
            <li>Si el contenido ocupa menos que las dimensiones del elemento, el resto de espacio quedará vacio.</li>
            <li>Si el contenido no cabe dentro de las dimensiones asignadas, se saldrá del elemento. Podemos controlar exactamente de que manera con la propiedad <em><code>overflow</code></em>.</li>
        </ul>
    </section>

    <section>
        <pre><code data-trim contenteditable>p { height: 220px; }</code></pre>
        <div style="border: 2px dotted hsla(0,0%,60%,.6); margin: 0 auto; width: 80%;">
            <p style="background: hsla(200, 70%, 60%, .3); border: 1px solid hsla(200, 70%, 60%, .6); font-size: .7em; height: 220px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, esse ut voluptates cumque dolore vitae similique harum, ratione est voluptas reiciendis perspiciatis accusantium sed, libero iure expedita minima labore magnam.</p>
        </div>
        <hr>
        <pre><code data-trim contenteditable>p { height: 80px; }</code></pre>
        <div style="border: 2px dotted hsla(0,0%,60%,.6); margin: 0 auto; width: 80%;">

            <p style="background: hsla(200, 70%, 60%, .3); border: 1px solid hsla(200, 70%, 60%, .6); font-size: .7em; height: 80px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, esse ut voluptates cumque dolore vitae similique harum, ratione est voluptas reiciendis perspiciatis accusantium sed, libero iure expedita minima labore magnam.</p>
        </div>
    </section>

    <section>
        <p>La propiedad <em><code>overflow</code></em> controla lo que sucede con el contenido cuando excede el tamaño del elemento contenedor. Sus posibles valores son:</p>
        <ul>
            <li><code>visible</code></li>
            <li><code>hidden</code></li>
            <li><code>scroll</code></li>
            <li><code>auto</code></li>
        </ul>
    </section>

    <section>
        <h3>Overflow: visible</h3>
        <pre><code data-trim contenteditable>p {
height: 80px;
overflow: visible;
}</code></pre>
        <div style="border: 2px dotted hsla(0,0%,60%,.6); margin: 0 auto; width: 80%;">
            <p style="background: hsla(200, 70%, 60%, .3); border: 1px solid hsla(200, 70%, 60%, .6); font-size: .7em; height: 80px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, esse ut voluptates cumque dolore vitae similique harum, ratione est voluptas reiciendis perspiciatis accusantium sed, libero iure expedita minima labore magnam.</p>
        </div>
    </section>

    <section>
        <h3>Overflow: hidden</h3>
        <pre><code data-trim contenteditable>p {
    height: 80px;
    overflow: hidden;
}</code></pre>
        <div style="border: 2px dotted hsla(0,0%,60%,.6); margin: 0 auto; width: 80%;">
            <p style="background: hsla(200, 70%, 60%, .3); border: 1px solid hsla(200, 70%, 60%, .6); font-size: .7em; height: 80px; overflow: hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, esse ut voluptates cumque dolore vitae similique harum, ratione est voluptas reiciendis perspiciatis accusantium sed, libero iure expedita minima labore magnam.</p>
        </div>
    </section>

    <section>
        <h3>Overflow: scroll</h3>
        <pre><code data-trim contenteditable>p {
    height: 150px;
    overflow: scroll;
}</code></pre>
        <div style="border: 2px dotted hsla(0,0%,60%,.6); margin: 0 auto; width: 60%;">
            <p style="background: hsla(200, 70%, 60%, .3); border: 1px solid hsla(200, 70%, 60%, .6); font-size: .7em; height: 150px; overflow: scroll">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, esse ut voluptates cumque dolore vitae similique harum, ratione est voluptas reiciendis perspiciatis accusantium sed, libero iure expedita minima labore magnam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ipsam quae quibusdam temporibus laboriosam dolorem explicabo modi, esse corrupti error sapiente nemo et odit ea natus consequuntur beatae, voluptate expedita!.</p>
        </div>
    </section>

    <section>
        <h3>Overflow: auto</h3>
        <pre><code data-trim contenteditable>p {
    height: 150px;
    overflow: auto;
}</code></pre>
        <div style="border: 2px dotted hsla(0,0%,60%,.6); margin: 0 auto 1em; width: 60%;">
            <p style="background: hsla(200, 70%, 60%, .3); border: 1px solid hsla(200, 70%, 60%, .6); font-size: .7em; height: 150px; overflow: auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, esse ut voluptates cumque dolore vitae similique harum, ratione est voluptas reiciendis perspiciatis accusantium sed, libero iure expedita minima labore magnam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ipsam quae quibusdam temporibus laboriosam dolorem explicabo modi, esse corrupti error sapiente nemo et odit ea natus consequuntur beatae, voluptate expedita!.</p>
        </div>

        <div style="border: 2px dotted hsla(0,0%,60%,.6); margin: 0 auto; width: 60%;">
            <p style="background: hsla(200, 70%, 60%, .3); border: 1px solid hsla(200, 70%, 60%, .6); font-size: .7em; height: 150px; overflow: auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, esse ut voluptates cumque dolore vitae similique harum.</p>
        </div>
    </section>
</section>
