{% assign img_path = './img/slides/git' %}

<section>
    
    <section class="unix">
        <img src="{{ img_path }}/git-logo.png" alt="" width="150">
        <h4>Software de <br />Control de versiones</h4>
    </section>
    
    <section>
        <h3>¿Qué es Git?</h3>
        <h4 class="marker" style="text-transform: none; font-size: 1.2em">Git es un Software de control de versiones distribuido que permite a un equipo de desarrolladores trabajar sobre el mismo código.</h4>
        <p>Nos permite trabajar en un entorno seguro que minimiza el riesgo de pérdida de datos.</p>
        <p>Además, nos indica en todo momento el estado actual del proyecto indicando qué archivos han sido modificados y por quien.</p>
    </section>
    
    <section>
        <h3>Control de versiones <span class="marker">distribuido</span></h3>
        <p style="float: left; width: 50%; margin-top: 120px;">Se denomina "distribuido" porque cada miembro del equipo que trabaja en el proyecto dispone de <span class="marker">una copia completa del repositorio de código remoto en su carpeta local</span>.</p>
        
        <img src="{{ img_path }}/distributed.png" alt="" width="400">

    </section>

    <section>
        <h3>¿Para qué necesito Git?</h3>
        <p>Imagina que estás trabajando en el archivo <span class="marker">index.html</span> de tu proyecto web y le pides a un compañero que te ayude a implementar un slider en la cabecera. Con Git podrás:</p><br />
        <ul>
            <li>Seguir trabajando en el mismo archivo index.html</li>
            <li>Al finalizar podréis combinar los cambios realizados por ambos</li>
            <li>Podrás crear diferentes versiones para A/B testing</li>
            <li>Se evita que sobreescriban tu código o que tú hagas lo mismo</li>
            <li>Los dos dispondréis de una copia completa del código</li>
        </ul>
        
    </section>
</section>