{% assign img_path = './img/slides/git' %}

<section class="unix">
    
    <section>
        <img src="{{ img_path }}/git-logo.png" alt="" width="150">
        <h4>Instalación</h4>
    </section>
    
    <section>
        <h3>Descarga Git</h3>
        <h4 class="marker" style="text-align: center; text-transform: none; font-size: 1.2em">Selecciona la versión adecuada a tu Sistema Operativo:</h4>
        <p>Git está disponible para Windows, Mac, Linux y Solaris.</p>
        <a href="http://git-scm.com/downloads" target="_blank"><img src="{{ img_path }}/download-folder.png" alt="" width="150"></a>
    </section>
    
    <section>
        <h3>Inicializar repositorio:</h3>
        <h4 class="marker">Creamos un repositorio local</h4>
        <p>En un directorio vacío ejecutamos el siguiente comando:</p>
        <pre><code data-trim contenteditable>

$ git init

        </code></pre>
    </section>

    <section>
        <h3>Añadir archivos:</h3>
        <p class="marker">Si añadimos archivos a esta carpeta, los modificamos o borramos Git llevará un control exahustivo sobre todos los cambios que vayamos haciendo.</p>
        <p>Para ver los cambios:</p>
        <pre><code data-trim contenteditable>

$ git status

        </code></pre>
    </section>
</section>