<section>
    
    <section>
    <h2>Links relacionados</h2>
    <ul style="font-size: 1.8rem">
        <li style="margin-bottom: .4em;">
            <strong>Free online Git Book</strong><i style="color: #999;"> &mdash; Scott Chacon and Ben Straub</i><br>
            <a href="http://git-scm.com/book/en/v2" style="font-size: .8em; margin-top: -.5rem; display:block;" target="_blank">http://git-scm.com/book/en/v2</a>
        </li>
        <li style="margin-bottom: .4em;">
            <strong>git - the simple guide</strong><i style="color: #999;"> &mdash; Roger Dudler</i><br>
            <a href="http://rogerdudler.github.io/git-guide/" style="font-size: .8em; margin-top: -.5rem; display:block;" target="_blank">http://rogerdudler.github.io/git-guide/</a>
        </li>
        <li style="margin-bottom: .4em;">
            <strong>Try Github - Interactive git console</strong> <i style="color: #999;"> &mdash; Github & Code Academy</i><br>
            <a href="https://try.github.io" style="font-size: .8em; margin-top: -.5rem; display:block;" target="_blank">https://try.github.io</a>
        </li>
        <li style="margin-bottom: .4em;">
            <strong>Bitbucket - Unlimited private code repositories</strong><br>
            <a href="https://bitbucket.org/" style="font-size: .8em; margin-top: -.5rem; display:block;" target="_blank">https://bitbucket.org/</a>
        </li>
        <li style="margin-bottom: .4em;">
            <strong>Sourcetree - Opensource Git client</strong><br>
            <a href="http://www.sourcetreeapp.com/" style="font-size: .8em; margin-top: -.5rem; display:block;" target="_blank">http://www.sourcetreeapp.com/</a>
        </li>
    </ul>
</section>
</section>