{% assign img_path = './img/slides/git' %}

<section class="text-left">
    
    <section class="unix">
        <img src="{{ img_path }}/git-logo.png" alt="" width="150">
        <h4>Software de <br />Control de versiones</h4>
    </section>
    
    <section>
        <h3>¿qué es Git?</h3>
        <p style="text-align: center">Nos permite distribuirlo para trabajar en equipo en un entorno seguro que minimiza el riesgo de pérdida de datos.</p>
        <p style="text-align: center">Además, nos indica en todo momento el estado actual del proyecto indicando qué archivos han sido modificados y por quien.</p>
    </section>
    
    <section>
        <h3>Control de versiones <span class="marker">distribuido</span></h3>
        <p style="text-align: center; float: left; width: 50%; margin-top: 120px;">Se denomina "distribuido" porque cada miembro del equipo que trabaja en el proyecto dispone de una copia completa del repositorio de código.</p>
        
        <img src="{{ img_path }}/distributed.png" alt="" width="400">

    </section>
</section>