{% assign img_path = './img/slides/sublime-tip-add-theme' %}

<section class="text-left">
    <section>
        <h2>Sublime Text Tip</h2>
    </section>

    <section>
        <h3>Installing themes</h3>
        <table style="font-size: 1.8rem;">
            <tr>
                <td>Abrimos la consola mediante:</td>
                <td><code>Cmd + Shift + p</code></td>
            </tr>
            <tr>
                <td>Escribimos:</td>
                <td><code>Install package + Enter</code></td>
            </tr>
            <tr>
                <td>En la ventana que nos aparece escribimos:</td>
                <td><code>Theme - [nombre]</code></td>
            </tr>
            <tr>
                <td>Seleccionamos un tema:</td>
                <td><code>Prefs - Color Scheme - Theme [nombre]</code></td>
            </tr>
        </table>
<!--         <img src="{{ img_path }}/finding-files.gif" alt="">
 -->    </section>

        <section>
            <h3>Tema Flatland</h3>
            <p style="text-align: center;">Así quedaría la interfaz de Sublime con este tema:</p>
            <img src="{{ img_path }}/flatland.png" alt="" width="600"><br />
            <a style="font-size:.8em" href="http://www.dinvaders.com/26-themes-gratis-para-sublime-text-y-textmate/" target="_blank">Descargar más temas</a>
        </section>

</section>
