<section class="text-left">
    <section>
        <h2>Sublime Text Tip</h2>
    </section>

    <section>
        <h3>Package Control</h3>
        <p>El Package Control de Sublime Text es un gestor de paquetes que nos permite instalar muy facilmente cientos de plugins reailzados por diferentes desarrolladores.</p>
        <p>Para instalarlo, debemos dirigirnos a la siguiente dirección:</p>
        <p style="text-align: center;"><a href="https://sublime.wbond.net/installation">https://sublime.wbond.net/installation</a></p>
        <p>Una vez allí copiamos el código correspondiente a nuestra versión y lo ejecutamos en la consola de nuestro programa.</p>
        <hr>
        <p style="text-align: center;"><code>Sublime Text > View > Show Console</code></p>
    </section>

    <section>
        <p>Luego de ejecutado el código, reiniciaremos Sublime Text y ya podremos acceder al Package Control.</p>
        <p>Para instalar un nuevo plugin, lo haremos a través de la Paleta de Comandos, donde escribiremos "Install Package" y luego el nombre del plugin a instalar.
        <p>Accederemos a la paleta con:</p>
        <p style="text-align: center;"><em><code>Cmd + Shift + P</code></em></p>
    </section>
</section>
