body {
    margin: 0 auto;
    width: 100%;
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 5px;
    right: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.header-zone {
    background-color: #004f70;

    /* Esto es lo mismo que poner margin: 0; */
    margin: 0 0;

    position: fixed;
    width: 100%;
    z-index: 1;
}

.header-menu {
    margin: 0 auto;
    position: relative;
}

.container-logo{
    width: 300px;

    /* Si utilizamos position: absolute; el float deja de tener sentido */
    float: left;

    margin: 0px;
    position: absolute;
    padding: 0;
    bottom: 10px;
    left: 0;
}

.container-menu {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color:#90c5db;
    float:right;
    position: relative;
    width: 700px;
    height: 116px;
}

.container-menu li {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
    padding-left: 40px;
}

.li-inicio {
    color: white;
}

.container-image-01 {
    margin: 0 auto;
    text-align: center;
    padding-top:116px;
}

#image-01{
    width: 100%;
    height: auto;

}

.transparent-box {
    width: 600px;
    margin-top: 90px;
    margin-right: 0px;
    background: rgba(255, 255, 255, .5);
    padding: 20px;

}

.centered {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.content-frame  {
    position: absolute;
    top: 116px;
    left: 0;
    right: 0;
}

.button-more {
    width: 286px;
    height: 68px;
    background-color: #009bdb;
    display: table;
    margin-top: 30px;
    cursor: pointer;
}

.vertical-center {

    /* ¿Por que usar display: table-cell? ¿No hubiera sido mas sencillo trabajar con paddings? */
    display: table-cell;

    vertical-align: middle;
}

.container-boxes {

    /*
     *  Cuando el valor es 0 podemos omitir la unidad. Además si los dos valores horizontales
     *  son iguales podeomos omitir el ultimo:
     *
     *  padding: 50px 0 120px;
     */
    padding: 50px 0px 120px 0px;
}

.box-ideas {
    width: 400px;
    position: relative;
    background-color: #009bdb;
    float: left;
}

.box-ideas img {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30px;
    left: 30px;
}

.box-ideas h1 {
    font-weight: 300;
    color: white;
    text-align: center;
    padding-top: 40px;
    text-shadow: none;
}

.box-ideas h2 {
    text-align: center;
    margin: 20px 10px;
}

.box-promos {
    width: 830px;
    position: relative;
    float: right;
    background-color: #0088c1;
}

.box-promos h1 {
    font-weight: 300;
    color: white;
    text-align: center;
    padding-top: 40px;
    text-shadow: none;
}

.box-promos h2 {
    text-align: center;
    margin: 20px 10px;
}

.box-promos img {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30px;
    left: 30px;
}

.container-form {
    width: 450px;
    height: 468px;
    background: rgba(0, 0, 0, 0.5);
    border: 7px solid #009bdb;
    border-radius: 5px;
    text-align: center;
    float: right;
    margin-top: 45px;
}

.container-form p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    text-align: center;
    text-shadow: none;
}

#icon-form {
    position: absolute;
    margin-top: 25px;
    margin-left: 15px;
}

.button-send{
    width: 266px;
    margin: auto;
}
.button-send input{
    width: 240px;
    height: 81px;
    background-color: #009bdb;
    border-radius: 15px;
    margin: auto;
    cursor: pointer;
    padding: 0;
    margin-top: 26px;
    border: none;
    color: white;

    /* Cuando las fuentes tienen varias palabras deben ir entre comillas */
    font-family: Open Sans Condensed;

    font-weight: 700;
    font-size: 24px;
    }

.button-send p{
    padding: 0px 0px;
    margin-top: 100px;
    color: #fff;
}

input   {
    height: 54px;
    width: 283px;

    /* Declaras el font-family cada vez cuando sería más sencillo declararlo solo una vez en el body */
    font-family: 'Open Sans Condensed', sans-serif;

    font-weight: 700;
    font-size: 24px;
    color: #696969;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 60px;
}

.boxes {
    float: left;
}

.check-container {
    width: 264px;
    margin: 30px auto;
    }

.check-box {
    float: left;
}

.check-box input {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.check-text {
    float: right;
    margin-top: 11px;
}

.check-text p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin: 0;
}

.mobile-text {
    width: 450px;
    position: relative;
    float: left;
}

.mobile-text h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #004e72;
    text-align: left;
}

.mobile-text h2{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #004e72;
    text-align: left;
    padding: 20px 0px;
}

.mobile-image {
    position: relative;
    float: right;
}

.app-01 {
    float: left;
}

.app-02 {
    float: right;
}

.container-image-02 {
    margin: 0 auto;
    text-align: center;
}

#image-loft{
    width: 100%;
    height: auto;
}

.sections-text {
    width: 580px;
    height: 85px;
    background: rgba(0, 0, 0, .6);
    display: table;
    text-align: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.sections{
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}

.testimonials {
    position: relative;
}

.testimonials-text{
    width: 630px;
    position: absolute;
    float: left;
    top: 50px;
}

.testimonials-text h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #004e72;
    text-align: left;
}

.testimonials-text h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: #004e72;
    text-align: left;
    padding-top: 40px;
}

.testimonials-image {
    float: right;
}

.testimonials-image img{
    -webkit-filter: grayscale(1);

    /* el valor correcto de filter: sería "grayscale(1)", no "gray" */
    filter:gray;
}

.footer {
    background-color: #004f70;
    margin: 0 0;
    width: 100%;
}

.footer-text p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 19px;
    color: #fff;
    text-align: center;
    padding: 6em 0px;
    margin: 0;
}

.footer-text a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 19px;
    color: #fff;
}

h1  {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: black;
    text-align: left;
    line-height: 120%;
    margin: 0px;
    text-shadow: 1px 1px #fff;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: white;
    margin: 0px;
    padding: 10px;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: black;
    text-align: left;
    line-height: 120%;
    margin: 30px 0px 0px 0px;
    text-shadow: 1px 1px #fff;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #004e72;
    text-align: left;
}