html, body {
	/* smart enough :) */
	height: 100%;
}

body {
	margin: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
}

header {
	width: 100%;
	height: 115px;
	background: #004f70;
	position: fixed;
	margin:0px;
	z-index: 998;
}

.wrap{
	width:1280px;
	margin:0px auto;
}

a {
	text-decoration:none;
	/* perfecto. Sólo te has dejado la declaración sin vendor prefixes */
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	/* transition: all 0.3s ease-in; */
}

.logo img {
	float: left;
	width: 51px;
	height: 49px;
	margin-top: 40px;
}

.logo a h1{
	float: left;
	width: 100px;
	line-height: 0em;
	font-size: 40px;
	margin: 72px 0px 0px 12px;
}
.logo a h1 {
	color: white;
}

.logo a h1 em{
	color: #90c5db;
}

nav {
	float:right;
	margin-top: 13px;
	font-weight: 500;
	font-size: 23px;
	font-weight: 700;
}

nav ul {
	margin-left:6px;
}

nav li {
	float:left;
}

nav li a {
	 color: #90c5db;
	 font-size:1em;
	 padding:27px 20px 10px 20px;
	 display: block;
	 text-align:center;
	 position:relative;

}

nav li a:hover {
	color: white;
}

nav li.active a {
	color:white;
}

ol,ul {
	list-style:none;
}

.top-heading {
	padding-top: 100px;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	/* Recuerda que puedes agrupar background URL y repeat facilmente:
	background: url("../img/background.jpg") no-repeat; */
	width: 100%;
	height: 634px;
	background-origin: content-box;
	background-size: cover;
	background-position: center;
}

.text, .botton-first {
	/* 	Por qué declaras un color en rgba() si no usas su transparencia?
		Mejor usa sólo rgb(255,255,255); */ 
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}

.text {
	width: 640px;
	height: 168px;
	background: rgba(255, 255, 255, 0.5);
	font-weight: 700;
	font-size: 28px;
	padding: 20px 20px 0px 40px;
	margin-top: 150px;
	float: left;
}

.text h2 {
	line-height: 0em;
}

.text p {
	font-size: 25px;
}

.botton-first a {
	font-size: 30px;
	color: white;
	text-shadow:none;
	background: #009bdb;
	float: left;
	margin-top: 30px;
	padding: 12px 45px;
	letter-spacing: 0.05em;
	float: left;
	clear: left;
}

.anadir {
	/* 	No tiene sentido usar position absolute y float en el mismo elemento */
	position: absolute;
	width: 430px;
	height: 450px;
	background-color: rgba(0, 0, 0, 0.3);
	float: left;
	/* 	Agrupa márgenes 
		margin: 120px 0 0 832px;
		Cuando veas un margen con un valor tan elevado es probable que su posicionamiento sea incorrecto */
	margin-left: 832px;
	margin-top: 120px;
	border: solid 12px #0088c1;
}

.anadir h4 {
	text-align: center;
	color: white;
	font-size: 25px;
	line-height: 0em;
}

input {
	width: 282px;
	height: 55px;
	margin-left: 40px;
	margin-top: 15px;
	font-size: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #696969;
	border-radius: 10px;
	border: solid 1px black;
	background-repeat: no-repeat;
	background-position: 15px 15px;
}

.input-text input, 
.input-email input, 
.input-password input {
	/* utiliza salto de linea despues de cada statement para mejorar legibilidad de código */
	padding-left: 60px;
}

.input-text input {
	background-image: url("../img/input-text.png");
}

.input-email input {
	background-image: url("../img/input-email.png");
	background-position: 15px 18px;
}

.input-password input {
	background-image: url("../img/input-password.png");
	background-position: 18px 15px;
}

.acepto input {
	width: 24px;
	height: 24px;
	margin: 20px 15px 0px 60px;
}

.acepto, .acepto a {
	color: white;
	font-size: 19px;
	letter-spacing: 0.06em;
	font-weight: lighter;
}

.acepto a:hover {
	text-decoration: underline;
}

.enviar {
	width: 240px;
	height: 60px;
	background-color: #0088c1;
	text-align: center;
	border-radius: 10px;
	margin: 0px auto;
	margin-top: 20px;
}

.enviar a {
	color: white;
	font-size: 28px;
	line-height: 2.2em;
}

.push {
	clear:both;
}

.blue-box-01, .blue-box-02 {
	height: 231px;
	background: #009bdb;
	float: left;
	color: white;
	font-size: 25px;
	margin-top: 50px;
	background-position: 30px 30px;
	background-size: 63px 63px;
	background-repeat: no-repeat;
}

.blue-box-01 {
	/* 	no se recomienda usar adjetivos en los nombres de clase. 
		podría ser que cambienmos el color de blue a orange y deje de tener sentido */
	width: 399px;
	background-image: url("../img/iconmonstr-light-bulb-18-icon-256.png");
}

.blue-box-02 {
	/* 	Nuemerar las clases dificulta la depuración de errores. 
		Procura usar nombres más creativos */
	width: 842px;
	margin-left: 39px;
	background-image: url("../img/iconmonstr-badge-icon-256.png");
	background-color: #0088c1;
}

.blue-box-01 h3, .blue-box-02 h3 {
	font-weight: 300;
	font-size: 38px;
	line-height: 1.5em;
	text-align: center;
}


.blue-box-01 p, .blue-box-02 p {
	float: left;
	clear: left;
	text-align: center;
	margin-top: 0px;
	font-weight: 700;
	letter-spacing: 0.03em;
	font-size: 27px;
}

.blue-box-01 p {
	margin-left: 40px;
	width: 325px;
}

.blue-box-02 p {
	margin-left: 140px;
	width: 600px;
}

.disponible {
	float: left;
	width: 520px;
	color: #004e72;
	margin-top: 130px;
	line-height: 3.2em;
}

.disponible h1 {
	line-height: 1.2em;
	font-size: 50px;
}

.disponible p {
	font-size: 40px;
	font-weight: 300;
}

.disponible-img {
	width: 660px;
	height: 463px;
	float: right;
	margin-right: 25px;
	margin-top: 140px;
}

.loft {
	margin-top: 120px;
	background-image: url("../img/loft.jpg");
	width: 100%;
	height: 430px;
	background-size: cover;
	background-position: center;
	float: left;
}

.loft p{
	color: white;
	width: 577px;
	line-height: 1.8em;
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	margin: 0px auto;
	margin-top: 170px;
	letter-spacing: 0.03em;
}

.disponible a {
	text-decoration: none;
	color: #004e72;
	font-weight: 700;
	font-size: 30px;
}

.disponible a:hover {
	text-decoration: underline;
}

.testimonios {
	margin-top: 50px;
	float: right;
	/* 	Agrupa background!! */
	/* 	background: url("../img/header.jpg") top right no-repeat; */
	background-image: url("../img/header.jpg");
	height: 585px;
	width: 680px;
	background-position: top right;
	background-repeat: no-repeat;
	/* Recuerda que para según que efecto es mejor usar Photoshop para mejorar la compatibilidad */
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

.copy-right p{
	text-align: center;
	color: white;
	font-size: 25px;
	padding-top: 150px;
	height: 150px;
	width: 100%;
	background:#004f70;
	margin-top: 0px;
}

.copy-right a {
	text-decoration: underline;
	color: white;
}

