<section class="text-left">
    <section>
        <h2>Visibilty y opacity</h2>
    </section>

    <section>
        <h3>Visibility</h3>
        <p style="font-size:.8em;">La propiedad <em><code>visibility</code></em> nos permite hacer invisible un objeto pero que este <strong>siga ocupando su lugar en el flow del documento</strong>, por lo que el resto de los elementos seguirán comportándose como si estuviera allí.</p>
        <hr>
        <p style="font-size:.8em;">Los posibles valores para <code>visibiliy</code> son:<br>
        <code>visible</code> | <code>hidden</code> | <code>collapse</code></p>
    </section>

    <section>
        <h3>Opacity</h3>
        <p style="font-size:.8em;">Podemos controlar la opacidad de un elemento con la propiedad <em><code>opacity</code></em>, cuyo valor va de 0 (transparente) a 1 (opaco).</p>
        <p style="font-size:.8em;">Hay que tener en cuenta que los elementos contenidos por el elemento al que apliquemos opacity también se verán afectados y su opacidad máxima siempre será la del elemento padre.</p>
        <hr>
        <pre><code data-trim contenteditable>&#060;p&#062;El parrafo tiene una opacidad del 50% por eso, aunque el strong tenga
el 100%, &#060;strong&#062;sigue siendo semitransparente.&#060;/strong&#062;&#060;/p&#062;</code></pre>
        <pre><code data-trim contenteditable>p { opacity: .5; }
strong { opacity: 1; }</code></pre>
        <p style="font-size: 1.8rem; opacity: .5;">El parrafo tiene una opacidad del 50% por eso, aunque el strong tenga el 100%, <strong style="opacity: 1;">sigue siendo semitransparente.</strong></p>
    </section>
</section>
