{% assign img_path = './img/slides/git' %}

<section>
  <section>
    <img src="{{ img_path }}/git-logo.png" alt="" width="150">
    <h2>Flujo de trabajo con Git</h2>
  </section>

  <section>
    <img src="{{ img_path }}/git-laptop.png" alt="" width="300">
    <h3>Local &amp; Remote</h3>
    <p>El flujo de Git se distribuye en 3 estados locales y uno remoto</p>
  </section>

  <section>
    <h3>Estados <span class="marker">Locales</span></h3>
    <h4 class="marker" style="text-align: center; text-transform: none; font-size: 1.2em">A nivel local disponemos de:</h4><br />
    <ul>
      <li><span class="marker">Working Dir</span> > El directorio donde almacenamos los archivos</li>
      <li><span class="marker">Staging</span> > El estado en el que avisamos a Git de que hemos realizado cambios</li>
      <li><span class="marker">HEAD</span> > El puntero hacia el último bloque de código <code style="font-size: .8em">(commit)</code></li>
    </ul>
  </section>

  <section>
    <h3>Working dir</h3>
    <p>El primer nivel es nuestra <span class="marker">carpeta de trabajo</span>. Podemos añadir, quitar, editar archivos y Git sólo se encargará de controlar los archivos que han sido modificados:</p>

    <div style="background-color: #333;">
      <img src="{{ img_path }}/git-level-wd.png" alt="">
    </div>
  </section>

  <section>
    <h3>Git <span class="marker">add</span></h3>
    <p>Una vez creados, modificados, añadidos o borrados los archivos al <span class="marker">working dir</span> los pasamos al <span>staging</span> mediante:</p>
    <pre><code contenteditable>
  $ git add nombre de archivo/os
    </code></pre>
    <p> o bien:</p>
    <pre><code contenteditable>
  $ git add --all
    </code></pre>
    <p>todos los archivos</p>
  </section>

  <section>
    <h3>Staging</h3>
    <p>En el segundo nivel nuestros archivos están preparados para ser <span class="marker">empaquetados</span>. Podemos seguir trabajando y repetir el proceso tantas veces como necesitemos.</p>

    <div style="background-color: #333;">
      <img src="{{ img_path }}/git-level-staging.png" alt="">
    </div>
  </section>

  <section>
    <h3>Git <span class="marker">commit</span></h3>
    <p>Cuando hemos completado un conjunto de cambios, los "empaquetamos" mediante la instrucción <span>commit</span> y los colocamos en el <span class="marker">HEAD</span> mediante:</p>
    <pre><code contenteditable>
      $ git commit -m 'mensaje descriptivo'
    </code></pre>
  </section>

  <section>
    <h3>HEAD</h3>
    <p>Nuestro conjunto de cambios está listo para enviar al repositorio remoto. El HEAD es nuestra "bandeja de salida". Podemos seguir trabajando y crear más "commits".</p>

    <div style="background-color: #333;">
      <img src="{{ img_path }}/git-level-head.png" alt="">
    </div>
  </section>

  <section>
    <img src="{{ img_path }}/github-octocat.png" alt="">
    <h3>ORIGIN remoto</h3>
    <p>Ahora vincularemos nuestro repo local con uno remoto en <span>Github</span> para poder trabajar en equipo:</p>

    <a href="http://github.com" target="_blank">Créate una cuenta en Github.com</a>
  </section>

  <section>
    <h3>Git <span class="marker">remote add origin</span></h3>
    <p>Una vez creado el repositorio remoto en Github lo "vinculamos" a nuestro repositorio local mediante:</p>
    <pre><code contenteditable>
  $ git remote add origin https://github.com/user/repo.git
    </code></pre>
  </section>

  <section>
    <h3>Git <span class="marker">push</span></h3>
    <p>Una vez indicado a Git que tenemos un repositorio remoto podemos enviar el conjunto de cambios contenidos en nuestro HEAD mediante:</p>
    <pre><code contenteditable>
  $ git push -u origin master
    </code></pre>
  </section>

  <section>
    <h3>Origin</h3>
    <p>Por defecto Git denomina <span class="marker">origin</span> a nuestro repositorio remoto y crea una rama llamada <span class="marker">master</span>. Enviamos el contenido de HEAD mediante:</p>

    <div style="background-color: #333;">
      <img src="{{ img_path }}/git-level-origin.png" alt="">
    </div>
  </section>

  <section>
    <h3>Git <span class="marker">clone</span></h3>
    <p>Un software de control de versiones adquiere mayor relevancia cuando colaboran diferentes miembros de un equipo sobre el mismo código.</p>
    <p>Una vez creado el repositorio remoto, el resto de miembros del equipo pueden bajarse una copia a sus equipos mediante:</p>

    <pre><code contenteditable>
  $ git clone https://github.com/user/repo.git
    </code></pre>
  </section>

  <section>
    <h3>Git <span class="marker">pull</span></h3>
    <p>Sincronizar nuestro local con origin</p>
    <p>Antes de enviar nuestros cambios tenemos que bajarnos la última versión de <span class="marker">repositorio remoto</span></p>

    <pre><code contenteditable>
  $ git pull origin master
    </code></pre>
    <small>obtenemos los últimos cambios de origin y los combinamos con la rama master</small>
  </section>

  <section>
    <h3>Sincronizando versiones</h3>
    <p>Cuando obtenemos archivos del repositorio remoto a nuestra copia local Git obtiene todos los archivos nuevos que se hayan añadido y elimina los que se hayan quitado.</p>

    <div style="background-color: #333;">
      <img src="{{ img_path }}/git-level-pull.png" alt="">
    </div>
  </section>

  <section>
    <img src="{{ img_path }}/git-log.png" alt="" width="100">
    <h3>Git <span class="marker">log</span></h3>
    <p>Consulta el historial de "commits" realizados por los diferentes miembros del equipo mediante:</p>
    <pre><code contenteditable>
  $ git log
    </code></pre>
  </section>
</section>

