{% assign img_path = './img/slides/git' %}

<section>
  <section>
    <img src="{{ img_path }}/git-logo.png" alt="" width="150">
    <h2>Software de <br />Control de versiones</h2>
  </section>

  <section>
    <h3>¿Qué es Git?</h3>
    <h4>Git es un Software de control de versiones <span class="marker">distribuido</span> y <span class="marker">descentralizado</span> que permite a un equipo de desarrolladores trabajar sobre el mismo código.</h4>
  </section>

  <section>
    <h3>Control de versiones <span class="marker">distribuido</span></h3>
    <p>Se denomina "distribuido" porque cada miembro del equipo dispone de <span class="marker">una copia completa del código</span>.</p>

    <img src="{{ img_path }}/distributed.png" alt="" width="300">
  </section>

  <section>
    <h3>Control de versiones <span class="marker">descentralizado</span></h3>
    <p>Los miembros del equipo pueden enviarse código, recibirlo y desarrollar funcionalidades de forma conjunta y <span class="marker">separada del servidor central</span>.</p>
    <img src="{{ img_path }}/git-centr-decentr.png" alt="" width="500">
  </section>

  <section>
    <img src="{{ img_path }}/git-ok.png" alt="" width="100">
    <h3>Vetajas de usar Git</h3>
    <ul>
      <li>Versionado distribuido de código</li>
      <li>Código colaborativo</li>
      <li>Recuperación de archivos</li>
      <li>Estándar actual</li>
    </ul>
  </section>

  <section>
    <img src="{{ img_path }}/git-super.png" alt="">
    <h3>Git en Terminal</h3>
    <ul>
      <li>Mayor control</li>
      <li>Shorcuts / Plugins</li>
      <li>Mejora tu productividad</li>
      <li style="color: grey"><strike>Ligarás más</strike></li>
    </ul>
  </section>
</section>
</section>
