// GLOBAL STYLES
// ------------------------------------------------------
.topheader {
    background: #222;
    padding: .5rem 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 3rem;
}
.topheader img {
    float: left;
    height: 2rem;
}
.topheader h2 {
    color: white;
    font-family: "Open sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    margin: 0 200px;
    text-align: center;
}
.reveal.center {
    padding-top: 4rem;
}