/* Declaras el clearfix pero luego no lo utilizas, por ejemplo en el header */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix{
    *zoom:1;
}

body{
    /* Falta la coma para separar las fuentes ( font-family: 'Open Sans', sans-serif; )*/
    font-family: 'Open Sans' sans-serif;
    margin: 0;
}

header{
    background-color: #004f70;

    /*
     *  Antes que fijar un valor es mejor dejar que sea el contenido el que determine
     *  el alto de los elementos
     */
    height: 80px;

    /*
     *  ¿dos valores separados por coma? Ahora mismo esta propiedad no está haceindo nada
     *  ¿que efecto buscabas conseguir?
     */
    overflow: scroll, hidden;

    position: fixed;

    /* ¿top? ¿y el valor? */
    top;

    width: 100%;
    z-index: 1;
}
.containermenu{
    margin: 0 auto;
    margin-top: 15px;
    width: 854px;
}


.logo{
    float:left;
    padding-top: 15px;
    width: 140px;
}

li{
    color:#6ca7c0;
    display: inline-block;
    font-family: 'Open sans Condensed', sans-serif;
    font-size: 15px;
    font-weight: bold;
    list-style: none;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
}

nav{
    float: right;
}

.inicio{
    color: white;
    font-weight: normal;
}

.revista{
    float: left;
    margin-top: 120px;
    width: 450px;
}

.campos {
    /*
     *  Cuidado con el valor en backgound-size. Si solamente usamos un valor nos estamos refiriendo
     *  a un porcentaje del ancho del elemento. Mira que sucede si el input fuese más largo.
     *  Hubiese sido mejor fijarlo de acuerdo a la altura.( Ej: background-size: auto 80%; )
     */
    background-size: 15%;

    background-position: 3% 50%;
    background-repeat: no-repeat;
    height: 20px;
    padding-left: 50px;
    position: relative;
}

.name{
    background-image: url(../img/user.png);
}

.email{
    background-image: url(../img/email.png);
}

.password{
    background-image: url(../img/pass.png);
}
.checkbox{
    float: left;
    display: inline;
    margin-left: 40px;
    width: 20px;
}

.formulario{
    background-color: rgba(0,0,0, .6);

    /* Si el borde es de color opaco esta propiedad no nos aporta nada ya que no percibimos el efecto */
    background-clip: border-box;

    border-color: #009bdb;
    border-style: solid;
    border-width: 6px;
    float: right;
    margin-top: 120px;
    width: 300px;
}

input{
    border-style: none;
    border-radius: 5px;
    box-shadow: none;
    display: block;
    font-family: 'Open Sans Condensed' sans-serif;
    font-size: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    width: 170px;
}

.privacidad{
    font-size: 10px;
    float: left;

    /* Si estamos flotando el texto y el checkbox no necesitamos que el parrafo sea inline */
    display: inline;

    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.enviar{
    background-color: #009bdb;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 7px;
    width: 170px;
}

.send{
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
}

.newsletter{
    font-family: 'Open Sans Condensed' sans-serif;
    font-size: 20px;
    text-align: center;
}

.img1{
    /* Para las imagenes fotogrficas mejor usar .jpg, el tamaño de archivo será mucho menor */
    background-image: url(../img/minimalist.png);
    background-size: cover;
    background-repeat: no-repeat;

    /*
     *  En estos casos es mejor utilizar min-height. De esta manera si el contenido crece no se
     *  saldrá de la caja.
     */
    height: 500px;
    position: relative;
}

/* Podrias haber reutilizado la class .containermenu o al menos haberlas agrupado */
.containersuperior{
    margin: 0 auto;
    width: 854px;
}

h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    text-shadow: 0.02em 0.02em white;
}

.suscribete{
    background-color: rgba(255,255,255, .6);
    padding: 10px;
    width: 427px;
}

.suscribir{
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;

    /* En escalas tan pequeñas es mejor usar directamente px para evitar problemas de redondeado. */
    text-shadow: 0.02em 0.02em white;
}

.quieromas{
    background-color: #009bdb;
    border-style: none;
}

button{
    margin-top: 20px;
    width: 200px;
}

p{
    color: white;
    font-size: 16px;
    padding: 5px;
}

.containerideas{
    margin: 0 auto;
    overflow: auto;
    width: 854px;
}

.caja{
    overflow: auto;
    position: relative;
    margin-top: 10px;
}

.ideas{
    background-color: #009bdb;
    float: left;
    margin-top: 50px;
    width: 350px;
}

.promociones{
    background-color: #0088c1;
    float: right;
    margin-top: 50px;
    width: 480px;
}

.icono{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
}

h3{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin: 0;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.textoicono{
    clear: both;

    /* Este elemento no se estaba flotando en ningun sitio, por lo que no hace falta declarar float: none; */
    float: none;

    font-size: 16px;
    font-weight: normal;
    margin: 0 auto;
    padding: 20px 40px;
    text-align: center;
 }

.anuncio{
    clear: both;
    float: left;
    width: 300px;
}

h2{
    color: #004e72;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 90px;
    text-transform: uppercase;
}

.textoanuncio{
    color: #004e72;
    float: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.mobile{
    float: right;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 450px;
}

.appstore, .googleplay{
    padding-top: 25px;
    width: 120px;
}

.backgroundecora{
    background-image: url(../img/decora.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
}

.decora{
    background-color: rgba(0,0,0,.5);
    position: absolute;

    /* Habiamos visto una manera mejor de centrar esto verticalmente. ¿Te acuerdas? */
    top: 40%;

    left: 40%;
    width: 250px;
}

.textoimagen2{
    font-family: 'Open Sans Condensed' sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
    text-transform: uppercase;
}

.imagenestestimonios{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/testimonios.jpg);

    /*
     *  Una vez más, mejor utilizar min-height.
     */
    height:380px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    width: 854px;
}

.testimonios{
    position: absolute;
    width: 300px;
}

.minuscula{
    text-transform: capitalize;
}

.textotestimonios{
    color: #004e72;
    font-style: italic;
}

.pep{
    color: #004e72;
    font-style: italic;
    font-weight: bolder;
}

footer{
    background-color: #004f70;
}

.footer{
    font-size: 10px;
    margin: 0px;
    overflow: auto;
    padding: 80px;
    text-align: center;
}


/*  Agrupar los selectores:
 *
 *  a:link,
 *  a:visited {
 *      color: white;
 *  }
 */
a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: gray;
}

a:active{
    color: gray;
}