html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
    background: url(dagobah.jpg) no-repeat top center;
    background-size: cover;
    color: #fff;
    font-family: 'Alegreya', Georgia, serif;
    margin: 0;
    height: 100%;
}
.wrapper {
    background: rgba(5, 10, 25, 0.7);
    padding-top: 2rem;
    position: relative;
    height: 100%;
}

/* QUOTE
============================== */
.quote {
    background: rgba(255,255,255, .05);
    background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, .1));
    border-top: 8px solid hsl(150, 100%, 35%);
    font-size: 1.8rem;
    line-height: 1.3;
    margin: 0 auto 2rem;
    position: relative;
    padding: 2rem;
    width: 90%;
}
.quote__photo {
    display: block;
    box-shadow: 2px 2px 4px rgba(0,0,0, .6);
    border-radius: 50%;
    margin: 0 auto 2rem;
    overflow: hidden;
    width: 250px;
    max-width: 100%;
}
.quote img {
    display: block;
    transition: transform 0.2s ease-out;
    width: 100%;
}
.quote:hover img {
    transform: scale(1.07);
}
.quote__text {
    margin: 0;
}
.quote__text p {
    margin: 0 0 1.5rem;
}
.quote__text footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    text-align: right;
}
.quote__text strong {
    font-weight: 700;
}

/* FOOTER
============================== */
.page-footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .8rem;
    letter-spacing: 0.05em;
    padding: .5rem 2rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.page-footer a {
    color: hsl(150, 100%, 35%);
    font-weight: 700;
    text-decoration: none;
}
.page-footer a:hover {
    text-decoration: underline;
}

/* CLEARFIX
============================== */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* DESKTOP STYLES
============================== */
@media screen and (min-width: 600px) {
    html,
    body {
        height: 100%;
    }
    .wrapper {
        padding-top: 6rem;
    }
    .quote {
        border-top: 0;
        border-right: 8px solid hsl(150, 100%, 35%);
        border-radius: 25% 0 0 25% / 50% 0 0 50%;
        font-size: 2rem;
        padding: 2rem;
        max-width: 550px;
    }
    .quote__photo {
        border: 4px solid hsl(150, 100%, 35%);
        margin: 0;
        position: absolute;
            top: 50%;
            left: -3rem;
        transform: translateY(-50%);
        width: 50%;
    }
    .quote__text {
        float: right;
        width: 55%;
        max-width: 300px;
    }
    .page-footer {
        position: absolute;
            bottom: 0;
        text-align: right;
    }
}