@font-face {
  font-family: 'Open sans';
  src:  url('../fonts/OpenSans-CondLight-webfont.eot');
  src:  url('../fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-CondLight-webfont.woff') format('woff'),
        url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
        url('../fonts/OpenSans-CondLight-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* --------------------------------------------------------------------------------
   *** THEME ***
-------------------------------------------------------------------------------- */
// Default theme
@import 'theme/default';
@import 'custom/default-extended';

// Custom Styles
@import 'custom/topheader';
@import 'custom/index';

@import 'custom/dave';
@import 'custom/nahuel';
@import 'custom/mike';

// Syntax highlighting
@import 'extras/zenburn';
