@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@font-face {
  font-family: 'Open sans';
  src: url('../fonts/OpenSans-CondLight-webfont.eot');
  src: url('../fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-CondLight-webfont.woff') format('woff'), url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype'), url('../fonts/OpenSans-CondLight-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open sans';
  src: url('../fonts/opensans-condbold-webfont.eot');
  src: url('../fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-condbold-webfont.woff') format('woff'), url('../fonts/opensans-condbold-webfont.ttf') format('truetype'), url('../fonts/opensans-condbold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal; }

/* --------------------------------------------------------------------------------
   *** THEME ***
-------------------------------------------------------------------------------- */
/**
 * Default theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
@font-face {
  font-family: 'League Gothic';
  src: url("../../lib/font/league_gothic-webfont.eot");
  src: url("../../lib/font/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/league_gothic-webfont.woff") format("woff"), url("../../lib/font/league_gothic-webfont.ttf") format("truetype"), url("../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #1c1e20;
  background: -moz-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #555a5f), color-stop(100%, #1c1e20));
  background: -webkit-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -o-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -ms-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background-color: #2b2b2b; }

.reveal {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #eeeeee; }

::selection {
  color: white;
  background: #ff5e99;
  text-shadow: none; }

.reveal .slides > section, .reveal .slides > section > section {
  line-height: 1.2em;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  margin: 0 0 20px 0;
  color: #eeeeee;
  font-family: "League Gothic", Impact, sans-serif;
  line-height: 1em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin-bottom: 10px;
  line-height: 1.2em; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img, .reveal video, .reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong, .reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol, .reveal dl, .reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q, .reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 5px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child, .reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 15px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  background: #3F3F3F;
  color: #DCDCDC; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th, .reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #13daec;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:hover {
  color: #71e9f4;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #0d99a5; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #13daec;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #13daec; }

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #13daec; }

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #13daec; }

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: #13daec; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #71e9f4; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #71e9f4; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #71e9f4; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #71e9f4; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #13daec;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #13daec; }

.reveal {
  font-family: "Open sans", sans-serif; }

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: "Open sans", Impact, sans-serif;
  line-height: 1.2em;
  text-shadow: 2px 2px 2px #000; }

.reveal em {
  color: #1b91ff;
  font-style: normal; }
.reveal a:not(.image) {
  text-decoration: underline; }
.reveal p code {
  font-size: 0.85em;
  display: inline-block;
  padding: 0 0.25em; }
  .reveal p code:first-child {
    padding-left: 0; }
.reveal ul {
  display: block;
  padding-left: 3rem; }
.reveal li {
  margin-bottom: 0.25em; }
.reveal hr {
  border-style: dashed;
  color: rgba(0, 0, 0, 0.2);
  margin: 1em auto; }
.reveal pre {
  margin-top: 2em; }
  .reveal pre code {
    padding: 10px; }
.reveal small {
  display: block; }
.reveal .marker {
  color: #D5C70F; }
.reveal .text-left p {
  text-align: left; }

.reveal a:not(.image) {
  color: #13daec;
  text-decoration: none;
  transition: color 0.15s ease; }
  .reveal a:not(.image):hover {
    border: none;
    color: #71e9f4;
    text-shadow: none; }

.reveal section img {
  display: inline-block;
  text-align: center; }

.topheader {
  background: #222;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 10; }

.topheader img {
  float: left;
  height: 3rem; }

.topheader h2 {
  color: white;
  font-family: "Open sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0 200px;
  padding: 0.75rem 0;
  text-align: center; }

.reveal.center {
  padding-top: 4rem; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.reveal h3.index-title {
  margin-top: 100px;
  text-align: center; }
.reveal .class-list {
  max-width: 1180px;
  margin: 0 auto; }
  .reveal .class-list .month {
    float: left;
    padding: 0 1em 1em;
    width: 20%; }
    .reveal .class-list .month:first-child {
      padding-left: 0; }
    .reveal .class-list .month:last-child {
      padding-right: 0; }
  .reveal .class-list h4 {
    margin-bottom: 0.25rem;
    text-align: left;
    text-transform: none; }
  .reveal .class-list ul {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-position: inside; }
  .reveal .class-list li {
    font-size: 1.5rem;
    line-height: 1.5; }

.symple-before {
  text-transform: lowercase !important; }
  .symple-before:before {
    content: "(⊙_◎)";
    color: yellow;
    font-size: 0.7em;
    padding-right: 20px; }

.catwatching {
  padding-left: 20px; }
  .catwatching:before {
    content: "";
    background-image: url(../img/slides/css-pseudoclasses/cat-watching.gif);
    float: left;
    margin: 0 30px 0 50px;
    height: 250px;
    width: 400px; }

pre.whitecat-pre {
  margin-left: 0;
  width: 60%; }

.whitecat {
  padding-left: 20px;
  position: relative;
  width: 63%; }
  .whitecat:after {
    content: "";
    background-image: url(../img/slides/css-pseudoclasses/whitecat.gif);
    position: absolute;
    top: -222px;
    right: -250px;
    height: 400px;
    width: 240px; }

.firstletter::first-letter {
  background-color: rgba(255, 255, 255, 0.2);
  color: #D5C70F;
  display: inline-block;
  float: left;
  font-weight: bolder;
  font-size: 3em;
  margin: 0 15px 0 50px;
  padding: 35px 30px 45px;
  text-shadow: 2px 2px 2px #000; }

.firstline::first-line {
  color: #D5C70F;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.2;
  text-shadow: 2px 2px 2px #000; }

p.selection::selection {
  color: #D5C70F;
  background: transparent;
  text-shadow: 2px 2px 2px #000; }

.reveal .footnote {
  position: relative; }

.reveal .footnote:after {
  background: rgba(52, 73, 94, 0.9);
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  content: attr(data-content);
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1.75;
  margin: 1em 0 0 -0.875em;
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  text-align: center;
  width: 1.75em;
  height: 1.75em; }

.reveal .subtitulo {
  color: yellow;
  font-family: 'Comic Sans MS';
  font-size: xx-large; }

.reveal #hi-button {
  background: linear-gradient(#b34d4d, #943838);
  border: 3px solid #ba5e5e;
  border-radius: 0.5em;
  color: #e8c9c9;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 0.5em;
  padding: 0.25em 0.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); }

.reveal #hi-button:hover {
  background: linear-gradient(#c27070, #b94646); }

.reveal #hi-button:focus {
  outline: 0; }

.reveal #hi-button:active {
  background: linear-gradient(#a14545, #813131);
  box-shadow: inset -2px 2px 2px rgba(0, 0, 0, 0.3); }

.reveal .hi {
  color: #b34d4d;
  font-family: Georgia, serif;
  font-size: 1.8em;
  padding: 0.25em 0; }

.reveal .hi:before, .reveal .hi:after {
  content: '~'; }

/* DAY 02 */
.reveal .font-list {
  font-size: 0.65em; }

.reveal .font-list li {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  margin-bottom: 0.15em;
  padding-bottom: 0.15em; }

.reveal .font-list strong {
  font-size: 1.2em; }

/* DAY 03 */
.reveal .specificity {
  color: #333;
  font-family: "League Gothic", Impact, sans-serif;
  font-size: 8rem;
  line-height: 1.2;
  margin-top: 10rem;
  text-align: center;
  text-shadow: 1px 1px 0 #fff; }

.reveal .specificity span {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 0 1rem;
  padding: 2rem 3rem;
  position: relative; }

.reveal .specificity span:after {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 1;
  position: absolute;
  top: -3rem;
  left: 0;
  right: 0;
  text-align: center; }

.reveal .specificity__inline {
  color: #b82e2e; }

.reveal .specificity__id {
  color: #b8952e; }

.reveal .specificity__class {
  color: #73b82e; }

.reveal .specificity__element {
  color: #2eacb8; }

.reveal .specificity .specificity__inline:after {
  content: 'Style attribute';
  top: -5rem; }

.reveal .specificity .specificity__id:after {
  content: 'IDs'; }

.reveal .specificity .specificity__class:after {
  content: 'Class, \00000apseudo-class,\00000a attribute';
  font-size: 1.5rem;
  top: -5.5rem;
  white-space: pre; }

.reveal .specificity .specificity__element:after {
  content: 'Elements'; }

.reveal .specificity__example {
  box-shadow: none;
  margin: 1rem 0 3rem;
  font-size: 3rem; }

.reveal .specificity--important {
  margin-top: 1rem; }

.reveal .specificity--important span {
  font-size: 4rem;
  margin: 0 1rem;
  padding: 0 1.5rem;
  position: relative; }

.reveal .specificity--important span:after {
  display: none; }

.reveal .specificity .specificity__important-wrap {
  background: transparent;
  box-shadow: none;
  margin: 0;
  padding: 1rem; }

.reveal .specificity .specificity__important-wrap:first-of-type {
  outline: 1px solid red; }

.reveal .dl-example {
  float: right;
  font-size: 1.5rem;
  line-height: 1.3;
  list-style-position: inside;
  margin: 0;
  text-align: left;
  width: 40%; }

.reveal .dl-example dt {
  font-weight: bold;
  margin-top: 0.25em; }

.reveal .dl-example dd {
  text-indent: 1em; }

/* DAY 04 */
.reveal .box-model__margin {
  box-sizing: border-box;
  border: 2px dashed #2c3e50;
  background: rgba(243, 156, 18, 0.6);
  display: inline-block;
  padding: 50px;
  width: 514px; }

.reveal .box-model {
  background: #27ae60;
  border: 5px solid #d8cd00;
  display: block;
  padding: 50px;
  width: 300px; }

.reveal .box-model span {
  color: #444;
  display: block;
  background: #37cbd7;
  font-size: 40px;
  line-height: 50px; }

.reveal .box-model__inline {
  /*line-height: 40px;*/ }

.reveal .box-model__inline strong {
  padding: 0; }

.reveal .borders-example code {
  background: #eaeaed;
  color: #666;
  font-size: 14px;
  line-height: 24px;
  display: inline-block;
  height: 70px;
  margin: 0 14px;
  padding-top: 20px;
  text-align: center;
  width: 90px; }

.reveal .border-solid {
  border: 2px solid #9799a7; }

.reveal .border-double {
  border: 6px double #9799a7; }

.reveal .border-dashed {
  border: 8px dashed #9799a7; }

.reveal .border-dotted {
  border: 4px dotted #9799a7; }

/* DAY 05 */
.reveal .float-wrap {
  border: 1px dotted #FFF;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 auto 1em;
  overflow: auto;
  width: 352px; }

.reveal .float-box {
  background: gold;
  border: 2px solid orange;
  margin: 0.25em;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100px;
  color: black;
  padding: 20px 0; }

.reveal .float-left {
  float: left; }

.reveal .float-right {
  float: right; }

.reveal .float-example-02 .float-wrap, .reveal .float-example-03 .float-wrap {
  overflow: visible;
  width: 450px; }

.reveal .float-example-02 .float-wrap {
  padding: 0.5em; }

.reveal .float-example-03 .float-wrap {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.4);
  padding: 0.25em; }

.reveal .float-example-03 p {
  font-size: 1.5rem; }

.reveal .float-clear {
  clear: both;
  background: rgba(51, 153, 204, 0.3);
  font-size: 1.3rem;
  line-height: 1;
  padding: 0.5em;
  text-align: center; }

.reveal .float-example-02 .float-cleared {
  overflow: auto; }

.reveal .hidden-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em; }

.reveal .hidden-link:hover {
  background: rgba(0, 0, 0, 0.1); }

.reveal .gradient-wrap {
  border: 2px solid rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  margin: 1.5rem auto;
  width: 60%;
  height: 300px; }
.reveal .pos__container {
  border: 2px solid rgba(150, 255, 255, 0.5);
  font-size: 1.5rem;
  line-height: 50px;
  margin: 0 auto;
  position: relative;
  width: 300px; }
  .reveal .pos__container:after {
    background: #222;
    content: '.container';
    position: absolute;
    top: 0px;
    left: -120px;
    text-align: center;
    width: 100px;
    height: 50px; }
  .reveal .pos__container:before {
    border: 5px solid;
    border-color: transparent transparent #222 #222;
    content: '';
    display: block;
    position: absolute;
    top: 40px;
    left: -20px;
    width: 0;
    height: 0; }
  .reveal .pos__container.is--collapsed:after {
    top: -50px; }
  .reveal .pos__container.is--collapsed:before {
    top: -10px; }
  .reveal .pos__container.no--tooltip:before, .reveal .pos__container.no--tooltip:after {
    display: none; }
.reveal .pos__container-1:after {
  content: '.container-1';
  top: 80px;
  left: -80px; }
.reveal .pos__container-1:before {
  top: 120px;
  left: 20px; }
.reveal .pos__container-2 {
  border: 2px solid rgba(255, 150, 150, 0.7);
  padding: 40px; }
  .reveal .pos__container-2:after {
    content: '.container-2'; }
.reveal .pos__box {
  color: #fff;
  font-size: 1.5rem;
  line-height: 100px;
  text-align: center;
  width: 100px;
  height: 100px; }
.reveal .pos__box-1 {
  background: #27ae60; }
.reveal .pos__box-2 {
  background: #8e44ad; }
.reveal .pos__box-3 {
  background: #d35400; }
.reveal .bg-image pre code {
  font-size: 1.5rem;
  padding: 0.75em 1em; }
.reveal .image-wrap {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.5);
  color: #000;
  font-size: 1.4rem;
  margin: 1.5rem auto;
  padding: 1em;
  width: 60%; }
.reveal .is--dalek {
  background-image: url(../img/slides/css-background/dalek.png); }
.reveal .is--megaman {
  background-image: url(../img/slides/css-background/megaman.png); }
.reveal .is--tripi {
  background-image: url(../img/slides/css-background/background-clip2.gif);
  background-position: center;
  background-repeat: no-repeat;
  border: 20px solid rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 50px;
  width: 350px;
  height: 350px; }

/* DAY 09 */
.reveal .mq p {
  color: red; }

@media (max-width: 1000px) {
  .reveal .mq p {
    color: blue; }
 }

/*

Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev

*/
pre code {
  display: block;
  padding: 0.5em;
  background: #3F3F3F;
  color: #DCDCDC; }

pre .keyword, pre .tag, pre .css .class, pre .css .id, pre .lisp .title, pre .nginx .title, pre .request, pre .status, pre .clojure .attribute {
  color: #E3CEAB; }

pre .django .template_tag, pre .django .variable, pre .django .filter .argument {
  color: #DCDCDC; }

pre .number, pre .date {
  color: #8CD0D3; }

pre .dos .envvar, pre .dos .stream, pre .variable, pre .apache .sqbracket {
  color: #EFDCBC; }

pre .dos .flow, pre .diff .change, pre .python .exception, pre .python .built_in, pre .literal, pre .tex .special {
  color: #EFEFAF; }

pre .diff .chunk, pre .subst {
  color: #8F8F8F; }

pre .dos .keyword, pre .python .decorator, pre .title, pre .haskell .type, pre .diff .header, pre .ruby .class .parent, pre .apache .tag, pre .nginx .built_in, pre .tex .command, pre .prompt {
  color: #efef8f; }

pre .dos .winutils, pre .ruby .symbol, pre .ruby .symbol .string, pre .ruby .string {
  color: #DCA3A3; }

pre .diff .deletion, pre .string, pre .tag .value, pre .preprocessor, pre .built_in, pre .sql .aggregate, pre .javadoc, pre .smalltalk .class, pre .smalltalk .localvars, pre .smalltalk .array, pre .css .rules .value, pre .attr_selector, pre .pseudo, pre .apache .cbracket, pre .tex .formula {
  color: #CC9393; }

pre .shebang, pre .diff .addition, pre .comment, pre .java .annotation, pre .template_comment, pre .pi, pre .doctype {
  color: #7F9F7F; }

pre .coffeescript .javascript, pre .javascript .xml, pre .tex .formula, pre .xml .javascript, pre .xml .vbscript, pre .xml .css, pre .xml .cdata {
  opacity: 0.5; }
