// INDEX
// ------------------------------------------------------
.reveal {
  a:not(img) {
    text-decoration: underline;
  }

  .index-title {
    margin-top: 100px;
    text-align: center;
  }

  .class-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 69rem;
    margin: 0 auto;

    .index-block {
      flex-basis: 33.33%;
      flex-grow: 1;
      flex-shrink: 0;
      max-width: 19rem;
      padding: 1rem 1.5rem;
    }

    h4 {
      margin-bottom: .25rem;
      text-align: left;
      text-transform: none;
    }
    
    ul {
      display: block;
      margin: 0;
      padding: 0;
      text-align: left;
      list-style-position: inside;
    }
    
    li {
      font-size: 1.25rem;
      line-height: 1.4;
    }
  }
}
