<section id="forms-input">
    <section>
        <h2>Elemento &lt;input&gt;</h2>
    </section>

    <section>
        <h3>&lt;input&gt;</h3>
        <p class="mb-xs">Es el elemento básico de un formulario.</p>
        <p class="mb-xs">Su funcionalidad varía dependiendo del valor de su atributo "<code class="u-marked">type</code>".</p>
        <p class="mb-xs">Si omitimos el valor de "type" por defecto es "<code class="u-marked">text</code>".</p>
        
        <pre class="mb-l"><code data-trim contenteditable>
&#60;form&#62;
  &#60;input type="text" value="nombre"/&#62;
&#60;/form&#62;
        </code></pre>
        
        <hr class="mb-l">
        <form>
           <input type="text" value="nombre" />
        </form>
    </section>

    <section>
        <h3>Atributo placeholder</h3>
        <p class="mb-xs">El elemento <code>&#060;input type="text"&#062;</code> puede disponer de otros atributos como por ejemplo <span class="marker">placeholder</span>.</p>
        <p class="mb-xs">En este caso nos permite añadir un contenido predefinido.</p>
        <p class="mb-xs">Este atributo sólo puede contener texto.</p>
        
        <pre class="mb-l"><code data-trim contenteditable>
&#60;form&#62;
    &#60;input type="text" placeholder="Introduce tu nombre" /&#62;
&#60;/form&#62;
        </code></pre>

        <hr class="mb-l">
        <p class="fz-xs">Podemos cambiar el estilo de <code>placeholder</code> mediante los <a href="http://css-tricks.com/snippets/css/style-placeholder-text/" target="_blank">siguientes selectores</a> css.</p>
        <form>
            <input type="text" name="nombre" placeholder="Introduce tu nombre" />
        </form>
    </section>

    <section>
        <h3>Atributo autofocus</h3>
        <p>Mediante <code class="u-marked">autofocus</code> el cursor se situa de forma automática en el elemento <code>input</code> al cargar la página.</p>
        
        <pre class="mb-l"><code data-trim contenteditable>
&#60;form&#62;
    &#60;input type="text" autofocus/&#62;
&#60;/form&#62;
        </code></pre>
        
        <hr class="mb-l">
        
        <p class="fz-xs"><a href="http://diveintohtml5.info/examples/input-autofocus-with-fallback.html" target="_blank">Ejemplo</a> de autofocus con jQuery fallBack.</p>
        <form>
            <input type="text" name="nombre" />
        </form>
    </section>



    <section>
        <h3>Atributo required</h3>
        <p>Con <code class="u-marked">required</code> obligamos al usuario a introducir un valor en este campo.</p>
        
        <pre class="mb-l"><code data-trim contenteditable>
&#60;form&#62;
    &#60;input type="text" placeholder="Introduce tu nombre" required/&#62;
&#60;/form&#62;
        </code></pre>

        <hr class="mb-l">
        
        <p class="fz-xs">Podemos cambiar el estilo de placeholder mediante los <a href="http://css-tricks.com/snippets/css/style-placeholder-text/" target="_blank">siguientes selectores</a> css.</p>
        <form action="#">
            <form>
                <input type="text" required name="nombre" placeholder="* campo obligatorio" />
                <button>Enviar</button>
            </form>
        </form>
    </section>

    <section>
        <h3>&lt;input type="password"&gt;</h3>
        <p>Oculta el valor del campo contraseña mientras se escribe</p>
        <pre class="mb-l"><code data-trim contenteditable>
&#60;form&#62;
    &#60;input type="password" /&#62;
&#60;/form&#62;
        </code></pre>

        <hr class="mb-l">
        <form>
            <label for="password">Introduce password:</label>
            <input type="password" id="password" />
        </form>
    </section>

    <section>
        <h3>&lt;input type="file"&gt;</h3>
        <p>Permite especificar un tipo de archivo concreto para adjuntar en el envío del formulario.</p>
        <pre class="mb-l"><code data-trim contenteditable>
&#60;form&#62;
    &#60;input type="file" name="imagen" accept="image/*"&#62;
&#60;/form&#62;
        </code></pre>

        <hr class="mb-l">
        <form>
            <input type="file" name="imagen" accept="image/*" style="transform: scale(1.5);">
        </form>
    </section>

    <section>
        <h3>&lt;input type="submit"&gt;</h3>
        <pre class="mb-l"><code data-trim contenteditable>
&#60;form&#62;
    &#60;input type="submit" value="enviar"&#62;
&#60;/form&#62;
        </code></pre>

        <hr class="mb-l">
        <input type="submit" value="enviar" style="transform: scale(1.5);" />
    </section>

    <section>
        <h3>&lt;input type="checkbox"&gt;</h3>
        <p>Este elemento permite 2 estados: Marcado/desmarcado (true/false)</p>
        <pre class="mb-l"><code data-trim contenteditable>
&#60;form&#62;
    &#60;label&#62;
        &#60;input type="checkbox" /&#62;
        Opción 1
    &#60;/label&#62;
&#60;/form&#62;
        </code></pre>

        <hr class="mb-l">
        <form class="mb-l">
            <div>
                <label>
                    <input type="checkbox"/>
                    Opción 1
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox"/>
                    Opción 2
                </label>
            </div>
        </form>
        <p class="fz-xs">Opciones de <a href="http://cssdeck.com/labs/css-checkbox-styles" target="_blank">styling</a> para checkbox</p>
    </section>

    <section>
        <h3>&lt;input type="radio"&gt;</h3>
        <p>Este elemento permite 2 estados Marcado/desmarcado (true/false) pero limita al usuario a escoger entre un número limitado de opciones:</p>
        <pre class="mb-l"><code data-trim contenteditable>
&#60;form&#62;
    &#60;input type="radio" name="sistemaOperativo" value="macosx"/&#62;
    &#60;input type="radio" name="sistemaOperativo" value="linux"/&#62;
    &#60;input type="radio" name="sistemaOperativo" value="windows"/&#62;
&#60;/form&#62;
        </code></pre>

        <hr class="mb-l">
        <form class="mb-l">
            <div>
                <label>
                    <input type="radio" name="sistemaOperativo" value="macosx"/>
                    MacOSX
                </label>
                </div>
            <div>
                <label>
                    <input type="radio" name="sistemaOperativo" value="linux"/>
                    GNU/Linux
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" name="sistemaOperativo" value="windows"/>
                    Windows
                </label>
            </div>
        </form>

        <p class="fz-xs">Opciones de <a href="http://cssdeck.com/labs/css-checkbox-styles" target="_blank">styling</a> para checkbox</p>
    </section>
</section>