<section class="ta-l">
  <section class="ta-c">
    <h2>Elementos de formulario</h2>
    <p class="ta-c"><a href="files/html-forms/form.zip">Ejemplo</a></p>
  </section>

  <section>
    <p>Los formularios nos permiten obtener información del usuario. <br />El resultado puede ser una búsqueda en una base de datos o el envío del contenido por e-mail.</p>
    <img src="img/slides/html-forms/forms-example01.jpg" alt="">
  </section>

  <section>
    <h3>Estructura básica</h3>
    <pre><code data-trim contenteditable>
<form>
  <input type="text" placeholder="Municipio, barrio, CP...">
  <input type="submit">Buscar</input>
</form>
    </code></pre>
  </section>

  <section>
    <h3>&lt;form&gt;</h3>
    <p>La etiqueta Form se utiliza para crear un formulario.<br />
      Puede contener los siguientes atributos que nos van a permitir definir su comportamiento:</p>
      <ul>
        <li><code class="u-marked">action="send.php"</code> > Permite indicar la URL a la que se enviarán los datos.</li>
        <li><code class="u-marked">name="MiForm"</code> > Especificamos el nombre del formulario.</li>
        <li><code class="u-marked">autocomplete="on/off"</code> > Autocompletar campos de forma automática</li>
        <li><code class="u-marked">method="get/post"</code> > Define como enviará los datos.</li>
      </ul>
  </section>
</section>

<section>
  <section>
    <h3>&lt;input&gt;</h3>
    <p> Es el elemento básico de un formulario.<br />
      Su funcionalidad varía dependiendo del valor de su atributo "type".<br />
      Si omitimos el valor de "type" por defecto es "text".</p>
      <pre><code data-trim contenteditable>
<form>
  <input type="text" value="nombre"/>
</form>
      </code></pre>
      <br />
      <p>
        <input type="text" style="width: 550px; font-size: 1.5rem; margin:0 30px; padding: .25rem .5rem; display: inline-block"/>
      </p>
    </section>

    <section>
      <h4>Atributo placeholder</h4>
      <p>El elemento <code>&#060;input type="text"&#062;</code> puede disponer de otros atributos como por ejemplo <span class="marker">placeholder</span>. En este caso nos permite añadir un contenido predefinido.<br />
        Este atributo sólo puede contener texto.</p>
        <pre><code data-trim contenteditable>
<form>
  <input type="text" placeholder="Introduce tu nombre" />
</form>
        </code></pre>

        <p class="fz-xs">Podemos cambiar el estilo de placeholder mediante los <a href="http://css-tricks.com/snippets/css/style-placeholder-text/" target="_blank">siguientes selectores</a> css.</p>
        <p><input type="text" name="nombre" placeholder="Introduce tu nombre"  style="width: 550px; font-size: 1.5rem; margin:0 30px; padding: .25rem .5rem; display: inline-block:" /></p>
      </section>

        <section>
          <h4>Atributo autofocus</h4>
          <p>Mediante <span class="marker">autofocus</span> el cursor se situa de forma automática en el elemento INPUT al cargar la página.</p>
          <pre><code data-trim contenteditable>
<form>
  <input type="text" autofocus/>
</form>
          </code></pre>
          <br />

          <p><small><a href="http://diveintohtml5.info/examples/input-autofocus-with-fallback.html" target="_blank">Ejemplo</a> de autofocus con jQuery fallBack.</small></p>
          <p><input type="text" name="nombre" style="width: 550px; font-size: 1.5rem; margin:0 30px; padding: .25rem .5rem; display: inline-block:"/></p>
        </section>

        <section>
          <h4>Atributo required</h4>
          <p>Con <span class="marker">required</span> obligamos al usuario a introducir un valor en este campo.</p>
          <pre><code data-trim contenteditable>
<form>
  <input type="text" placeholder="Introduce tu nombre" required/>
</form>
          </code></pre>
          <br />

          <form action="#">
            <p><small>Podemos cambiar el estilo de placeholder mediante los <a href="http://css-tricks.com/snippets/css/style-placeholder-text/" target="_blank">siguientes selectores</a> css.</small></p>
            <p><input type="text" required name="nombre" placeholder="* campo obligatorio" style="width: 550px; font-size: 1.5rem; margin:0 30px; padding: .25rem .5rem; display: inline-block:" /></p>
            <input type="submit" value="enviar" style="transform: scale(1.5);" />
          </form>

        </section>

        <section>
          <h4>&lt;input type="password"&gt;</h4>
          <p>Oculta el valor del campo contraseña mientras se escribe</p>
          <pre><code data-trim contenteditable>
<form>
  <input type="password" />
</form>
          </code></pre>
          <br />

          <p>Introduce password: <input type="password" style="width: 550px; font-size: 1.5rem; margin:0 30px; padding: .25rem .5rem; display: inline-block:" /></p>

        </section>

        <section>
          <h4>&lt;input type="file"&gt;</h4>
          <p>Permite especificar un tipo de archivo concreto para adjuntar en el envío del formulario.</p>
          <pre><code data-trim contenteditable>
<form>
  <p><input type="file" name="imagen" accept="image/*"></p>
</form>
          </code></pre>
          <p><input type="file" name="imagen" accept="image/*" style="transform: scale(1.5);"></p>
        </section>

        <section>

          <h4>&lt;input type="submit"&gt;</h4>
          <pre><code data-trim contenteditable>
<form>
  <input type="submit" value="enviar">
</form>
          </code></pre>
          <p><input type="submit" value="enviar" style="transform: scale(1.5);" /></p>

        </section>


  <section>
    <h4>&lt;input type="checkbox"&gt;</h4>
    <p>Este elemento permite 2 estados: Marcado/desmarcado (true/false)</p>
    <pre><code data-trim contenteditable>
<form>
  <input type="checkbox" />
</form>
    </code></pre>
    <br />

    <p>
      <label style="font-size: 1.5rem;">
        <input type="checkbox" style=" transform: scale(1.5); margin-right: .5rem;" />
        Opción 1
      </label>
    </p>
    <p>
      <label style="font-size: 1.5rem;">
        <input type="checkbox" style=" transform: scale(1.5); margin-right: .5rem;" />
        Opción 2
      </label>
    </p>

    <p class="ta-c">
      <small>Opciones de <a href="http://cssdeck.com/labs/css-checkbox-styles" target="_blank">styling</a> para checkbox</small>
    </p>
  </section>

  <section>
    <h4>&lt;input type="radio"&gt;</h4>
    <p>Este elemento permite 2 estados Marcado/desmarcado (true/false) pero limita al usuario a escoger entre un número limitado de opciones:</p>
    <pre><code data-trim contenteditable>
<form>
  <input type="radio" name="sistemaOperativo" value="macosx"/>
  <input type="radio" name="sistemaOperativo" value="linux"/>
  <input type="radio" name="sistemaOperativo" value="windows"/>
</form>
    </code></pre>
    <br />

      <p class="mb-xs">
        <label style="font-size: 1.5rem;">
          <input style=" transform: scale(1.5); margin-right: .5rem;" type="radio" name="sistemaOperativo" value="macosx"/>
          MacOSX
        </label>
      </p>
      <p class="mb-xs">
        <label style="font-size: 1.5rem;">
          <input style=" transform: scale(1.5); margin-right: .5rem;" type="radio" name="sistemaOperativo" value="linux"/>
          GNU/Linux
        </label>
      </p>
      <p class="mb-xs">
        <label style="font-size: 1.5rem;">
          <input style=" transform: scale(1.5); margin-right: .5rem;" type="radio" name="sistemaOperativo" value="windows"/>
          Windows
      </p>
      <p class="ta-c">
        <small>Opciones de <a href="http://cssdeck.com/labs/css-checkbox-styles" target="_blank">styling</a> para checkbox</small>
      </p>
  </section>

  <section>
    <h3>Nuevos elementos incluidos en</h3>
    <h2><span class="marker">HTML5</span></h2>
  </section>

        <section>
          <h4>&lt;input type="color"&gt;</h4>
          <p>Permite especificar un color.</p>
          <pre><code data-trim contenteditable>
<form>
  <p><input type="color" value="#c0ffee"></p>
</form>
          </code></pre>
          <p>Selecciona un color: <input id="background-color" type="color" value="#c0ffee" style="transform: scale(1.5); margin-left: 30px;" onchange="javascript:document.getElementById('color-elegido').value = document.getElementById('background-color').value;"></p>
          <p>El color seleccionado es: <input id="color-elegido" type="text" readonly="" value="#c0ffee" style="transform: scale(1.5); margin-left: 30px; display:inline-block;"></p>
        </section>

        <section>
          <h4>&lt;input type="date"&gt;</h4>
          <p> Permite especificar una fecha con un calendario desplegable.<br />
            Además podemos restringir valores máximos y mínimos para una fecha concreta.</p>
            <pre><code data-trim contenteditable>
<form>
  <p><input type="date" name="fechaSalida" step="1" min="2015-01-26" max="2015-12-31" value="2015-01-26"></p>
</form>
            </code></pre>
            <p><input type="date" name="fechaSalida" step="1" min="2015-01-26" max="2015-12-31" value="2015-01-26" style="transform: scale(1.5);"></p>
          </section>


          <section>
            <h4>&lt;input type="email"&gt;</h4>
            <p> Validación automática de formato e-mail.<br />
              En dispositivos móviles el teclado muestra la @.</p>
              <pre><code data-trim contenteditable>
<form>
  <p><input type="email" name="userEmail"></p>
</form>
              </code></pre>
              <form action="#">
                <p><input type="email" name="userEmail" style="transform: scale(1.5);"></p>
                <p><input type="submit" value="enviar" style="transform: scale(1.5);"></p>
              </form>
            </section>

            <section>
              <h4>&lt;input type="number"&gt;</h4>
              <p> Especificamos campos para introducir exclusivamente valores numéricos.<br />
                Podemos realizar operaciones aritméticas.</p>
                <pre><code data-trim contenteditable>
<form>
  <p><input type="number" name="dividendo"></p>
</form>
                </code></pre>
                <p><a href="files/forms/numbers.html" target="_blank">Ejemplo de operaciones aritméticas con "number"</a></p>
              </section>

              <section>
                <h4>&lt;input type="range"&gt;</h4>
                <p> Permite al usuario seleccionar un valor numérico deslizando un control.<br />
                  Podemos definir un valor mínimo, otro máximo y el valor de cada incremento.</p>
                  <pre><code data-trim contenteditable>
<form>
  <p><input id="slider" type="range" min="100" max="500" step="10" /></p>
</form>
                  </code></pre>
                  <input id="slider1" type="range" min="100" max="500" step="10" style="transform: scale(2)">
                </section>
              </section>

  <section>
    <h3>&lt;select&gt;</h3>
    <p> Especificamos el valor inicial del elemento.<br />
      Normalmente asignamos un valor con este atributo para elementos que no son editables por el usuario:</p>

      <pre><code data-trim contenteditable>
<form>
  <select name="text">
    <option value="MacOSX">Sistema opetarivo Mac</option>
    <option value="Linux">Sistema opetarivo Linux</option>
    <option value="Windows">Sistema opetarivo Windows</option>
  </select>
</form>
    </code></pre>
    <p>
      <select name="text" class="fz-l">
        <option value="MacOSX">Sistema opetarivo Mac</option>
        <option value="Linux">Sistema opetarivo Linux</option>
        <option value="Windows">Sistema opetarivo Windows</option>
      </select>
    </p>

  </section>

  <section>
    <h3>&lt;textarea&gt;</h3>
    <p> Definimos un area con una anchura y altura determinada para que el usuario pueda introducir sus comentarios.</p>

    <pre><code data-trim contenteditable>
<textarea name="message" rows="10" cols="30">
...para que me invitan si ya saben como me pongo
</textarea>
    </code></pre>

    <p>Introduce tu comentario:</p>
    <textarea name="message" rows="3" cols="50" style="font-size:.7em;">
      ...para que me invitan si ya saben como me pongo
    </textarea>
  </section>

  <section>
    <h3>&lt;button&gt;</h3>
    <p> Elemento diseñado específicamente para enviar los datos del formulario de la misma forma que hacía anteriormente INPUT type="submit".</br />
    La ventaja principal es que permite contener elementos HTML.</p>

    <pre><code data-trim contenteditable>
<button type="button"> No lo hagas..</button>
    </code></pre>

    <p>No clicar!!!</p>
    <button type="button" onclick="window.location.href ='http://www.nyan.cat/'" class="fz-s">No lo hagas..</button>
  </section>
</section>
