<section>
	<section>
		<h2>Combinando celdas y columnas</h2>
	</section>
	<section>
        <h3>Atributo <span class="marker">colspan</span></h3>
        <p>Una celda puede ser "extendida" en columnas mediante el atributo <span class="marker">colspan</span>. De esta forma podemos combinarlas según nos interese.</p>
            <pre><code data-trim>

<table>
    <caption>Celda 1 extendida en 2 columnas</caption>
    <tr>
        <td colspan="2">Celda 1</td>
        <td>Celda 3</td>
    </tr>        
</table>

        </code></pre>
        <p><a href="files/tables/colspan.html" target="_blank">ejemplo colspan</a></p>
    </section>

    <section>
        <h3>Atributo <span class="marker">rowspan</span></h3>
        <p>De la misma manera, una celda también puede ser "extendida" en filas mediante <span class="marker">rowspan</span>.</p>
            <pre><code data-trim>

<table>
    <caption>Celda 1 extendida en 2 filas</caption>
    <tr>
        <td rowspan="2">Celda 1</td>
        <td>Celda 2</td>
    </tr> 
    <tr>
        <td>Celda 4</td>
    </tr> 
</table>

        </code></pre>
        <p><a href="files/tables/rowspan.html" target="_blank">ejemplo rowspan</a></p>
    </section>
	
	<section>
        <h3>Anidación de tablas</h3>
        <p>Las tablas pueden ser anidadas las unas dentro de las otras para representar estructuras de datos más complejas.</p>
        
        <p><a href="files/tables/anidacion.html" target="_blank">ejemplo anidación</a></p>
    </section>
</section>