{% assign img_path = './img/slides/html-tables' %}

<section>
    
    <section>
        <h2>Características del elemento <span class="marker">table</span></h2>
    </section>
    
    <section>
    <ul>
        <li>Una tabla está formada por una sucesión de celdas dispuestas de forma ordenada en filas y columnas.</li>
        <li>Su función principal es la de tabular datos de forma sencilla.</li>
    </ul>
        <pre><code data-trim>

<table>
    <tr>
        <td>Celda 1</td>
        <td>Celda 2</td>
        <td>Celda 3</td>
    </tr>        
</table>

        </code></pre>
    </section>

    <section>
        <h3>Renderizado</h3>
        <p class="marker">El código del ejemplo anterior tendría la siguiente estructura:</p>
        <img src="{{img_path}}/table.png" alt="">
    </section>

    <section>
        <h3>Elementos de una tabla</h3>
        <ul>
            <li><span class="marker">TABLE</span> - Define las características genéricas de la tabla. (borde, ancho, etc)</li>
            <li><span class="marker">THEAD</span> - Aportamos semántica al encabezado de la tabla.</li>
            <li><span class="marker">TBODY</span> - Define el contenido principal de la tabla.</li>
            <li><span class="marker">TFOOT</span> - Aportamos semántica al pie de la tabla.</li></li>
            <li><span class="marker">TR</span> - Contenedor de celdas que definen una fila.</li>
            <li><span class="marker">TH</span> - Celdas contenidas dentro de un THEAD.</li>
            <li><span class="marker">TD</span> - Celdas contenidas dentro de un TBODY.</li>
            <li><span class="marker">CAPTION</span> - Elemento designado para aportar una descripción semántica a la tabla.</li>
        </ul>
    </section>

    <section>
        <h3>Estructura HTML</h3>
        <p>En el siguiente ejemplo se pueden ver los diferentes elementos que componen una tabla:</p>

        <p><a href="files/tables/index.html" target="_blank">ejemplo table</a></p>
    </section>

    <section>
        <h3>Elementos Col & Colgroup</h3>
        <p>Se trata de elementos "no contenedores" que permiten designar un conjunto de atributos comunes a todas las celdas que pertenezcan a una columna.</p>

        <pre><code data-trim>

<table>
    <colgroup>
        <col class="monday">
        <col class="tuesday">
        <col class="wednesday">
    </colgroup>        
</table>

        </code></pre>
        
    </section>

</section>