<section>
  <section>
    <h2 style="letter-spacing: .05em;">URL</h2>
    <h3>(Uniform Resource Locator)</h3>
    <hr>
    <p style="text-align: center;">http://www.baued.es/es/estudios/workshops.html</p>
  </section>

  <section>
    <p>Las <strong>URL</strong> son direcciones exclusivas que nos permiten localizar recursos dentro de internet.</p>
    <p>Generalmente están compuestas de 3 partes principales:
    </p>
    <ul>
      <li><span style="color: #27ae60;">el protocolo</span></li>
      <li><span style="color: #d35400;">el nombre del sitio</span></li>
      <li><span style="color: #8e44ad;">la ruta absoluta al recurso en concreto</span></li>
    </ul>
    <hr>
    <p style="text-align: center;"><span style="background: #27ae60; color: #fff; display: inline-block; padding: .2em .3em;">http://</span><span style="background: #d35400; color: #fff; display: inline-block; padding: .2em .3em;">www.baued.es</span><span style="background: #8e44ad; color: #fff; display: inline-block; padding: .2em .3em;">/es/estudios/workshops.html</span></p>
  </section>

  <section>
    <h3>Protocolo</h3>
    <p>Los protocolos son lenguajes simples que permiten a diferentes ordenadores compartir información entre sí independientemente de la configuración, sistema operativo o software que utilicen.</p>
    <hr>
    <p style="text-align: center;"><span style="background: #27ae60; color: #fff; display: inline-block; padding: .2em .3em;">http://</span><span style="background: #d35400; color: #fff; display: inline-block; padding: .2em .3em; opacity: .2;">www.baued.es</span><span style="background: #8e44ad; color: #fff; display: inline-block; padding: .2em .3em; opacity: .2;">/es/estudios/workshops.html</span></p>
  </section>

  <section>
    <h3>The internet protocol suit</h3>
    <p>Algunos protocolos comúnes en el entorno de internet: FTP, <span class="fragment highlight-blue">HTTP</span>, SMTP, TCP/IP, UPD.</p>
    <p class="fragment">En concreto, el encargado de transferir datos a través de internet es el protocolo HTTP (HyperText Transfer Protocol)</p>
    <hr>
    <p style="text-align: center;"><span style="background: #27ae60; color: #fff; display: inline-block; padding: .2em .3em;">http://</span><span style="background: #d35400; color: #fff; display: inline-block; padding: .2em .3em; opacity: .2;">www.baued.es</span><span style="background: #8e44ad; color: #fff; display: inline-block; padding: .2em .3em; opacity: .2;">/es/estudios/workshops.html</span></p>
  </section>

  <section>
    <h3>Sitio Web</h3>
    <p>El nombre del sitio web se compone a su vez de varias partes:
    </p>
    <ol style="font-size: .75em;">
      <li><strong>Subdominio:</strong> Es una carpeta dentro del servidor donde está alojada la web (por defecto suele ser "www")</li>
      <li><strong>Nombre del dominio:</strong> Es el nombre de nuestra web.</li>
      <li><strong>Dominio de nivel superior (top level domain):</strong> Es el nombre que el cliente usa para encontrar el servidor correspondiente. Puede ser genérico o geográfico.</li>
    </ol>
    <hr>
    <p style="text-align: center;">
      <span style="background: #27ae60; color: #fff; display: inline-block; padding: .2em .3em; opacity: .2;">http://</span>
      <span style="background: #d35400; color: #fff; display: inline-block; padding: .2em .3em;">
        <span class="footnote" style="border: 1px solid rgba(255,255,255,.6); display: inline-block; padding: 0 .2em" data-content="1">www.</span>
        <span class="footnote" style="border: 1px solid rgba(255,255,255,.6); display: inline-block; padding: 0 .2em" data-content="2">baued</span>
        <span class="footnote" style="border: 1px solid rgba(255,255,255,.6); display: inline-block; padding: 0 .2em" data-content="3">.es</span>
      </span>
      <span style="background: #8e44ad; color: #fff; display: inline-block; padding: .2em .3em; opacity: .2;">/es/estudios/workshops.html</span>
    </p>
  </section>

  <section>
    <h3>Ruta del recurso</h3>
    <p>Es la ruta dentro de la carpeta del dominio al recurso específico que el cliente HTTP está solicitando.</p>
    <p>Si no se especifica en la URL, el cliente intentará encontrar el archivo que esté configurado para mostrarse por defecto (normalmente <code>index.html</code> o <code>default.html</code>) </p>
    <hr>
    <p style="text-align: center;"><span style="background: #27ae60; color: #fff; display: inline-block; padding: .2em .3em; opacity: .2">http://</span><span style="background: #d35400; color: #fff; display: inline-block; padding: .2em .3em; opacity: .2;">www.baued.es</span><span style="background: #8e44ad; color: #fff; display: inline-block; padding: .2em .3em;;">/es/estudios/workshops.html</span></p>
  </section>
</section>
