
body {

		margin: 0;
}

.primero {

	margin-top: 80px;
	background-image:url(../img/design.jpg);
	height: 400px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position:  right bottom -80px;
	position: relative;

}

.promociones {

	font-family: 'Open Sans Condensed', sans-serif;
 	font-weight: 700;
 	margin:0;
 	font-size: 25px;
 	background-color: #009bdb;
 	color: #fff;
 	border: 0;
 	padding: 20px 20px;
	width: 600px;
	margin-top: 20px;
	float:right;
	background-image: url(../img/badge.png);
	background-size:35px auto;
	background-repeat: no-repeat;
 	background-origin: content-box;

}

.promociones h2, .ideas h2{

	font-weight: 100;
}


.intro {

 	background-color: rgba(255,255,255, 0.5);
	font-family: 'Open Sans Condensed', sans-serif;
	width: 400px;
	padding: 10px;
	text-shadow: 1px 1px #fff;
	margin-top: 30px;
}


h1 {

	font-size: 23px;
}

.segundo {

	padding-bottom: 50px;

}

.segundo h2{

	text-align: center;
}

.segundo p {

	text-align: center;

}

.publicaciones {

	font-family: 'Open Sans Condensed', sans-serif;
	width: 350px;
	margin-top: 150px;
	float: left;

}

.publicaciones p {

	font-family: 'Open Sans Condensed', sans-serif;
	text-align: left;

}

.publicaciones h3 {

	font-size: 30px;
	color:#004f70;

}

.tercero {


	background-image:url(../img/minimalist.jpg);
	height: 300px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position:  right bottom -80px;
	position: relative;

}

.tercero h1 {

	text-align: center;
	color: white;
	background-color: rgba(0,0,0, 0.5);
	font-family: 'Open Sans Condensed', sans-serif;
	width: 250px;
	padding: 10px;
	text-transform: uppercase;
	position: absolute;
		top: 50%;
		left: 50%;
	margin-left: -135px;
	margin-top: -26px;
	font-size: 30px;
}


.cuarto {

	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	padding: 40px;
	background-image:url(../img/couple.jpg);
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;


}


.cuarto h1 {

	font-weight: 700;
	color: #004f70;
	font-size: 25px;
	padding-left: 140px;

	}



.cuarto p{

	color: #004f70;
	font-weight: 100;
	font-style: italic;
	font-size: 20px;
	padding-left: 140px;
	width: 350px;



}



h2 {

	font-size: 23px;
	font-weight: 100px;
}

p {

	font-weight: 700;
	font-size: 18px;
}

header {

		display: inline-block;
		width: 100%;
		margin: 0;
		background-color: #004f70;
		padding-top: 20px;
		position: fixed;
			top: 0;
			left: 0;	
		height: 70px;
		z-index: 100;
}

.main {
		width: 980px;
		margin: 0 auto;
		display: block;
		position: relative;

}

nav {

		display: block;
		float: right;

}

ul {
		list-style-type: none;
}

.menu li{
		font-family: 'Open Sans Condensed', sans-serif;
		display: inline-block;
		float: left;
		font-size: 20px;
		color: #90c4db;
		padding-left: 40px;
		font-weight: 700;


}

.ideas {

 	font-family: 'Open Sans Condensed', sans-serif;
 	font-weight: 700;
 	margin:0;
 	font-size: 25px;
 	background-color: #009bdb;
 	color: #fff;
 	border: 0;
 	padding: 20px 20px;
	width: 200px;
	margin-top: 20px;
	float:left;
	background-image: url(../img/bulb.png);
	background-size:35px auto;
	background-repeat: no-repeat;
 	background-origin: content-box;


}

.logo {

		font-family: 'Open Sans Condensed', sans-serif;
		float: left;
		float: left;
		color: #fff;
		font-weight: 700;

}

.logo p {
	font-size: 30px;
	margin: 0;


}



.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}



.primero button {
 	font-family: 'Open Sans Condensed', sans-serif;
 	font-weight: 700;
 	margin:0;
 	font-size: 18px;
 	background-color: #009bdb;
 	color: #fff;
 	border: 0;
 	padding: 10px 25px;
 	margin-top: 20px;
 }


.footer {

 	font-family: 'Open Sans Condensed', sans-serif;
	width: 100%;
	height: 150px;
	background-color: #004f70;

}

.footer p {

	color:white;
	font-size: 15px;
	font-weight: 100;
	text-align: center;
	padding-top: 50px;

}


input

{
	width: 200px;
	color:grey;
	padding: 5px;
	margin-top: 10px;
	padding-left: 50px;

}

form {
	text-align: center;
	width: 300px;
	background-color: rgba(0,0,0, 0.5);
	padding: 20px;
	position: absolute;
	right: 0;
	bottom: -118px;
 	font-family: 'Open Sans Condensed', sans-serif;
 	color: white;
 	border: 5px solid #009bdb;

}

form h1{

	margin-top: 0;
}



.check {

	width: 10px;
}


.campos {

 	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color:grey;

}

.enviar {
	font-family: 'Open Sans Condensed', sans-serif;
 	font-weight: 700;
 	margin:0;
 	font-size: 18px;
 	background-color: #009bdb;
 	color: #fff;
 	border: 0;
 	padding: 10px 25px;
 	margin-top: 20px;
 	border-radius: 5px;
 	text-transform: uppercase;
}

.nombre {

	background-image: url(../img/makefg.png);
	background-size: auto 80%;
	background-repeat: no-repeat;
	background-position: 4px 4px;
	font-weight: 500px;
}

.e-mail {

	background-image: url(../img/makefg-2.png);
	background-size: auto 80%;
	background-repeat: no-repeat;
	background-position: 4px 4px;
	font-weight: 500px;

}

.contrasena {

	background-image: url(../img/makefg-3.png);
	background-size: auto 80%;
	background-repeat: no-repeat;
	background-position: 4px 4px;
	font-weight: 500px;

}



