// OTHER
// ------------------------------------------------------
.reveal {
    small {
        display: block;
    }
}

// IMAGES
// ------------------------------------------------------
.reveal section img {
  display: inline-block;
  text-align: center;
}
