
.reveal blockquote {
    padding: 1rem;

    footer {
        font-size: 1.5rem;
        font-style: normal;
        margin-top: 1rem;
        text-transform: uppercase;
        text-align: left;
    }
}
.reveal .footnote {
    position: relative;
}
.reveal .footnote:after {
    background: rgba(52, 73, 94, .9);
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0,0,0, .4);
    content: attr(data-content);
    font-size: .75rem;
    font-weight: bold;
    line-height: 1.75;
    margin: 1em 0 0 -.875em;
    display: block;
    position: absolute;
        top: 100%;
        left: 50%;
    text-align: center;
    width: 1.75em;
    height: 1.75em;
}
.reveal .subtitulo {
    color: red;
    font-family: 'Comic Sans MS';
    font-size: xx-large;
}

.reveal #hi-button {
    background: linear-gradient( hsl(0, 40%, 50%), hsl(0, 45%, 40%));
    border: 3px solid hsl(0,40%,55%);
    border-radius: .5em;
    color: hsl(0,40%,85%);
    cursor: pointer;
    font-size: 2rem;
    margin-top: .5em;
    padding: .25em .5em;
    text-shadow: 1px 1px 1px rgba(0,0,0,.25);
}
.reveal #hi-button:hover {
    background: linear-gradient( hsl(0, 40%, 60%), hsl(0, 45%, 50%));
}
.reveal #hi-button:focus {
    outline: 0;
}
.reveal #hi-button:active {
    background: linear-gradient( hsl(0, 40%, 45%), hsl(0, 45%, 35%));
    box-shadow: inset -2px 2px 2px rgba(0,0,0, .3);
}
.reveal .hi {
    color: hsl(0,40%,50%);
    font-family: Georgia, serif;
    font-size: 1.8em;
    padding: .25em 0;
}
.reveal .hi:before,
.reveal .hi:after {
    content: '~';
}


/* DAY 02 */
.reveal .font-list {
    font-size: .65em;
}
.reveal .font-list li {
    border-bottom: 1px dashed rgba(255,255,255, .2);
    margin-bottom: .15em;
    padding-bottom: .15em;
}
.reveal .font-list strong {
    font-size: 1.2em;
}


/* DAY 03 */
.reveal {
    .specificity {
        color: #333;
        font-family: "Oswald", Impact, sans-serif;
        font-size: 8rem;
        line-height: 1.2;
        margin-top: 10rem;
        text-align: center;

        span {
            background: rgba(0,0,0, .2);
            box-shadow: inset 0 0 10px rgba(0,0,0, .5);
            display: inline-block;
            margin: 0 1rem;
            padding: 2rem 3rem;
            position: relative;

            &:after {
                font-family: "Open sans", sans-serif;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1;
                position: absolute;
                    top: -3rem;
                    left: 0;
                    right: 0;
                text-align: center;
            }
        }
    }
    .specificity__inline    { color: hsl(0, 60%, 45%);   }
    .specificity__id        { color: hsl(45, 60%, 45%);  }
    .specificity__class     { color: hsl(90, 60%, 45%);  }
    .specificity__element   { color: hsl(185, 60%, 45%); }

    .specificity {
        .specificity__inline:after {
            content: 'Style attribute';
                top: -5rem;
        }
        .specificity__id:after {
            content: 'IDs';
        }
        .specificity__class:after {
            content: 'Class, \00000apseudo-class,\00000a attribute';
            font-size: 1.5rem;
                top: -5.5rem;
            white-space:pre;
        }
        .specificity__element:after {
            content: 'Elements';
        }
    }
    .specificity__example {
        box-shadow: none;
        margin: 1rem 0 3rem;
        font-size: 3rem;
    }
    .specificity--important {
        margin-top: 1rem;

        span {
            font-size: 4rem;
            margin: 0 1rem;
            padding: 0 1rem;
            position: relative;

            &:after {
                display: none;
            }
        }
    }
    .specificity {
        .specificity__important-wrap {
            background: transparent;
            box-shadow: none;
            margin: 0;
            padding: 1rem 0;

            &:first-of-type {
                outline: 1px solid red;
            }
        }
    }
}



/* DAY 05 */

.reveal .float-wrap {
    border: 1px dotted #FFF;
    background: rgba(255, 255, 255, .1);
    margin: 0 auto 1em;
    overflow: auto;
    width: 352px;
}
.reveal .float-box {
    background: gold;
    border: 2px solid orange;
    margin: .25em;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100px;
    color: black;
    padding: 20px 0;
}
.reveal .float-left { float: left; }
.reveal .float-right { float: right; }

.reveal .float-example-02 .float-wrap,
.reveal .float-example-03 .float-wrap {
    overflow: visible;
    width: 450px;
}
.reveal .float-example-02 .float-wrap {
    padding: .5em;
}
.reveal .float-example-03 .float-wrap {
    background: transparent;
    border-color:rgba(255, 255, 255, .4);
    padding: .25em;
}
.reveal .float-example-03 p {
    font-size: 1.5rem;
}


// .reveal .float-example-02 .float-box,
// .reveal .float-example-03 .float-box {
//     width: 50px;
//     height: 50px;
// }
.reveal .float-clear {
    clear: both;
    background: hsla(200, 60%, 50%, .3);
    font-size: 1.3rem;
    line-height: 1;
    padding: .5em;
    text-align: center;
}
.reveal .float-example-02 .float-cleared {
    overflow: auto;
}
.reveal .hidden-link {
    display: block;
    position: absolute;
        top: 0;
        left: 0;
    width: 1em;
    height: 1em;
}
.reveal .hidden-link:hover {
    background: rgba(0,0,0, .1);
}






.reveal {

    // css-position.html
    // ------------------------------------------------------
    .pos__container {
        border: 2px solid rgba(150,255,255, .5);
        font-size: 1.5rem;
        line-height: 50px;
        margin: 0 auto;
        position: relative;
        width: 300px;

        &:after {
            background: #222;
            content: '.container';
            position: absolute;
                top: 0px;
                left: -120px;
            text-align: center;
            width: 100px;
            height: 50px;
        }
        &:before {
            border: 5px solid;
            border-color: transparent transparent #222 #222;
            content: '';
            display: block;
            position: absolute;
                top: 40px;
                left: -20px;
            width: 0;
            height: 0;
        }
        &.is--collapsed {
            &:after {
                top: -50px;
            }
            &:before {
                top: -10px;
            }
        }
        &.no--tooltip {
            &:before,
            &:after {
                display: none;
            }
        }
    }
    .pos__container-1 {

        &:after {
            content: '.container-1';
                top: 80px;
                left: -80px;
        }
        &:before {
            top: 120px;
            left: 20px;
        }
    }
    .pos__container-2 {
        border: 2px solid rgba(255,150,150, .7);
        padding: 40px;

        &:after {
            content: '.container-2';
        }
    }
    .pos__box {
        color: #fff;
        font-size: 1.5rem;
        line-height: 100px;
        text-align: center;
        width: 100px;
        height: 100px
    }
    .pos__box-1 { background: #27ae60; }
    .pos__box-2 { background: #8e44ad; }
    .pos__box-3 { background: #d35400; }




/* DAY 09 */
.reveal .mq p {
    color: red;
}

@media (max-width: 1000px) {
    .reveal .mq p {
        color: blue;
    }
}

.reveal .sprite {
    background-color: #fff;
    background-image: url(../img/slides/wpo/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0 auto;
    width: 64px;
    height: 64px;
}
