// HTML
// ----------------------------------------------------------------------------
// Web Languages
// --------------------------------------------------------
#web-languages {
  .WebLangsCSS {
      color: red;
      font-family: 'Comic Sans MS';
      font-size: xx-large;
  }

  .WebLangsJS {
    &-btn {
      background: linear-gradient( hsl(0, 40%, 50%), hsl(0, 45%, 40%));
      border: 3px solid hsl(0,40%,55%);
      border-radius: .5em;
      color: hsl(0,40%,85%);
      cursor: pointer;
      font-size: 2rem;
      margin-top: .5em;
      padding: .25em .5em;
      text-shadow: 1px 1px 1px rgba(0,0,0,.25);
      
      &:hover {
        background: linear-gradient( hsl(0, 40%, 60%), hsl(0, 45%, 50%));
      }
      
      &:focus {
        outline: 0;
      }
      
      &:active {
        background: linear-gradient( hsl(0, 40%, 45%), hsl(0, 45%, 35%));
        box-shadow: inset -2px 2px 2px rgba(0,0,0, .3);
      }
    }
  
    &-hi {
      color: hsl(0,40%,50%);
      font-family: Georgia, serif;
      font-size: 1.8em;
      padding: .25em 0;
      
      &:before,
      &:after {
          content: '~';
      }
    }
  }
}


// CSS
// ----------------------------------------------------------------------------
// Box Model + Margin And Padding
// --------------------------------------------------------
#box-model,
#margin-and-padding {
  .BoxModelGraphic {
    &-margin {
      border: 2px dashed $c-blue;
      background: $c-cyan;
      display: inline-block;
      padding: 50px;
      width: 404px;
      text-align: center;
    }

    &-padding {
      background: $c-yellow;
      border: 5px solid $c-red;
      display: inline-block;
      padding: 50px;
      width: 300px;
    }

    &-content {
      color: #fff;
      display: block;
      background: $c-purple;
      font-size: 40px;
      line-height: 50px;
    }

    &-legend {
      span {
        font-weight: bold;
        margin: 0 1em;
      }
    }
  }
}


// Width and Height
// --------------------------------------------------------
#width-and-height {
  .BoxModelGraphic {
  }
}


// Borders
// --------------------------------------------------------
#borders {
  .BordersExample {
    vertical-align: top;

    code {
      background: $c-grayLighter;
      border-width: 6px;
      border-color: $c-red;
      color: $c-grayDark;
      display: inline-block;
      font-size: 14px;
      line-height: 24px;
      margin: 0 14px;
      padding-top: 20px;
      text-align: center;
      width: 90px;
      height: 90px;
    }

    &--solid  { border-style: solid; }
    &--double { border-style: double; }
    &--dashed { border-style: dashed; }
    &--dotted { border-style: dotted; }
  }
}


// Float
// --------------------------------------------------------
#float,
#clearfix {
  .FloatGraphic {
    &-wrap {
      border: 1px dotted #333;
      background: rgba(0, 0, 0, .1);
      margin: 0 auto 1em;
      padding: 0 .5rem;
      overflow: auto;
      width: 26rem;

      &--collapse {
        overflow: visible;

        .FloatGraphic-box {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
    
    &-box {
      background: gold;
      border: 2px solid orange;
      margin: .25rem;
      font-size: 1.5rem;
      font-weight: bold;
      width: 4rem;
      color: black;
      padding: .5rem 0;
      
      &--left { float: left; }
      &--right { float: right; }
    }
  }

  .ClearExample {
    &-wrap {
      border: 1px dotted #666;
      margin: 0 auto;
      padding: 1em;
      width: 70%;
    }

    &-clear {
      clear: both;
    }
  }




}


// Position
// --------------------------------------------------------
#position,
#z-index {
  .PositionGraphic {
    &-wrap {
      border: 1px dotted #333;
      font-size: 1.25rem;
      line-height: 50px;
      margin: 0 auto;
      position: relative;
      width: 300px;

      &:after {
        background: #ECBF8A;
        content: '.container';
        font-size: 1rem;
        position: absolute;
        top: 0px;
        left: -120px;
        text-align: center;
        width: 100px;
        height: 50px;
      }

      &:before {
        border: 5px solid;
        border-color: transparent transparent #ECBF8A #ECBF8A;
        content: '';
        display: block;
        position: absolute;
        top: 41px;
        left: -20px;
        width: 0;
        height: 0;
      }
      
      &--1 {


        &:after {
          content: '.container-1';
          top: 80px;
          left: -80px;
        }
        
        &:before {
          top: 120px;
          left: 20px;
        }
      }

      &--2 {
        border: 2px solid rgba(255,150,150, .7);
        padding: 40px;
        box-sizing: content-box;
        padding: 40px;
        width: 340px;

        &:after {
          content: '.container-2';
        }
      }

      &--tooltipless {
        &:before,
        &:after {
          display: none;
        }
      }

      &--collapsed {
        margin-top: 150px;
      
        &:after { top: -50px; }
        &:before { top: -10px; }
      }
    }

    &-box {
      color: #fff;
      line-height: 100px;
      text-align: center;
      width: 100px;
      height: 100px;
      
      &--1 { background: #27ae60; }
      &--2 { background: #8e44ad; }
      &--3 { background: #d35400; }
    }
  }
}


// Specificity
// --------------------------------------------------------
#specificity {
  .specificity {
    color: #333;
    font-family: "Oswald", Impact, sans-serif;
    font-size: 8rem;
    line-height: 1.2;
    margin-top: 10rem;
    text-align: center;

    &-item {
      background: rgba(0,0,0, .2);
      box-shadow: inset 0 0 10px rgba(0,0,0, .5);
      display: inline-block;
      margin: 0 1rem;
      padding: 2rem 3rem;
      position: relative;

      &:after {
        font-family: "Open sans", sans-serif;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1;
        position: absolute;
            left: 0;
            right: 0;
        text-align: center;
      }

      &--inline {
        color: $c-red;

        &:after {
          content: 'Style attribute';
          top: -5rem;
        }
      }

      &--id {
        color: $c-purple;

        &:after {
          content: 'IDs';
          top: -3rem;
        }
      }

      &--class {
        color: $c-green;

        &:after {
            content: 'Class, \00000apseudo-class,\00000a attribute';
            font-size: 1.5rem;
                top: -5.5rem;
            white-space:pre;
        }
      }

      &--element {
        color: $c-blue;

        &:after {
          content: 'Elements';
          top: -3rem;
        }
      }
    }

    &-example {
      box-shadow: none;
      margin: 1rem 0 3rem;
      font-size: 3rem;
    }

    &-important {
      margin-top: 1rem;

      span {
        font-size: 4rem;
        margin: 0 1rem;
        padding: 0 1rem;
        position: relative;

        &:after {
          display: none;
        }

        &.specificity-importantWrap {
          background: transparent;
          box-shadow: none;
          margin: 0;
          padding: 1rem 0;

          &:first-of-type {
            outline: 1px solid red;
          }
        }
      }
    }
  }
}


// Pseudo-elements
// --------------------------------------------------------
#pseudo-elements {
  .PsElementsDemo {
    &-before,
    &-after {
      text-align: center;
    }

    &-before {
      &::before {
        content: "(^⁎˃ᆺ˂) ";
        color: $c-orange;
        font-size: .9em;
        margin-right: .5em;
      }
    }

    &-after {
      &::after {
        content: " (≚ᄌ≚)ﾉ”";
        color: $c-orange;
        font-size: .9em;
        margin-right: .5em;
      }
    }

    &-img {
      &:after {
        content: "";
        background: url(../img/cat-watching.gif) no-repeat center center;
        background-size: cover;
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 100px;
      }
    }


  }
}

    .symple-before {
        text-transform: lowercase !important;

        &:before {
            content: "(⊙_◎)";
            color: green;
            font-size: 0.7em;
            padding-right: 20px;
        }
    }

    p.catwatching {
      font-size: 24px;
        padding-left: 20px;
    
        &:before {
            content: "";
            background: url(../img/slides/css-pseudoclasses/cat-watching.gif) -110px;
            float: left;
            margin: 0 30px 0 30px;
            height: 200px;
            width: 300px;
        } 
    }

    pre.whitecat-pre {
        margin-left: 0;
        width: 60%;
    }

    p.whitecat {
      font-size: 24px;
        padding-left: 20px;
        position: relative;
        width: 63%;
    
        &:after {
            content: "";
            background-image: url(../img/slides/css-pseudoclasses/whitecat.gif);
            position: absolute;
              top: -262px;
              right: -250px;
            height: 400px;
            width: 240px;
        } 
    }

    .firstletter::first-letter {
        background-color: rgba(255, 255, 255, 0.2);
        color: #D5C70F;
        display: inline-block;
        float: left;
        font-weight: bolder;
        font-size: 3em;
        margin: 0 15px 0 50px;
        padding: 35px 30px 45px;
        text-shadow: 2px 2px 2px #000;
    }


    .firstline::first-line {
        color: #D5C70F;
        font-weight: bold;
        font-size: .8em;
        line-height: 1.2;
        text-shadow: 2px 2px 2px #000;
    }

    p.selection::selection {
        color: #D5C70F;
        background: transparent;
        text-shadow: 2px 2px 2px #000;
    }


// Backgrounds
// --------------------------------------------------------
#bg-image,
#bg-repeat,
#bg-position,
#bg-attachment,
#bg-clip,
#bg-origin,
#bg-size {
  .bg-image pre code {
    font-size: 1.5rem;
    padding: .75em 1em;
  }
  .image-wrap {
    background-color: rgba(255,255,255, .6);
    border: 2px solid rgba(0,0,0, .5);
    color: #000;
    font-size: 1.4rem;
    margin: 1.5rem auto;
    padding: 1em;
    width: 60%;
  }
  .is--dalek { background-image: url(../img/slides/css-background/dalek.png); }
  .is--megaman { background-image: url(../img/slides/css-background/megaman.png); }
  .is--tripi {
    background-image: url(../img/slides/css-background/background-repeat.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px solid rgba(0,0,0, .4);
    color: #fff;
    padding: 50px;
    width: 350px;
    height: 350px;
  }
}


// Backgrounds
// -------------------------------------------------------
#gradient-linear,
#gradient-radial,
#gradient-repeat,
#gradient-multiple {
  .gradient-wrap {
      border: 2px solid rgba(0,0,0, .5);
      font-size: 1.4rem;
      margin: 1.5rem auto;
      width: 60%;
      height: 300px;
  }
}

// Float
// --------------------------------------------------------


.hidden-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
}
.hidden-link:hover {
  background: rgba(0,0,0, .1);
}


