<section>
    <h3>Módulo III <br /><span class="marker">Programación Frontend</span></h3>
    <h3><strong>Alojamiento y servidores web</strong></h3>
</section>

<section>
    <h2>Estructura cliente - servidor</h2>

    <img src="../img/servidorWeb.jpg" alt="">
    <p>
        Esquema simplificado de conexión bidireccional a un servidor web.
    </p>

</section>

<section>
    <h2>Transacciones</h2>

    <img src="../img/cliente-servidor.png" alt="">
    <small>Pedimos una URL, se convierte a IP y el Servidor web retorna el contenido.</small>

</section>

<section>
    <h2>Protocolos de comunicación</h2>
    <ul>
        <li>
            <span class="marker">HTTP</span> - Hyper Text Transfer Protocol
        </li>

        <li>
            <span class="marker">TCP/IP</span> - Transmission Control Protocol / Internet Protocol
        </li>

        <li>
            <span class="marker">FTP</span> - File Transfer Protocol
        </li>
    </ul>
</section>

