{% assign img_path = './img/slides/level-test' %}

<section>
  <section>
    <img src="{{ img_path }}/completely-different.gif" alt="" style="height: 400px;">
  </section>

  <section>
    <h2>¡Exámen sorpresa! &#94;_&#94;</h2>
    <div class="fragment">
      <img src="{{ img_path }}/panic.gif" alt="" style="height: 350px;">
      <p>Descargar: <a href="files/level-test/assets.zip">assets.zip</a></p>
      <a  href="/files/level-test/y0da.html"
          style="
            background: transparent;
            display: block;
            position: absolute;
            top: 0;
            margin-left: -10px;
            left: 50%;
            width: 20px;
            height: 20px;
            z-index: 999999;"
      ></a>
    </div>
  </section>
</section>

