body{
    /* No hace falta el width default del body es 100% */
    width:100%;
    margin:0;
}

header{
    width:100%;
    display:block;
    background-color: #004f70;

    /*
     *  Antes que fijar un valor es mejor dejar que sea el contenido el que determine
     *  el alto de los elementos.
     */
    height:115px;
    position:fixed;
    top:0;
    left:0;
    z-index: 100;


}

#logo {
    /* Cuando el valor es 0 podemos omitir la unidad. */
    margin:37px 0px 0px 333px;
    width:52px;
    display:block;
    float:left;
}

ul{
    margin: 58px 0px 0px 130px;
    float:left;

}

#decomag{
    font-family: 'Open Sans condensed';

    /* En web no es recomendable usar pt excepto para estilos de impresión */
    font-size:52pt;

    color:white;
    float:left;
    margin: 15px 0px 0px 20px;

}


span{
    font-family: 'Open Sans', sans-serif;
    color:#90c5db;
    font-style:italic;
    font-weight: lighter;



}

ul  li{

    float:left;
    font-family: 'Open Sans Condensed', sans-serif;
    list-style-type:none;
    color:#90c5db;
    font-size: 30px;
    display:inline-block;
    padding-left: 68px;


}

.home{
    height: 538px;
    background: #ffffff url("../img/interior.jpg") no-repeat right top;
    top:115px;
    position:relative;
    background-position: right bottom -80px;
    background-size: 100% auto;



}

.form{

    width:380px;
    height: 450px;
    background-color: rgba(0,0,0, 0.6);
    position:absolute;
    right:250px;
    bottom:0;
    text-align: center;
    border-style: solid;
    border-width: 20px;
    border-color:#0088c1;
    padding:0px 0px 10px 40px;

}


/*
 *  Los estilos comunes de estas 3 clases se podrían haber abstraido
 *  a un class .label y haber dejado esas 3 solo para cambiar la imagen
 *  de fondo.
 */
.label1{

     background: #ffffff url("../img/label1.png") no-repeat left;
     border-radius: 5px;
     width: 342px;
     height:53px;
}

.label2{

     background: #ffffff url("../img/label2.png") no-repeat left;
     border-radius: 5px;
     width: 342px;
     height:53px;
}

.label3{

     background: #ffffff url("../img/label3.png") no-repeat left;
     border-radius: 8px;
     width: 342px;
     height:53px;
}

.input{
border: none;

/* Declaras el font-family cada vez cuando sería más sencillo declararlo solo una vez en el body */
font-family: 'Open Sans Condensed', sans-serif;

color:#696969;
font-size:24px;

}



h4{

font-family: 'Open Sans Condensed', sans-serif;
color:white;
font-size:25px;


}

.botonform{
    text-align: center;
    font-size: 18px;

    /* propiedad sin valor */
    font-style:;

    height: 53px;
    width:150px;
    color:white;
    background-color:#009bdb;
    font-family: 'Open Sans', sans-serif;
    margin:70px auto 0px;
    text-decoration: none;
    border-radius: 8px;




}


h1{

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 34px;


}

p{

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;

}


.fondo{
    background-color: rgba(255,255,255, 0.5);
    margin:88px 0px 0px 333px;
    display:block;
    height:150px;
    width:658px;
    position:absolute;

    /*
     * Cuidado con los márgenes de los elementos interiores. Te están creando excesivos
     * padding y rompiendo el diseño.
     */
    padding:30px;


}

.boton {

    text-align: center;
    font-size: 40px;
    font-style:'800';
    width:285px;
    color:white;
    background-color:#009bdb;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    text-decoration: none;
    margin: 400px 0px 0px 333px;
    position:absolute;


}

.ideas
{
    color:white;
    background-color:#004f75;
    width:400px;
    height:230px;
    display: inline-block;
    margin: 200px 0px 0px 333px;
    padding:20px;


}

.idea {

    text-align: center;
    float:left;
    margin:40px 0px;
    font-size: 40px;

}

.decora{
    float: none;
    clear:both;
    text-align:center;
    font-size:30px;



}

.promociones
{
    color:white;
    background-color:#004f75;
    width:840px;
    height:230px;
    display: inline-block;
    margin: 200px 0px 0px 20px;
    padding:20px;


}

.app{

    width:450px;
    display: inline-block;
    margin: 120px 0px 0px 333px;
    color:#004e72;
    float:left;
}

.disponible{

    font-size: 40px;
    font-family:'Open Sans Condensed';

}

.descargate{

    font-size: 34px;
}

.devices{

    float:left;
    margin-top: 100px;
    margin-left:210px;
}

.inside{

    margin-top: 700px;
    height: 300px;
    width: 100%;
    background: url(../img/inside.jpg) no-repeat;
    background-color: #00CED1;
    background-position:right bottom;
    position: relative;
    text-align: center;

}

.decoratuloft{
    /*
     * Este elemento está bien construido, sin una altura fija dejando que el contenido
     * determine la altura. Deberías ir siempre por esta línea.
     */
    font-size: 40px;
    font-family: 'Open Sans Condensed';
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    background-color: rgba(0,0,0, 0.5);
    padding:10px 150px;

    /* Hemos visto mejores maneras de centrar un elemento */
    margin: -28px 0 0 -121px;

}

.testimonios{

    background: url(../img/header.jpg) no-repeat;
    -moz-filter: grayscale(100%);
    height: 600px;
    background-size: auto 100%;
    background-position: center; bottom;





}

.textos{
    margin: 120px 0px 0px 333px;
    width: 600px;

}

.textos h1{
    font-size: 50px;
    color:#004f75;

}

.textos p{
    font-size: 50px;

    font-style: italic;

}

h3{
    font-size: 32px;
    font-family: 'Open Sans Condensed';
    color:#004f75;
    font-weight: bold;



}

.footer{

    background-color: #004f75;
    height: 296px;
    font-weight: 100%;
    margin: 0px auto;
    text-align: center;
    clear: both;
    padding-top: 150px;


}

.footer p{
    color:white;
    letter-spacing: 1.5pt;
    font-weight: lighter;



}
