body{
	font-family: 'Open Sans Condensed', sans-serif;

}

.header {
	width: 100%;
	height: 50px;
	background-color: #004f70;
	position: fixed;
}

.boxmenu{
	width: 80%;
	display: block;
	height: 50px;
	float: right;
	margin-right: 10%;
	margin-left: 10%;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: 200px;
	background-position: 10px;
}

.boxmenu img{
	width: 140px;
	margin-top: 20px;
}

.header ul{
	float: right;
	margin-top: 25px;
}

.header ul li {
	display: inline;
	margin-left: 35px;
	color: white;
}

.transparent{
	background-color: rgba(255,255,255,0.5);
	max-width: 320px;

	/*
	 * auto es el default de height, si no habias declarado la altura de este elemento
	 * no es necesario especificarlo aqui.
	 */
	height: auto;

	padding: 15px;
	margin-top: 47px;


}

.button{
	max-width: 140px;
	height: 25px;
	padding: 10px;
	background-color: #009bdb;
	text-align: center;
	color: white;
	margin-top: 10px;
	font-weight: 700;
}

.button p{
	margin: 0 auto;



}

.buttons{
	text-align: center;
}
.megacontainer{
	width: 80%;

	/* ¿Por que no "margin: 0 auto;"? */
	margin-right: auto;
	margin-left: auto;

	height: auto;


}

.transparent h1{
	font-size: 20px;
	margin: 0;
}

.transparent h2{
	font-size: 14px;
	/*Carregar tipografia en bold */

	/* Los TO-DOs hay que resolverlos antes de entregar ^_^ */
}
.supercontainer{
	margin-bottom: 25px;
	float: left;
	width: 100%;
}

.wrapper{
	width: 50%;
	float: left;

}


.bigimage {
	width: 100%;
	height: 300px;
	background-position: center;
	background-size: 100%;
	float: left;
	margin-bottom: 25px;
	padding-top: 50px;
}

.img-header {
	background-image: url('../img/cama.jpg');
}

.img-product {
	/* En el diseño eran fotos diferentes */
	background-image: url('../img/cama.jpg');

	/* ¿Por que display: table-cell;? */
	display: table-cell;
    text-align: center;
    vertical-align: middle;
}



.ideas{
	background-color: #009bdb;
	width: 32%;
	background-image: url('../img/light.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
	height: 100px;
	display: block;
	float: left;
	background-origin: content-box;
	padding: 10px;
	color: white;
}

.ideas h1{
	font-size: 20px;
	text-align: center;
	font-weight: 300;

}

.ideas h2{
	font-size: 14px;
	text-align: center;

}

.promociones{
	background-color: #0088c1;
	width: 62%;
	background-image: url('../img/star.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
	height: 100px;
	float: right;
	background-origin: content-box;
	padding: 10px;
	color: white;

}

.promociones h1{
	font-size: 20px;
	text-align: center;
	font-weight: 300;

}

.promociones h2{
	font-size: 14px;
	text-align: center;

}

.info{

	width: 45%;
	display: block;
	float: left;
	color: #004e72;
	background-color: #c9e2ff;
	padding: 10px;

}

.info h3{
	font-weight: 300;
	font-style: italic;
}

.form {
	float: right;
	padding: 0px 20px 0px 20px;
	background-color: rgba(0,0,0,0.5);

	/* Se podria haber simplificado en border: 5px solid #0088c1; */
	border-style: solid;
	border-color: #0088c1;
    border-width: 5px;

    margin-top: 5%;
    margin-bottom: 5%;

}

.form h2{
	font-size: 14px;
	text-align: center;
	color: white;
}

.form li{
	list-style-type: none;
	margin-bottom: 10px;
}

input{
	width: 100%;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: 3px;
}

/* el elemento input se podria haber omitido de los selectores */
input#Nombre{
	background-image: url("../img/user.png");
}

input#email{
	background-image: url("../img/email.png");
}

input#password{
	background-image: url("../img/lock.png");
}

label.description{
	color: white;
}

input#element_4_1 {
	width: auto;
	margin-right: 10px;
}

input#saveForm{
	width: auto;
	text-align: center;

}

input#saveForm{
	/*
	 *  Valores iguales en los ejes x/y.
	 *  se podria haber simplificado en "padding: 5px 50px;"
	 */
	padding: 5px 50px 5px 50px;
}



.form ul{
	padding: 0px;
	margin: 0px;
}
.centered{
	margin-right: auto;
	margin-left: auto;

	/* Habiamos visto mejores maneras de centrar verticalmente */
	margin-top: 100px;
	width: 300px;
	height: 40px;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	color: white;





}

.centered h1{

	font-size: 25px;



}

.info h1{
	margin: 0;
	font-size: 24px;

}

.info h2{
	margin: 0;
	font-size: 16px;
	font-weight: 300;

}
.imagen{
	background-image: url('../img/mobile.png');
	background-size: auto 100%;
	background-position: right;
	background-repeat: no-repeat;

	/* Falta la unidad */
	height: 237;

	width: 50%;
	float: right;
}

.imagen2{
	background-image: url('../img/header.jpg');
	background-size: auto 100%;
	background-position: right;
	background-repeat: no-repeat;

	/* Falta la unidad */
	height: 237;
	width: 50%;
	float: right;
	-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */;

  /*
   *  Cuando utilices prefijos y otro tipo de apaños para soportar navegadores antiguos
   *  siempre tiene que ir la propiedad con la sintaxis estandar al final, sino el navegador
   *  se quedará con el hack.
   *  En este caso:
   *
   *          filter: gray; /* IE 6-9 ;
   *          filter: url(grayscale.svg); /* Firefox 4+
   *  -webkit-filter: grayscale(100%);
   *     -moz-filter: grayscale(100%);
   *      -ms-filter: grayscale(100%);
   *       -o-filter: grayscale(100%);
   *          filter: grayscale(100%);
   */
}

.footer{
	width: 100%;
	height: 100px;
	display: block;
	background-color: #004f70;
	float: left;
	color: white;
	text-align: center;

}

.footer p{
	margin-top: 40px;
}