---

layout: global
title: 'Fundamentos CSS'

lesson_title: 'Unidades de medida y Terminal UNIX'

---

{% include slides/10/sublime-tip-find-files.html %}

{% include slides/10/css-units.html %}

{% include slides/10/terminal-unix.html %}

<section>
    <h3>Ejercicio</h3>
    <p>Añade un dropdown en la landing page DecoMAG</p>

    <a href="files/css-pseudoclasses/home_deco_dropdown.psd.zip"><img src="img/slides/css-pseudoclasses/home_deco_dropdown.png" alt=""></a>
</section>

<section>
    <h3>Links relacionados</h3>
    <ul style="font-size: 1.8rem">
        <li style="margin-bottom: .4em;">
            <strong>Index of standard pseudo-classes</strong> <i style="color: #999;"> &mdash; MDN</i><br>
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes" style="font-size: .8em; margin-top: -.5rem; display:block;">https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes</a>
        </li>

        <li style="margin-bottom: .4em;">
            <strong>All pseudo-elements</strong> <i style="color: #999;"> &mdash; MDN</i><br>
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements" style="font-size: .8em; margin-top: -.5rem; display:block;">https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements</a>
        </li>

        <li style="margin-bottom: .4em;">
            <strong>:target</strong> <i style="color: #999;"> &mdash; CSS Tricks</i><br>
            <a href="http://css-tricks.com/almanac/selectors/t/target/" style="font-size: .8em; margin-top: -.5rem; display:block;">http://css-tricks.com/almanac/selectors/t/target/</a>
        </li>

        <li style="margin-bottom: .4em;">
            <strong>:nth tester tool</strong> <i style="color: #999;"> &mdash; CSS Tricks</i><br>
            <a href="http://css-tricks.com/examples/nth-child-tester/" style="font-size: .8em; margin-top: -.5rem; display:block;">http://css-tricks.com/examples/nth-child-tester/</a>
        </li>

        <li style="margin-bottom: .4em;">
            <strong>:nth recipes</strong> <i style="color: #999;"> &mdash; CSS Tricks</i><br>
            <a href="http://css-tricks.com/useful-nth-child-recipies/" style="font-size: .8em; margin-top: -.5rem; display:block;">http://css-tricks.com/useful-nth-child-recipies/</a>
        </li>

        <li style="margin-bottom: .4em;">
            <strong>CSS Level 4 Selectors to Watch Out For</strong> <i style="color: #999;"> &mdash; Jonathan Cutrell</i><br>
            <a href="http://webdesign.tutsplus.com/articles/css-level-4-selectors-to-watch-out-for--cms-23117" style="font-size: .8em; margin-top: -.5rem; display:block;">http://webdesign.tutsplus.com/articles/css-level-4-selectors-to-watch-out-for--cms-23117</a>
        </li>
    </ul>
</section>