---

layout: slides
title: 'Fundamentos CSS'

lesson_title: 'Sass Intro'

---

{% include slides/css/css-units.html %}

{% include slides/sass/sass-intro.html %}

<!-- {#% include slides/sass/sass-instalacion.html %} -->

{% include slides/sass/sass-funcionalidades.html %}

{% include slides/sass/sass-exercises.html %}


<!-- <section>
    <h3>Links relacionados</h3>
    <ul style="font-size: 1.8rem">
         <li style="margin-bottom: .8em;">
            <strong>Our (css) best practices are killing us</strong> <i style="color: #999;"> &mdash; Nicole Sullivan at Webstock 2011</i>
            <br>
            <a href="http://www.stubbornella.org/content/2011/04/28/our-best-practices-are-killing-us/" style="font-size: .8em;">http://www.stubbornella.org/content/2011/04/28/our-best-practices-are-killing-us/</a>
        </li>

        <li style="margin-bottom: .8em;">
            <strong>Breaking Good Habits</strong> <i style="color: #999;"> &mdash; Harry Roberts at Front-Trends 2012</i>
            <br>
            <a href="https://vimeo.com/44773888" style="font-size: .8em;">https://vimeo.com/44773888</a>
        </li>

        <li style="margin-bottom: .8em;">
            <strong>When using IDs can be a pain in the class...</strong> <i style="color: #999;"> &mdash; Harry Roberts</i><br>
            <a href="http://csswizardry.com/2011/09/when-using-ids-can-be-a-pain-in-the-class/" style="font-size: .8em;">http://csswizardry.com/2011/09/when-using-ids-can-be-a-pain-in-the-class/</a>
        </li>
    </ul>
</section> -->
