---

layout: global
title: 'Fundamentos CSS'

lesson_title: 'Background &amp; Gradients'

---

{% include slides/07/css-background-intro.html %}

{% include slides/07/css-background-image.html %}

{% include slides/07/css-background-repeat.html %}

{% include slides/07/css-background-position.html %}

{% include slides/07/css-background-attachment.html %}

{% include slides/07/css-background-clip.html %}

{% include slides/07/css-background-origin.html %}

{% include slides/07/css-background-size.html %}

{% include slides/07/css-background-shorthand.html %}

{% include slides/07/css-background-multiple.html %}

<section>
    <h3>Ejercicios</h3>
    <ul>
        <li><a href="http://lea.verou.me/css-workshop/#slide7">Ejercicio 01</a></li>
        <li><a href="http://lea.verou.me/css-workshop/#slide8">Ejercicio 02</a></li>
    </ul>
</section>

{% include slides/07/css-gradient-linear.html %}

{% include slides/07/css-gradient-radial.html %}

{% include slides/07/css-gradient-repeating.html %}

{% include slides/07/css-gradient-multiple.html %}

<section>
    <h3>Ejercicios</h3>
    <ul>
        <li><a href="http://lea.verou.me/css-workshop/#slide22">Ejercicio 03</a></li>
        <li><a href="http://lea.verou.me/css-workshop/#slide23">Ejercicio 04</a></li>
        <li><a href="http://lea.verou.me/css-workshop/#slide24">Ejercicio 05</a></li>
        <li><a href="http://lea.verou.me/css-workshop/#slide26">Ejercicio 06</a></li>
    </ul>
</section>


<section>
    <h2>Links relacionados</h2>
    <ul style="font-size: 1.8rem">
        <li style="margin-bottom: .4em;">
            <strong>CSS Gradients</strong> <i style="color: #999;"> &mdash; Chris Coyier</i><br>
            <a href="http://css-tricks.com/css3-gradients/" style="font-size: .8em; margin-top: -.5rem; display:block;">http://css-tricks.com/css3-gradients/</a>
        </li>
        <li style="margin-bottom: .4em;">
            <strong>Ultimate CSS Gradient Generator</strong><br>
            <a href="http://www.colorzilla.com/gradient-editor/" style="font-size: .8em; margin-top: -.5rem; display:block;">http://www.colorzilla.com/gradient-editor/</a>
        </li>
        <li style="margin-bottom: .4em;">
            <strong>What are the Vendor Prefixes?</strong> <i style="color: #999;"> &mdash; David Walsh</i><br>
            <a href="http://davidwalsh.name/vendor-prefixes" style="font-size: .8em; margin-top: -.5rem; display:block;">http://davidwalsh.name/vendor-prefixes</a>
        </li>
        <li style="margin-bottom: .4em;">
            <strong>How To Deal With Vendor Prefixes</strong> <i style="color: #999;"> &mdash; Chris Coyier</i><br>
            <a href="http://css-tricks.com/how-to-deal-with-vendor-prefixes/" style="font-size: .8em; margin-top: -.5rem; display:block;">http://css-tricks.com/how-to-deal-with-vendor-prefixes/</a>
        </li>
    </ul>
</section>
