---

layout: global
title: 'Fundamentos CSS'

lesson_title: 'Position'

---

{% include slides/06/sublime-tip-selection.html %}

{% include slides/06/css-position.html %}

<section>
    <h2>Práctica</h2>
    <a href="../files/home-depo.zip">home-depo.zip</a>
</section>

<section>
    <h3>Links relacionados</h3>
    <ul>
        <li style="margin-bottom: .4em;">
            <strong>CSS Positioning 101</strong> <i style="color: #999;"> &mdash; Noah Stokes</i><br>
            <a href="http://alistapart.com/article/css-positioning-101" style="font-size: .8em; margin-top: -.5rem; display:block;">http://alistapart.com/article/css-positioning-101</a>
        </li>
    </ul>
</section>
