---

layout: slides
title: 'CSS'
lesson_title: 'Fundamentos CSS'

---

{% include slides/css/css-introduction.html %}

{% include slides/css/css-user-agent.html %}

{% include slides/css/css-syntax.html %}

{% include slides/css/css-selectors01.html %}

{% include slides/css/css-selectors02.html %}

{% include slides/css/css-link-to-html.html %}

{% include slides/css/css-text-styles.html %}

<section>
    <h2>Links relacionados</h2>
    <ul>
        <li style="margin-bottom: .8em;">
            <strong>CSS Zen Garden</strong><br>
            <a href="http://www.csszengarden.com/" style="font-size: .8em;">http://www.csszengarden.com/</a>
        </li>
        <li style="margin-bottom: .8em;">
            <strong>Web Design is 95% Typography</strong> <i style="color: #999;"> &mdash; Oliver Reichenstein</i><br>
            <a href="http://ia.net/blog/the-web-is-all-about-typography-period" style="font-size: .8em;">https://ia.net/know-how/the-web-is-all-about-typography-period</a>
        </li>
        <li style="margin-bottom: .8em;">
            <strong>Typ.io</strong><br>
            <a href="http://www.typ.io/" style="font-size: .8em;">http://www.typ.io/</a>
        </li>
        <li style="margin-bottom: .8em;">
            <strong>Google Fonts</strong><br>
            <a href="https://www.google.com/fonts" style="font-size: .8em;">https://www.google.com/fonts</a>
        </li>
        <li style="margin-bottom: .8em;">
            <strong>Combining Typefaces</strong> <i style="color: #999;"> &mdash; Tim Brown</i><br>
            <a href="http://www.fivesimplesteps.com/products/combining-typefaces" style="font-size: .8em;">http://www.fivesimplesteps.com/products/combining-typefaces</a>
        </li>
    </ul>
</section>
