---

layout: global
title: 'Introducción al HTML'

lesson_title: 'Introducción al HTML'

---

{% include slides/02/web-languages.html %}

<section>
    <h1 style="font-size: 3em">Introducción al HTML</h1>
</section>

{% include slides/02/html-syntax.html %}

{% include slides/02/html-page-anatomy.html %}

<section>
    <h2>Ejercicio</h2>
    <p style="text-align:center;">Crear estructura de documento HTML</p>
    <a href="../exercise/01/01.zip">01.zip</a>
</section>

{% include slides/02/html-text-elements.html %}

{% include slides/02/html-structural-elements.html %}