---

layout: global
title: 'Fundamentos CSS'

lesson_title: 'Introducción a SASS'

---

{% include slides/14/sass-intro.html %}

{% include slides/14/sass-instalacion.html %}

{% include slides/14/sass-funcionalidades.html %}

{% include slides/14/sass-exercises.html %}



<section>
    <h3>Links relacionados</h3>
    <ul style="font-size: 1.8rem">
         <li style="margin-bottom: .8em;">
            <strong>Getting Started with Sass</strong> <i style="color: #999;"> &mdash; A list apart</i>
            <br>
            <a href="http://alistapart.com/article/getting-started-with-sass/" style="font-size: .8em;">http://alistapart.com/article/getting-started-with-sass/</a>
        </li>

        <li style="margin-bottom: .8em;">
            <strong>SASS for webdesigners</strong> <i style="color: #999;"> &mdash; A book apart</i>
            <br>
            <a href="http://abookapart.com/products/sass-for-web-designers" style="font-size: .8em;">http://abookapart.com/products/sass-for-web-designers</a>
        </li>

        <li style="margin-bottom: .8em;">
            <strong>The SASS way</strong>
            <br>
            <a href="http://thesassway.com/" style="font-size: .8em;">http://thesassway.com/</a>
        </li>
    </ul>
</section>