---

layout: global
title: 'Fundamentos CSS'

lesson_title: 'SASS avanzado'

---

{% include slides/15/sass-extend.html %}

{% include slides/15/sass-mixins.html %}

{% include slides/15/sass-operators.html %}

{% include slides/15/sass-exercises.html %}




<section>
    <h3>Links relacionados</h3>
    <ul style="font-size: 1.8rem">
         <li style="margin-bottom: .8em;">
            <strong>Codekit</strong> <i style="color: #999;"> &mdash; SASS MacOSX compiler</i><br />
            <a href="https://incident57.com/codekit/" style="font-size: .8em;">https://incident57.com/codekit/</a>
        </li>

         <li style="margin-bottom: .8em;">
            <strong>Scout</strong> <i style="color: #999;"> &mdash; Compass and Sass without all the hass(le)</i><br />
            <a href="http://mhs.github.io/scout-app/" style="font-size: .8em;">http://mhs.github.io/scout-app/</a>
        </li>

    </ul>
</section>