---

layout: global
title: 'Fundamentos CSS'

lesson_title: 'Position'

---

{% include slides/sublime-tips/sublime-tip-selection.html %}

{% include slides/css/css-position.html %}

{% include slides/css/css-zindex.html %}

<section>
    <h2>Práctica</h2>
    <a href="../files/home-depo.zip">home-depo.zip</a>
</section>

<section>
    <h3>Links relacionados</h3>
    <ul>
        <li style="margin-bottom: .4em;">
            <strong>CSS Positioning 101</strong> <i style="color: #999;"> &mdash; Noah Stokes</i><br>
            <a href="http://alistapart.com/article/css-positioning-101" style="font-size: .8em; margin-top: -.5rem; display:block;">http://alistapart.com/article/css-positioning-101</a>
        </li>

        <li style="margin-bottom: .4em;">
            <strong>Z-index</strong> <i style="color: #999;"> &mdash;Guy Routledge</i><br>
            <a href="http://alistapart.com/article/css-positioning-101" style="font-size: .8em; margin-top: -.5rem; display:block;">http://www.atozcss.com/advanced/the-z-index-css-property/</a>
        </li>

    </ul>
</section>
