---

layout: global
title: 'CSS'
lesson_title: 'CSS: Box Model'

---

{% include slides/04/sublime-tip-settings.html %}

{% include slides/04/css-box-model.html %}

{% include slides/04/css-width-height.html %}

{% include slides/04/css-display.html %}

{% include slides/04/css-visibility.html %}

{% include slides/04/css-overflow.html %}

{% include slides/04/css-padding-margin.html %}

{% include slides/04/css-borders.html %}

<section>
    <h3>Links relacionados</h3>
    <ul>
        <li style="margin-bottom: .8em;">
            <strong>Box Model</strong> <i style="color: #999;"> &mdash; Guy Routledge</i>
            <br>
            <a href="http://www.atozcss.com/the-css-box-model/" style="font-size: .8em;">http://www.atozcss.com/the-css-box-model/</a>
        </li>
        <li style="margin-bottom: .8em;">
            <strong>* { Box-sizing: Border-box } FTW</strong> <i style="color: #999;"> &mdash; Paul Irish</i>
            <br>
            <a href="http://www.paulirish.com/2012/box-sizing-border-box-ftw/" style="font-size: .8em;">http://www.paulirish.com/2012/box-sizing-border-box-ftw/</a>
        </li>
        <li style="margin-bottom: .8em;">
            <strong>Hiding content for accessibility</strong> <i style="color: #999;"> &mdash; Jonathan Snook</i><br>
            <a href="http://snook.ca/archives/html_and_css/hiding-content-for-accessibility" style="font-size: .8em;">http://snook.ca/archives/html_and_css/hiding-content-for-accessibility</a>
        </li>
        <li style="margin-bottom: .8em;">
            <strong>Single-direction margin declarations</strong> <i style="color: #999;"> &mdash; Harry Roberts</i>
            <br>
            <a href="http://csswizardry.com/2012/06/single-direction-margin-declarations/" style="font-size: .8em;">http://csswizardry.com/2012/06/single-direction-margin-declarations/</a>
        </li>
        <li style="margin-bottom: .8em;">
            <strong>The Shapes of CSS</strong> <i style="color: #999;"> &mdash; CSS Tricks</i><br>
            <a href="http://css-tricks.com/examples/ShapesOfCSS/" style="font-size: .8em;">http://css-tricks.com/examples/ShapesOfCSS/</a>
        </li>
    </ul>
</section>
