---

layout: global
title: 'Fundamentos CSS'

lesson_title: 'Tables'

---

{% include slides/17/tables-intro.html %}

{% include slides/17/tables-attributes.html %}

{% include slides/17/tables-css.html %}

{% include slides/17/tables-layout.html %}

<section>
    <h3>Tables &amp; Email marketing tools</h3>
    <ul style="font-size: 1.8rem">
         <li style="margin-bottom: .8em;">
            <strong>A complete guide to Table element</strong> <i style="color: #999;"> &mdash; CSS Tricks</i><br />
            <a href="https://css-tricks.com/complete-guide-table-element/" style="font-size: .8em;">https://css-tricks.com/complete-guide-table-element/</a>
        </li>

        <li style="margin-bottom: .8em;">
            <strong>Ink - Email marketing templates</strong> <i style="color: #999;"> &mdash; Zurb Foundation</i><br />
            <a href="http://zurb.com/ink/" style="font-size: .8em;">http://zurb.com/ink/</a>
        </li>

         <li style="margin-bottom: .8em;">
            <strong>Litmus</strong> <i style="color: #999;"> &mdash; Premium e-mail marketing testing tool</i><br />
            <a href="http://litmus.com/" style="font-size: .8em;">http://litmus.com/</a>
        </li>

    </ul>
</section>