---

layout: slides
title: 'Fundamentos CSS'

lesson_title: 'Background &amp; Gradients'

---

{% include slides/css/css-background-intro.html %}

{% include slides/css/css-background-image.html %}

{% include slides/css/css-background-repeat.html %}

{% include slides/css/css-background-position.html %}

{% include slides/css/css-background-attachment.html %}

{% include slides/css/css-background-clip.html %}

{% include slides/css/css-background-origin.html %}

{% include slides/css/css-background-size.html %}

{% include slides/css/css-background-shorthand.html %}

{% include slides/css/css-background-multiple.html %}

<section>
    <h3>Práctica</h3>
    <ul>
        <li><a href="http://lea.verou.me/css-workshop/#slide7">Ejercicio 01</a></li>
        <li><a href="http://lea.verou.me/css-workshop/#slide8">Ejercicio 02</a></li>
        <li><a href="./files/exercises/background.png">Ejercicio 03</a></li>
    </ul>
</section>

<section>
    <h2>Links relacionados</h2>
    <ul>
        <li style="margin-bottom: .8em;">
            <strong>background-attachment</strong> <i style="color: #999;"> &mdash; Chris Coyier</i><br>
            <a href="https://css-tricks.com/almanac/properties/b/background-attachment/">http://css-tricks.com/css3-gradients/</a>
        </li>
    </ul>
</section>
