---

layout: slides
title: 'Fundamentos CSS'

lesson_title: 'Fundamentos CSS'

---

{% include slides/sublime-tips/sublime-tip-packages.html %}

{% include slides/css/css-float.html %}

{% include slides/css/css-clearfix.html %}

{% include slides/css/css-position.html %}

{% include slides/css/css-zindex.html %}



<section>
    <h3>Links relacionados</h3>
    <ul>
        <li style="margin-bottom: .8em;">
            <strong>CSS Tricks</strong> <i style="color: #999;"> &mdash; Chris Coyier</i>
            <br>
            <a href="http://css-tricks.com/all-about-floats/">All about Floats</a>
        </li>
        <li style="margin-bottom: .8em;">
            <strong>MDN Float</strong> <i style="color: #999;"> &mdash; Mozilla Developer Network</i>
            <br>
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/float/">CSS Reference</a>
        </li>
        <li style="margin-bottom: .8em;">
            <strong>Micro Clearfix</strong> <i style="color: #999;"> &mdash; Nicolas Gallagher</i>
            <br>
            <a href="http://nicolasgallagher.com/micro-clearfix-hack/">A new micro clearfix hack</a>
        </li>
    </ul>
</section>
