---

layout: global
title: 'Fundamentos CSS'

lesson_title: 'Web Performance'

---

{% include slides/other/wpo-intro.html %}

{% include slides/other/wpo-actions.html %}

{% include slides/other/wpo-requests.html %}

{% include slides/other/wpo-file-sizes.html %}

<section>
    <h3>Web Performance</h3>
    <ul style="font-size: 1.8rem">

        <li style="margin-bottom: .8em;">
            <strong>Perf Rocks</strong><br />
            <a href="http://perf.rocks/" style="font-size: .8em;">perf.rocks/</a>
        </li>

        <li style="margin-bottom: .8em;">
            <strong>Design Decisions Through The Lens Of A Performance Budget</strong> <i style="color: #999;"> &mdash; Yesenia Perez-Cruz</i><br />
            <a href="https://vimeo.com/108328247" style="font-size: .8em;">vimeo.com/108328247</a>
        </li>

        <li style="margin-bottom: .8em;">
            <strong>Designing for Front-End Page Speed</strong> <i style="color: #999;"> &mdash; Lara Hogan</i><br />
            <a href="https://www.youtube.com/watch?v=RtpVZ5OzJlc" style="font-size: .8em;">www.youtube.com/watch?v=RtpVZ5OzJlc</a>
        </li>

        <li style="margin-bottom: .8em;">
            <strong>Web performance</strong> <i style="color: #999;"> &mdash; Andy Davies</i><br />
            <a href="http://www.fivesimplesteps.com/products/web-performance" style="font-size: .8em;">www.fivesimplesteps.com/products/web-performance</a>
        </li>

        <li style="margin-bottom: .8em;">
            <strong>Website Performance Optimization</strong> <i style="color: #999;"> &mdash; Ilya Grigorik</i><br />
            <a href="https://www.udacity.com/course/website-performance-optimization--ud884" style="font-size: .8em;">/www.udacity.com/course/website-performance-optimization--ud884</a>
        </li>

    </ul>
</section>