{% assign img_path = './img/slides/css-background' %}
{% assign files_path = './files/css-background' %}

<section class="text-left">
    <section data-background="{{ img_path }}/background-attachment.gif" data-background-repeat="no-repeat">
        <h3 style="color: #fff; text-shadow: 2px 2px 1px rgba(0,0,0,1);">background-attachment </h3>
    </section>

     <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-attachment: scroll; }
        </code></pre>
        <hr>
        <p style="text-align: center;"><a href="{{ files_path }}/bg-scroll.html">Ver ejemplo &raquo;</a></p>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-attachment: fixed; }
        </code></pre>
        <hr>
        <p style="text-align: center;"><a href="{{ files_path }}/bg-fixed.html">Ver ejemplo &raquo;</a></p>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-attachment: local; }
        </code></pre>
        <hr>
        <p style="text-align: center;"><a href="{{ files_path }}/bg-local.html">Ver ejemplo &raquo;</a></p>
    </section>
</section>
