{% assign img_path = './img/slides/css-background' %}

<section class="text-left">
    <section data-background="{{ img_path }}/background-size.gif" data-background-repeat="no-repeat">
        <h3>background-size</h3>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-size: 50px 200px; }
        </code></pre>
        <div class="image-wrap is--megaman"  style="background-repeat: no-repeat; background-size: 50px 200px;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsum.</p>
            <p>cum praesentium temporibus debitis odit ipsam est, libero eaque hic magnam! Adipisci, repudiandae, quisquam!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, maxime sunt deserunt illum architecto! Consequatur ut debitis nesciunt adipisci, ad maxime eligendi itaque fugiat ea repellat odit voluptatum corporis blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quod, id dolore ad asperiores!</p>
        </div>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-size: 100% 50%; }
        </code></pre>
        <div class="image-wrap is--megaman"  style="background-repeat: no-repeat; background-size: 100% 50%;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsum.</p>
            <p>cum praesentium temporibus debitis odit ipsam est, libero eaque hic magnam! Adipisci, repudiandae, quisquam!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, maxime sunt deserunt illum architecto! Consequatur ut debitis nesciunt adipisci, ad maxime eligendi itaque fugiat ea repellat odit voluptatum corporis blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quod, id dolore ad asperiores!</p>
        </div>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-size: auto 100%; }
        </code></pre>
        <div class="image-wrap is--megaman"  style="background-repeat: no-repeat; background-size: auto 100%;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsum.</p>
            <p>cum praesentium temporibus debitis odit ipsam est, libero eaque hic magnam! Adipisci, repudiandae, quisquam!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, maxime sunt deserunt illum architecto! Consequatur ut debitis nesciunt adipisci, ad maxime eligendi itaque fugiat ea repellat odit voluptatum corporis blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quod, id dolore ad asperiores!</p>
        </div>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-size: 100% auto; }
        </code></pre>
        <div class="image-wrap is--megaman"  style="background-repeat: no-repeat; background-size: 100% auto;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsum.</p>
            <p>cum praesentium temporibus debitis odit ipsam est, libero eaque hic magnam! Adipisci, repudiandae, quisquam!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, maxime sunt deserunt illum architecto! Consequatur ut debitis nesciunt adipisci, ad maxime eligendi itaque fugiat ea repellat odit voluptatum corporis blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quod, id dolore ad asperiores!</p>
        </div>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-size: cover; }
        </code></pre>
        <div class="image-wrap is--megaman"  style="background-repeat: no-repeat; background-size: cover;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsum.</p>
            <p>cum praesentium temporibus debitis odit ipsam est, libero eaque hic magnam! Adipisci, repudiandae, quisquam!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, maxime sunt deserunt illum architecto! Consequatur ut debitis nesciunt adipisci, ad maxime eligendi itaque fugiat ea repellat odit voluptatum corporis blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quod, id dolore ad asperiores!</p>
        </div>
    </section>

    <section class="bg-image">
        <pre><code data-trim contenteditable>
div { background-size: contain; }
        </code></pre>
        <div class="image-wrap is--megaman"  style="background-repeat: no-repeat; background-size: contain;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsum.</p>
            <p>cum praesentium temporibus debitis odit ipsam est, libero eaque hic magnam! Adipisci, repudiandae, quisquam!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, maxime sunt deserunt illum architecto! Consequatur ut debitis nesciunt adipisci, ad maxime eligendi itaque fugiat ea repellat odit voluptatum corporis blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quod, id dolore ad asperiores!</p>
        </div>
    </section>
</section>
