<section class="text-left">
    <section>
        <h2>Degradado radial</h2>
    </section>

    <section>
        <p>La sintáxis básica para conseguir un degradado radial es muy similar a la del degradado linear pero,  en lugar de <code>linear-gradient</code>, utilizaremos: <em><code>radial-gradient</code></em>.</p>
         <pre><code data-trim contenteditable>
div {
    background-image: radial-gradient(HotPink, RoyalBlue);
}
        </code></pre>
        <div class="gradient-wrap" style="background-image: radial-gradient(HotPink, RoyalBlue)"></div>
    </section>

    <section>
        <p>Podemos forzar que el degradado sea un círculo en lugar de que adopte las proporciones del contenedor con el keyword <em><code>circle</code></em>.</p>
         <pre><code data-trim contenteditable>
div {
    background-image: radial-gradient(circle, HotPink, RoyalBlue);
}
        </code></pre>
        <div class="gradient-wrap" style="background-image: radial-gradient(circle, HotPink, RoyalBlue)"></div>
    </section>

    <section>
        <p>Si quisieramos que el cículo quedase contenido en su totalidad dentro del elemento usaríamos <em><code>circle closest-side</code></em>.</p>
        <p>Otros posibles valores son <em><code>closest-corner</code></em>, <em><code>farthest-corner</code></em>, <em><code>farthest-side</code></em>.</p>
         <pre><code data-trim contenteditable>
div {
    background-image: radial-gradient( circle closest-side, HotPink,
    RoyalBlue);
}
        </code></pre>
        <div class="gradient-wrap" style="background-image: radial-gradient(circle closest-side, HotPink, RoyalBlue)"></div>
    </section>

    <section>
        <p>Podemos posicionar el gradiente a partir de las <strong>coordenadas de su centro</strong>, tanto usando unidades como palabras clave.</p>
        <pre><code data-trim contenteditable>
div {
    background-image:
    radial-gradient(
        circle at top right,
        HotPink,
        RoyalBlue
    );
}
        </code></pre>
        <div class="gradient-wrap" style="background-image: radial-gradient(circle at top right, HotPink, RoyalBlue)"></div>
    </section>

    <section>
        <pre><code data-trim contenteditable>
div {
    background-image:
    radial-gradient(
        circle at 20% 60%,
        HotPink,
        RoyalBlue
    );
}
        </code></pre>
        <div class="gradient-wrap" style="background-image: radial-gradient(circle at 20% 60%, HotPink, RoyalBlue)"></div>
    </section>
</section>