{% assign img_path = './img/slides/css-background' %}

<section class="text-left">
    <section>
        <h2>Multiples imágenes de fondo</h2>
    </section>

    <section>
        <p>Podemos utilizar más de una imágen de fondo simplemente <em>separando los valores con una coma</em>.</p>
        <p>Si asignamos más de una propiedad relativa al <code>backgrouns</code> tenemos que cuidar que el orden sea el mismo para todas las propiedades.</p>
        <p>Si algunas de las imágenes se superponen será la primera de la lista la que quede al frente y el resto le seguirán en orden.</p>
    </section>

    <section>
        <pre><code data-trim contenteditable>
div {
    background:
        url(day-06/dalek.png) 140px top,
        url(day-06/megaman.png) 90px 100px;

        background-repeat: no-repeat;
}
        </code></pre>
        <div style="background-color: rgba(255,255,255, .6); width: 60%; margin: 0 auto;">
            <div class="image-wrap is--dalek" style="width: 100%; box-sizing: border-box; background: url({{ img_path }}/dalek.png) 140px top, url({{ img_path }}/megaman.png)  90px 100px; background-repeat: no-repeat;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, unde! Eum debitis quaerat voluptas itaque laborum alias ut animi. Harum necessitatibus similique id ullam distinctio cumque accusantium nostrum nisi. Accusamus!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsum.</p>
                <p>cum praesentium temporibus debitis odit ipsam est, libero eaque hic magnam! Adipisci, repudiandae, quisquam!</p>
                <p>cum praesentium temporibus debitis odit ipsam est, libero eaque hic magnam! Adipisci, repudiandae, quisquam!</p>
            </div>
        </div>
    </section>
</section>