{% assign img_path = './img/slides/sass' %}

<section>
    <section>
        <img src="{{ img_path }}/sass.png" alt="" width="250">
        <h4>(Primera parte)</h4>
    </section>
</section>

<section>
    <section>
        <h2>Variables</h2>
    </section>
    
    <section>
        <h3>Declarando Variables</h3>
        <p>Una variable es un registro donde guardamos un dato que necesitaremos aplicar en diferentes partes de nuestro código.</p>
        <p>Para poder utilizar una variable primero hemos de crearla y asignarle un valor. A este proceso se le denomina <span class="u-marked">declaración de variables</span></p>
        <hr>
        <pre><code data-trim contenteditable class="hljs scss">
$primaryColor: red;
$secondaryColor: blue;
        </code></pre>
    </section>

    <section>
        <h3>Utilizando Variables</h3>
        <p>Una vez declarada, podemos reutilizar las variables en tantos lugares de nuestro código como necesitemos.</p>
        <hr>
        <pre><code data-trim contenteditable class="hljs scss">
h1 {
    color: $primaryColor;
}

h2 {
    color: $secondaryColor;
}
        </code></pre>
    </section>

    <section>
        <p><code>scss</code></p>
        <pre><code data-trim contenteditable>
$primaryColor: red;

h1 {
    color: $primaryColor;
}
        </code></pre>
        <hr>
        <p><code>css</code></p>
        <pre><code data-trim contenteditable>
h1 {
    color: red;
}
        </code></pre>
    </section>
</section>

<section>
    <section>
        <h2>Anidación (nesting)</h2>
    </section>
    
    <section>
        <p>SASS permite anidar uno o varios selectores CSS dentro de otro.</p>
        <p>Esto nos permitirá tener nuestro código más organizado y realizar cambios con mayor facilidad.</p>
        <p>Podemos utilizar <code class="u-marked">&amp;</code> para hacer referencia al elemento padre y de esa manera lograr selectores más complejos.</p>
    </section>

    <section>
        <p><code>scss</code></p>
        <pre><code data-trim contenteditable>
.slider-container {
    float: left;

    img {
        border: none;
        display: block;
    }
}
        </code></pre>
        <hr>

        <p><code>css</code></p>
        <pre><code data-trim contenteditable>
.slider-container {
    float: left;
}
.slider-container img {
    border: none;
    display: block;
}
        </code></pre>
    </section>

    <section>
        <p><code>scss</code></p>
        <pre><code data-trim contenteditable>
.logo {
    color: red;

    header & {
        color: orange;
    }
}
        </code></pre>
        <hr>

        <p><code>css</code></p>
        <pre><code data-trim contenteditable>
.logo { color: red; }

header .logo { color: orange; }
        </code></pre>
    </section>

    <section>
        <p><code>scss</code></p>
        <pre><code data-trim contenteditable>
.tab {
    color: red;

    &.selected {
        color: orange;
    }
}
        </code></pre>
        <hr>

        <p><code>css</code></p>
        <pre><code data-trim contenteditable>
.tab { color: red; }

.tab.selected { color: orange; }
        </code></pre>
    </section>

    <section>
        <p><code>scss</code></p>
        <pre><code data-trim contenteditable>
a {
    color: red;

    &:hover {
        color: orange;
    }
}
        </code></pre>
        <hr>

        <p><code>css</code></p>
        <pre><code data-trim contenteditable>
a { color: red; }

a:hover { color: orange; }
        </code></pre>
    </section>

    <section>
        <h3>BEM Nesting</h3>
        <p>Una práctica habitual si trabajamos con un sistema de nomenclatura de componentes (como BEM), es hacer uso de la anidación de Sass para organizar los mismos.</p>
    </section>

    <section>
        <p><code>scss</code></p>
        <pre><code data-trim contenteditable>
.block {
    color: red;

    &__element {
        color: orange;

        &--modifier {
            color: lime;
        }
    }
}
        </code></pre>
        <hr>

        <p><code>css</code></p>
        <pre><code data-trim contenteditable>
.block { color: red; }
.block__element { color: orange; }
.block__element--modifier { color: lime; }
        </code></pre>
    </section>
</section>
    
<section>
    <section>
        <h2>Importar archivos</h2>
    </section>

    <section>
        <p>Para agilizar el proceso de edición y depuración de errores evitaremos trabajar con un único archivo CSS. En lugar de eso crearemos diferentes archivos SASS que separarán en módulos nuestro código.</p>
        <p>Finalmente, todos los archivos SASS los combinaremos en un sólo CSS para evitar realizar múltiples llamadas HTTP que ralentizen la carga de nuestro site.</p>
    </section>

    <section>
        <p>Para crear esa estructura modularizada utilizaremos <code class="u-marked">@import</code> en nuestro archivo style.scss.</p>
        <p>El resultado será un style.css con <strong>todo el código importado.</strong></p>
        <pre><code data-trim contenteditable>
// Contenido de style.scss

@import "base/header";
@import "base/layout";
@import "base/footer";
@import "tipography/headings";
@import "components/buttons";
@import "components/boxes";
        </code></pre>
    </section>

    <section>
        <h3>Nombres de archivos</h3>
        <p>Para indicar en SASS que un archivo .scss concreto no debe generar un .css correspondiente, le añadimos un "_" delante del nombre.</p>
        <p>De esta forma el contenido de este fichero solo se procesará cuando sea importado por otro.</p>
    </section>

    <section>
        <p>La estructura de archivos quedaría así:</p>
        <img src="{{ img_path }}/estructura-sass.png" alt="" style="margin: -20px 0 0 0;">
    </section>

    <section>
        <p>La importancia de modularizar con @import</p>
        <p>Un proyecto web se compone de múltiples elementos. Creando un archivo SASS para cada uno facilitamos el mantenimiento y el debug de errores.</p>
        <p class="marker"><strong>Una propuesta de estructura sería:</strong></p>
        <ul>
            <li><span class="marker">styles.scss</span>=> Relizamos todos los imports</li>
            <li><span class="marker">settings.scss</span>=> Declaramos las variables de entorno</li>
            <li><span class="marker">/helpers</span>=> Carpeta donde incluimos: normalize, clearfix, etc...</li>
            <li><span class="marker">/grid</span>=> Carpeta donde incluimos el framework o grid</li>
            <li><span class="marker">/layout</span>=> Carpeta de archivos que dan estructura al site</li>
            <li><span class="marker">/components</span>=> Carpeta de elementos reutilizables</li>
            <li><span class="marker">/theme</span>=> Carpeta en la que definimos la presentación</li>
        </ul>
    </section>


</section>