{% assign img_path = './img/slides/sass' %}
<section>
  <section>
    <h3>Operaciones aritméticas</h3>
    <p>SASS permite realizar operaciones aritméticas que utilizaremos para computar valores de declaraciones directamente como en el siguiente ejemplo:</p>
    <pre><code data-noescape data-trim contenteditable>
article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role="complimentary"] {
  float: right;
  width: 300px / 960px * 100%;
}
</code></pre>
</section>

<section>
  <h3>Resultado</h3>
  <p>SASS permite realizar operaciones aritméticas que utilizaremos para computar valores de declaraciones directamente como en el siguiente ejemplo:</p>
  <pre><code data-noescape data-trim contenteditable>
article[role="main"] {
  float: left;
  width: 62.5%;
}

aside[role="complimentary"] {
  float: right;
  width: 31.25%;
}
</code></pre>
<small>Operaciones: + - * / %</small>
</section>
</section>
