{% assign img_path = './img/slides/sass' %}

<section class="unix">

    <section>
        <img src="{{ img_path }}/sass.png" alt="" width="250">
        <h4>Instalación de SASS</h4>
    </section>

    <section>
        <h3>Gema Ruby</h3>
        <h4 class="marker">Instalaremos SASS utilizando la instrucción Ruby "Gem"</h4>
        <pre><code data-trim contenteditable>

$ sudo gem install sass

        </code></pre>
        <p>En MacOSX Ruby viene instalado. Desde Windows tenemos que instalarlo.</p>
        <a href="http://rubyinstaller.org/" target="_blank"><img src="{{ img_path }}/ruby.png" alt="" width="100"></a>
    </section>

    <section>
        <h3>Permisos de Usuario</h3>
        <p class="marker">Debemos de autentificarnos como super-usuarios para poder realizar la instalación de la Gema Ruby SASS con la instrucción <code style="font-size: 1em">sudo</code></p>
        <pre><code data-trim contenteditable style="font-size: 1em; line-height: 1.7">
$ sudo gem install sass

Password: *******
Successfully installed sass-3.4.13
Parsing documentation for sass-3.4.13
1 gem installed

        </code></pre>
    </section>

    <section>
        <h3>Preprocesado SASS</h3>
        <p>El único formato de estilos que entienden los navegadores web es el <span class="marker">CSS</span>. Mediante SASS traducimos su sintaxis y todas sus funcionalidades a CSS estandar.</p>
        <p class="marker">Se llama pre-procesado de SASS a la acción de convertir la sintaxis SASS al CSS que posteriormente procesará el navegador web para renderizar la página.</p>
    </section>

    <section>
        <h3>Tipos de archivo</h3>
        <p>Para el preprocesado necesitaremos tener una carpeta con los archivos de nuestro proyecto web en SASS que hará de <span class="marker">origen</span> y otra carpeta de <span class="marker">destino</span> en la que generaremos de forma automática los archivos CSS estandar.</p>
        <p>La extensión de archivo SASS es <span class="marker">.scss</span></p>
        <img src="{{ img_path }}/folders.png" alt="" width="400">
    </section>

    <section>
        <h3>SASS Watching</h3>
        <p>Una vez creados los directorios origen/destino indicamos a SASS que "vigile" los cambios que se produzcan en la carpeta de origen</p>
        <pre><code data-trim contenteditable>
$ sass --watch src/sass:public/css
        </code></pre>
        <p class="marker">El preprocesador SASS generará en tiempo real el archivo CSS resultante de las modificaciones que hagamos en el archivo de origen en SASS.</p>
    </section>

    <section>
        <h3>Sobre los archivos .scss</h3>
        <p>Una vez finalizado el proyecto en SASS <span class="marker">solo subiremos la carpeta con los archivos CSS</span>. Los archivos SASS los guardaremos por si necesitamos editar o añadir nuevos cambios.</p>
        <p>Los archivos SASS vienen a ser los PSD's de un diseño web.</p>
    </section>



</section>