{% assign img_path = './img/slides/sass' %}

<section data-background="#66CEFF">

    <h3 style="color: #444; text-shadow: none; font-weight: bold">Ejercicio</h3>
    <p style="color: #444; text-shadow: none;">Refactoriza tu proyecto en SASS y sube los cambios a Git</p>
    <p style="color: #444; text-shadow: none;">Deberás de modularizar la estructura CSS actual de tu proyecto en  módulos SASS separados según tipología.</p>

    <img src="{{ img_path }}/loading-cat.gif" alt="" width="500" style="border: none; box-shadow: none">
    <small style="margin-top:-60px">meowww</small>
</section>