{% assign img_path = './img/slides/css-pseudoclasses' %}

<section class="text-left">
    <section>
        <h2>Pseudoelementos CSS</h2>
    </section>

    <section>
        <h4 style="text-transform: none">Llamamos <span class="marker">pseudo elemento</span> a una abstracción de un elemento en sí que puede no existir en el propio DOM.<br />
        También pueden referirse a una parte específica del elemento.</h4><br />

        <h4 style="text-transform: none">Su sintaxis es el nombre precedido por <span class="marker">::</span></h4>

        <h3 style="text-transform: none; color:#FF7F03">elemento<span class="marker">::pseudoelemento</span></h3>
    </section>

    <section>
        <h3>Pseudoelemento <span class="marker">::before</span></h3>
        <p style="text-align: center">
            Insertamos contenido <span class="marker">antes</span> de un elemento dado.
        </p>
        <pre><code data-trim contenteditable>
/* Insertamos un gato antes del párrafo */
p::before {
    content: "";
    background-image: url(cat-watching.gif);
    float: left; margin: 0 30px 0 50px; height: 250px; width: 400px;
}

        </code></pre>
        <p class="catwatching">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, accusantium aspernatur reprehenderit in, doloribus nobis nisi quae tempora magni perspiciatis beatae!</p>

    </section>

    <section>
        <h3>Pseudoelemento <span class="marker">::after</span></h3>
        <p style="text-align: center">
            Del mismo modo, podemos añadir contenido <span class="marker">después</span> de un elemento.
        </p>
        <pre class="whitecat-pre"><code data-trim contenteditable>
/* Insertamos otro gato después del párrafo */
p::after {
    content: "";
    background-image: url(whitecat.gif);
    position: absolute;
        top: -222px;
        right: -250px;
}

        </code></pre>
        <p class="whitecat">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, accusantium aspernatur reprehenderit in, doloribus nobis nisi quae tempora magni perspiciatis beatae!</p>

    </section>

    <section>
        <h3>Pseudoelemento <span class="marker">::first-letter</span></h3>
        <p style="text-align: center">
            Seleccionan únicamente la primera letra de la primera línea de un bloque.
        </p>
        <pre><code data-trim contenteditable>
/* Destacamos sólo la primera letra */
p::first-letter {
    background-color: rgba(255, 255, 255, 0.2);
    color: #D5C70F;
    display: inline-block;
    float: left;
    text-shadow: 2px 2px 2px #000;
}

        </code></pre>
        <p class="firstletter">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, accusantium aspernatur reprehenderit in, doloribus nobis nisi quae tempora magni perspiciatis beatae!</p>

    </section>

    <section>
        <h3>Pseudoelemento <span class="marker">::first-line</span></h3>
        <p style="text-align: center">
            Seleccionan únicamente la primera línea de un elemento de bloque que contenga texto. Sólo tiene efecto en elementos con su propiedad "display" en: block, inline-block, table-cell o table-caption.
        </p>
        <pre><code data-trim contenteditable>
/* Destacamos sólo la primera línea */
p::first-line {
    color: #D5C70F;
    font-size: 1.2em;
    line-height: 1.2;
    text-shadow: 2px 2px 2px #000;
}

        </code></pre>
        <p class="firstline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, accusantium aspernatur reprehenderit in, doloribus nobis nisi quae tempora magni perspiciatis beatae!</p>

    </section>

    <section>
        <h3>Pseudoelemento <span class="marker">::selection</span></h3>
        <p style="text-align: center">
            Se aplica únicamente a la parte de texto que ha sido seleccionada por el usuario con el mouse mediante pulsar y arrastrar.
        </p>
        <pre><code data-trim contenteditable>
/* Texto destacado */
p::selection {
    color: #D5C70F;
    background: transparent;
    text-shadow: 2px 2px 2px #000;
}

        </code></pre>
        <p class="selection">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, accusantium aspernatur reprehenderit in, doloribus nobis nisi quae tempora magni perspiciatis beatae!</p>

        <small class="marker">Este selector ha sido eliminado de la especificación CSS3 pero de momento los navegadores siguen dándole soporte.</small>

    </section>

    <section>
        <h3>Pseudoelemento <span class="marker">::backdrop</span></h3>
        <p style="text-align: center">
            Se aplica únicamente cuando utilizamos la vista de navegador a pantalla completa.<br />
            Este pseudoelemento se usa junto a la pseudoclase :fullscreen.
        </p>
        <pre><code data-trim contenteditable>
/* Backdrop con un contenido fullscreen */
*:fullscreen::backdrop {
  position:fixed;
  top:0; right:0; bottom:0; left:0;
  background:black;
}
iframe:fullscreen {
  /* Añadimos los estilos del contenido que queremos ver a pantalla completa */
}

        </code></pre>
        
        <p style="text-align: center"><a href="https://developer.mozilla.org/samples/domref/fullscreen.html" target="_blank">ver ejemplo</a></p>

    </section>

    <section>
        <h3>Index of standard pseudo-elements</h3>
        <p style="text-align: center">
            En Mozilla Developer Network podemos consultar el listado completo de pseudoelementos soportados actualmente. <br />
            Es necesario consultar la compatibilidad de cada uno en los diferentes navegadores web.
        </p>
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements" target="_blank"><img src="{{ img_path }}/indexOfPseudoelements.png" alt=""></a>
    </section>

</section>