<section class="text-left">
    <section>
        <h2>Unidades de medida en CSS</h2>
    </section>

    <section>
        <p>Las unidades de medida en CSS pueden dividirse en <strong>dos grandes grupos</strong>: <em>unidades absolutas</em> y <em>unidades relativas</em></p>
        <p>La sintaxis para declarar una medida siempre será igual: un número seguido de la unidad correspondiente. Algunas propiedades CSS aceptan <strong>valores negativos</strong>.</p>
    </section>

                <section>
                    <h3>Unidades absolutas</h3>
                    <p>Las unidades absolutas son las más directas, están relacionadas a una medida física. La más utilizada es el pixel pero hay varias más:</p>
                    <ul class="font-list" style="font-size: 2.2rem;">
                        <li>
                            <p style="margin-bottom:0;"><code>px</code> <span style="font-size: 1.6rem;">(píxel)</span></li>
                        <li>
                            <p style="margin-bottom:0;"><code>mm</code> <span style="font-size: 1.6rem;">(milimetro)</span></li>
                        <li>
                            <p style="margin-bottom:0;"><code>cm</code> <span style="font-size: 1.6rem;">(centímetro, 10 millimeters)</span></li>
                        <li>
                            <p style="margin-bottom:0;"><code>in</code> <span style="font-size: 1.6rem;">(pulgada, 2.54 centímetros)</span></li>
                        <li>
                            <p style="margin-bottom:0;"><code>pt</code> <span style="font-size: 1.6rem;">(punto, 1/72 de pulgada)</span></li>
                        <li>
                            <p style="margin-bottom:0;"><code>pc</code> <span style="font-size: 1.6rem;">(pica, 12 puntos)</span></li>
                    </ul>
                </section>
                <section>
                    <h3>Unidades relativas</h3>
                    <p>Las unidades relativas son un poco más complicadas ya que su valor no es fijo sino que dependen de la medida de otro elemento. También pueden dividirse en tres grupos más pequeños: <em>unidades relativas al tamaño de fuente</em>, <em>unidades relativas al viewport</em> y <em>porcentajes</em>.</p>
                </section>

                <section>
                    <h3>Relativas al tamaño de fuente</h3>
                    <ul class="font-list" style="font-size: 2.2rem;">
                        <li>
                            <p style="margin-bottom:0;"><code>em</code></p>
                            <p style="font-size: 1.5rem;">Es un número relativo al <code>font-size</code> del elemento. Si se aplica a la misma propiedad <code>font-size</code> se calculará en base al <code>font-size</code> heredado.</p>
                        </li>
                        <li>
                            <p style="margin-bottom:0;"><code>rem</code></p>
                            <p style="font-size: 1.5rem;">Hace referencia al <code>font-size</code> del elemento root (normalmente el <code>&#60;html&#62;</code>). Si se aplica sobre este usara de base su valor inicial.</p>
                        </li>
                        <li>
                            <p style="margin-bottom:0;"><code>ex</code></p>
                            <p style="font-size: 1.5rem;">Representa la <i>x-height</i> del elemento fuente, normalmente la altura del caracter "x" en minúsculas.</p>
                        </li>
                        <li>
                            <p style="margin-bottom:0;"><code>ch</code></p>
                            <p style="font-size: 1.5rem;">Representa el ancho del carácter "0".</p>
                        </li>
                    </ul>
                </section>

                <section>
                    <h3>Relativas al viewport</h3>
                    <ul class="font-list" style="font-size: 2.2rem;">
                        <li>
                            <p style="margin-bottom:0;"><code>vh</code></p>
                            <p style="font-size: 1.5rem;">1/100 del alto del viewport.</p>
                        </li>
                        <li>
                            <p style="margin-bottom:0;"><code>vw</code></p>
                            <p style="font-size: 1.5rem;">1/100 del ancho del viewport.</p>
                        </li>
                        <li>
                            <p style="margin-bottom:0;"><code>vmin</code></p>
                            <p style="font-size: 1.5rem;">1/100 del valor más bajo entre el alto y ancho del viewport.</p>
                        </li>
                        <li>
                            <p style="margin-bottom:0;"><code>vmax</code></p>
                            <p style="font-size: 1.5rem;">1/100 del valor más alto entre el alto y ancho del viewport.</p>
                        </li>
                    </ul>
                </section>

                <section>
                     <h3>Porcentajes</h3>
                     <p>Podemos asignar una unidad de medida porcentual con un <em>valor seguido del signo "%"</em> (ej: 50%). El contexto que se utilizará para calcular el porcentaje variará dependiendo a que propiedad se aplique.</p>
                     <p>Si se aplica al <code>font-size</code>, el porcentaje será relativo al <code>font-size</code> del elemento padre.</p>
                     <p>Si se aplica al <code>width</code>, <code>margin</code> o <code>padding</code>, será relativo a las medidas de su contenedor.</p>
                </section>
            </section>
