{% assign img_path = './img/slides/css-pseudoclasses' %}

<section>
    <section>
        <h3>Links relacionados</h3>
        <ul style="font-size: 1.8rem">
            <li style="margin-bottom: .4em;">
                <strong>Index of standard pseudo-classes</strong> <i style="color: #999;"> &mdash; MDN</i><br>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes" style="font-size: .8em; margin-top: -.5rem; display:block;">https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes</a>
            </li>

            <li style="margin-bottom: .4em;">
                <strong>All pseudo-elements</strong> <i style="color: #999;"> &mdash; MDN</i><br>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements" style="font-size: .8em; margin-top: -.5rem; display:block;">https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements</a>
            </li>

            <li style="margin-bottom: .4em;">
                <strong>:target</strong> <i style="color: #999;"> &mdash; CSS Tricks</i><br>
                <a href="http://css-tricks.com/almanac/selectors/t/target/" style="font-size: .8em; margin-top: -.5rem; display:block;">http://css-tricks.com/almanac/selectors/t/target/</a>
            </li>

            <li style="margin-bottom: .4em;">
                <strong>:nth tester tool</strong> <i style="color: #999;"> &mdash; CSS Tricks</i><br>
                <a href="http://css-tricks.com/examples/nth-child-tester/" style="font-size: .8em; margin-top: -.5rem; display:block;">http://css-tricks.com/examples/nth-child-tester/</a>
            </li>

            <li style="margin-bottom: .4em;">
                <strong>:nth recipes</strong> <i style="color: #999;"> &mdash; CSS Tricks</i><br>
                <a href="http://css-tricks.com/useful-nth-child-recipies/" style="font-size: .8em; margin-top: -.5rem; display:block;">http://css-tricks.com/useful-nth-child-recipies/</a>
            </li>
            
           
        </ul>
    </section>
</section>