
/* Si al final no usas clearfix no deberías de dejarlo en el CSS */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix{
    *zoom:1;
}

body{
    font-family: 'Open Sans' sans-serif;
    margin: 0;
}

header{
    background-color: #004f70;
    height: 70px;
    overflow: scroll, hidden;
    position: fixed;
    /* Falta el valor de top */
    top;
    width: 100%;
    z-index: 1;
}

.contenedormenu{
    margin: 0 auto;
    width: 854px;
    margin-top: 10px;
}

.logo{
    float:left;
    padding-top: 15px;
    width: 120px;
}

li{
    color:#6ca7c0;
    display: inline-block;
    font-family: 'Open sans Condensed', sans-serif;
    font-size: 15px;
    font-weight: bold;
    list-style: none;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
}

nav{
    float: right;
}

.seleccionado{
    color: white;
    font-weight: normal;
}

.revista{
    float: left;
    margin-top: 120px;
    width: 450px;
}

/* Muy bien! has extraido propiedades comunes y despues has añadido una clase para aplicar la imagen correspondiente */
.campos{
    background-size: contain;
    background-position: 3% 50%;
    background-repeat: no-repeat;
    height: 10px;
    padding-left: 50px;
    position: relative;
}

.name{
    background-image: url(../img/user.png);
}

.email{
    background-image: url(../img/email.png);
}

.password{
    background-image: url(../img/pass.png);
}

.checkbox {
    display: inline;
    float:left;
    margin-left: 35px;
    width: 20px;
}

.privacidad{
    float:left;
    display: inline;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}

.formulario{
    background-color: rgba(0,0,0, .6);
    background-clip: border-box;
    border-color: #009bdb;
    border-style: solid;
    border-width: 6px;
    float: right;
    margin-top: 120px;
    width: 300px;
}

input{
    border-style: none;
    border-radius: 5px;
    box-shadow: none;
    display: block;
    font-family: 'Open Sans Condensed' sans-serif;
    font-size: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    width: 170px;
}

.privacidad{
    font-size: 12px;
    display: inline;
}

.enviar{
    background-color: #009bdb;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 5px;
    width: 140px;
    text-transform: uppercase;
}

.newsletter{
    font-family: 'Open Sans Condensed' sans-serif;
    font-size: 20px;
    text-align: center;
}

.background1{
    background-image: url(../img/minimalist.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
}

.contenedorsuperior{
    margin: 0 auto;
    width: 854px;
}

h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    text-shadow: 0.02em 0.02em white;
}

.textoslider{
    background-color: rgba(255,255,255, .6);
    padding: 10px;
    width: 427px;
}

.suscribir{
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0.02em 0.02em white;
}

.masinfo{
    background-color: #009bdb;
    border-style: none;
}

button{
    margin-top: 20px;
    width: 200px;
}

p{
    color: white;
    font-size: 16px;
    padding: 5px;
}

.containerideas{
    margin: 0 auto;
    overflow: auto;
    width: 854px;
}

.caja{
    overflow: auto;
    position: relative;
    margin-top: 20px;
}

.ideas{
    background-color: #009bdb;
    float: left;
    width: 350px;
}

.promociones{
    background-color: #0088c1;
    float: right;
    width: 480px;
}

.icono{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
}

h3{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin: 0;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.textoicono{
    /* deberías de usar la clase clearfix */
    clear: both;
    float: none;
    font-size: 16px;
    font-weight: normal;
    margin: 0 auto;
    padding: 20px 40px;
    text-align: center;
 }

.anuncio{
    clear: both;
    float: left;
    width: 300px;
}

h2{
    color: #004e72;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 90px;
    text-transform: uppercase;
}

.textodescarga{
    color: #004e72;
    float: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.mobile{
    float: right;
    /* agrupa propiedades margin */
    margin-top: 70px;
    margin-bottom: 70px;
    width: 450px;
}

.app, .googleplay{
    padding-top: 25px;
    width: 120px;
}

.backgroundecora{
    /* agrupa propiedades background */
    background-image: url(../img/decora.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
}

.decora{
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 40%;
    left: 40%;
    width: 250px;
}

.textofondo2{
    font-family: 'Open Sans Condensed' sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
    text-transform: uppercase;
}

.imagenestestimonios{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/testimonios.jpg);
    height:380px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    width: 854px;
}

.testimonios{
    position: absolute;
    width: 300px;
}

.minuscula{
    text-transform: capitalize;
}

.textotestimonios{
    color: #004e72;
    font-style: italic;
}

.autor{
    color: #004e72;
    font-style: italic;
    font-weight: bolder;
}

footer{
    background-color: #004f70;
}

.textofooter{
    font-size: 10px;
    margin: 0px;
    overflow: auto;
    padding: 80px;
    text-align: center;
}

/* agrupa elementos con mismas declaraciones de color */

a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: gray;
}

a:active{
    color: gray;
}